@using System.Data

@{
    Layout = null;
    ViewData["Title"] = "StackSearch_P";
}

@{
    var StackSearch_PData = @Html.Raw(Json.Encode(ViewBag.StackSearch_PData.Data));
    var StackSearch_PAuth = @Html.Raw(Json.Encode(ViewBag.StackSearch_PAuth.Data));
}

<script type="text/javascript" id="StackSearch_PJs">

    // SP 구문, gubun 변수
    var StackSearch_P_Gubun = "";

    // 메뉴 권한
    var _StackSearch_PAuth;

    $(function () {

        // 좌측 그리드 객체 생성
        $("#StackSearch_P_LeftGrid").dxDataGrid("instance").option("dataSource", JSON.parse(@StackSearch_PData));
        $("#StackSearch_P_LeftGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
        $("#StackSearch_P_LeftGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

        // 사용자 권한
        _StackSearch_PAuth = JSON.parse(@StackSearch_PAuth)[0];

        if (_StackSearch_PAuth.form_query != "Y") {
            $("#StackSearch_PSearch").remove();
        }

    });

    // 포커스 체인지 (좌측 그리드 -> 우측 위 그리드 출력)
    function StackSearch_P_Left_changed() {

        var gridData = $("#StackSearch_P_LeftGrid").dxDataGrid("instance").option("focusedRowKey");

        $.ajax({
            type: 'POST',
            url: '/RowMatLoc/StackSearch_Test_Select',
            data: {
                item_cd: gridData
            },
            success: function (result) {

                if (result.length <= 0) {
                    $("#StackSearchRightUpGrid_P").dxDataGrid("instance").option("dataSource", []);
                    $("#StackSearchRightUpGrid_P").dxDataGrid("instance").option("focusedRowEnabled", false);

                    return;
                }

                if (JSON.parse(result).sessionLoss) {
                    alert("세션이 만료되었습니다.");
                    sessionStorage.clear();
                    location.replace("/Comm/Login");
                }


                $("#StackSearchRightUpGrid_P").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                $("#StackSearchRightUpGrid_P").dxDataGrid("instance").option("focusedRowEnabled", true);
                $("#StackSearchRightUpGrid_P").dxDataGrid("instance").option("focusedRowIndex", 0);
            }
        });

    }

    // 포커스 체인지 (우측 위 그리드 -> 우측 아래 그리드 출력)
    function StackSearch_P_UP_changed() {

        var grid = $("#StackSearchRightUpGrid_P").dxDataGrid("instance");
        var gridData = getGridRowByKey('StackSearchRightUpGrid_P', grid.option("focusedRowKey"));

        $.ajax({
            type: 'POST',
            url: '/RowMatLoc/StackSearch_ReceiptPack_Select',
            data: {
                receipt_no: gridData.receipt_no,
                receipt_id: gridData.receipt_id
            },
            success: function (result) {

                if (result.length <= 0) {
                    $("#StackSearchRightDownGrid_P").dxDataGrid("instance").option("dataSource", []);
                    $("#StackSearchRightDownGrid_P").dxDataGrid("instance").option("focusedRowEnabled", false);
                    return;
                }

                if (JSON.parse(result).sessionLoss) {
                    alert("세션이 만료되었습니다.");
                    sessionStorage.clear();
                    location.replace("/Comm/Login");
                }

                $("#StackSearchRightDownGrid_P").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                $("#StackSearchRightDownGrid_P").dxDataGrid("instance").option("focusedRowEnabled", true);
                $("#StackSearchRightDownGrid_P").dxDataGrid("instance").option("focusedRowIndex", 0);
            }
        });
    }



</script>


<div id="StackSearch_P" autoresize="Y">

    <div class="mainTop row">

        <!-- $검색폼-->
        <div class="col-8"></div>
        <!-- $CRUD버튼-->
        <div class="CRUD-btn col-4"></div>
    </div>

    <div class="row">
        <div class="col-5 pr-0">
            <!-- 좌측 그리드 -->
            <div class="box mb-0">
                @(Html.DevExtreme().DataGrid()
                    .ID("StackSearch_P_LeftGrid")
                    .ShowBorders(true)
                    .SearchPanel(searchPanel => searchPanel.Visible(true))
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .ColumnAutoWidth(true)
                    .AllowColumnResizing(true)
                    .HoverStateEnabled(true)
                    .KeyExpr("item_cd")
                    .Height(900)
                    .ShowColumnLines(true)
                    .Columns(c =>
                    {
                        c.Add().DataField("item_cd").Caption("자재코드");
                        c.Add().DataField("item_nm").Caption("자재명");
                    })
                    .OnFocusedRowChanged("StackSearch_P_Left_changed")
                )
            </div>
        </div>
        
        <div class="col-7">
            <div class="box mb-0">
                <!-- 우측 위 그리드 -->
                <div class="divName">
                    <p>시험번호 적치현황</p>
                </div>
                @(Html.DevExtreme().DataGrid()
                    .ID("StackSearchRightUpGrid_P")
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .Height(400)
                    .ShowColumnLines(true)
                    .ColumnAutoWidth(true)
                    .AllowColumnResizing(true)
                    .HoverStateEnabled(true)
                    .KeyExpr("test_no")
                    .Columns(c =>
                    {
                        c.Add().DataField("test_no").Caption("시험번호");
                        c.Add().DataField("receipt_remain_qty").Caption("재고량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("receipt_pack_unit").Caption("단위").Alignment(HorizontalAlignment.Center);
                    })
                    .ShowBorders(true)
                    .OnFocusedRowChanged("StackSearch_P_UP_changed")
                )
                <!-- 우측 아래 그리드 -->
                <div class="divName">
                    <p>바코드 적치현황</p>
                </div>

                @(Html.DevExtreme().DataGrid()
                    .ID("StackSearchRightDownGrid_P")
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .Height(425)
                    .ShowColumnLines(true)
                    .ColumnAutoWidth(true)
                    .AllowColumnResizing(true)
                    .HoverStateEnabled(true)
                    .KeyExpr("receipt_pack_barcode")
                    .Columns(c =>
                    {
                        c.Add().DataField("receipt_pack_barcode").Caption("바코드");
                        c.Add().DataField("receipt_pack_qty").Caption("입고량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("receipt_pack_remain_qty").Caption("재고량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("workroom_nm").Caption("창고");
                        c.Add().DataField("zone_nm").Caption("구역");
                        c.Add().DataField("cell_nm").Caption("셀");
                    })
                    .ShowBorders(true)
                )

            </div>
        </div>

    </div>

</div>