@using HACCP.Libs;

@model HACCP.Models.User


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New GMS</title>
    <link href="~/Content/favicon.ico" rel="shortcut icon" type="image/x-icon" />


    <!-- DevExtreme Diagram-->
    <link rel="stylesheet" href="~/Content/css/devextreme/dx-diagram.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/css/Site.css" />

    <link rel="stylesheet" href="~/Content/css/devextreme/dx.material.aos_stylesheet.css" />

    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/paper_dashboard/css/themify-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css" />

    <!-- toast message -->
    <link rel="stylesheet" href="~/Content/toastr.min.css" />

    <!-- DevExtreme Diagram-->
    <script type="text/javascript" src="~/Scripts/dx-diagram.min.js"></script>

    <script src="~/Scripts/jszip.js"></script>


    <script src="~/Scripts/haccp/vendor.js" asp-append-version="true"></script>

    <script src="~/Scripts/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/datepicker/bootstrap-datepicker.ko.min.js"></script>

    <script type="text/javascript" src="~/Scripts/localization/dx.messages.ko.js"></script>

    <script src="~/Scripts/aspnet/dx.aspnet.data.js"></script>
    <script src="~/Scripts/aspnet/dx.aspnet.mvc.js"></script>

    <script src="~/Scripts/haccp/_Layout.js" defer></script>
    <script src="~/Scripts/haccp/_SignCommon.js"></script>

    <script src="@Url.Action( "CldrData", "Comm", new { t = CldrDataScriptBuilder.GetCacheParam() })"></script>

    <!--  Forms Validations Plugin -->
    <script src="~/Content/paper_dashboard/js/jquery.validate.min.js"></script>
    <!-- Jquery Mask -->
    <script src="~/Content/paper_dashboard/js/jquery.mask.min.js"></script>

    <script type="text/javascript" src="~/Scripts/lib/jquery/jquery-barcode.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/readonly.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>

    <!-- Excel데이터 접근을 위한 SheetJS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>

    <!--toast message -->
    <script src="~/Scripts/toastr.min.js"></script>

    <script>
        var sessionTimer = null;

        $(document).ready(function () {

            setInterval(function () {
                $.ajax({
                    type: 'post',
                    url: '/Comm/UpdateSession',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //console.log(result);
                    },
                    error: function (request, status, error) {
                        if (request.status == 401) {
                            sessionStorage.clear();
                            reLogIn();
                        }
                    }
                })

            }, 30000); // 30초 마다 서버에 요청(서버 세션 연장을 위해)


            // 클라이언트 세션 스토리지 관리 START ----------------------------------------

            reLoginPopup(); // setTimeout으로 특정 시간 이후 세션 스토리지 비우고 로그인창 띄움

            var drawer = document.getElementById("drawer");
            // 클릭 이벤트 있을때마다 setTimeout 시간 초기화
            drawer.onclick = function (event) {
                clearTimeout(sessionTimer);
                reLoginPopup();
            };
            // 키보드 이벤트 있을때마다 setTimeout 시간 초기화
            window.onkeydown = function (event) {
                clearTimeout(sessionTimer);
                reLoginPopup();
            }

            // 클라이언트 세션 스토리지 관리 END ----------------------------------------
        });

        //토스트 메시지 기본옵션 변경
        toastr.options = {
            "positionClass": "toast-bottom-center",    //위치
            "timeOut": "2000",                      //사라지는 시점
            //"progressBar": true                     //창 하단 프로그레스 바
        }
    </script>

    <style>
        #wrapper.active #sidebar-wrapper {
            left: 50px;
        }

        /*history
            --------------------------------------------------
            date        comment
            --------------------------------------------------
            2020-12-15  padding-bottom 수정 =>  (기존)16px -> (변경)제거)
        */
        #content {
            min-height: 100%;
            position: relative;
            /*padding-bottom: 16px;*/
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>

    @RenderSection("Localization", false)

    @*@Styles.Render("~/Content/DevExtremeBundle")
        @Scripts.Render("~/Scripts/DevExtremeBundle")*@


</head>

<body class="dx-theme-background-color">

    @* === 마스터 팝업 === *@
    <div id="SearchPopup"></div>

    @* === 마이페이지 팝업 === *@
    @(Html.DevExtreme().Popup()
        .ID("MyPagePopup")
        .Width(600)
        .Height(250)
        .ShowTitle(true)
        .Title("내 정보")
        .Visible(false)
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
    )

<div class="drawer">

    @(Html.DevExtreme().Drawer()
            .ID("drawer")
            .OpenedStateMode(DrawerOpenedStateMode.Shrink)
            .Opened(true)
            .Position(DrawerPosition.Left)
            .RevealMode(DrawerRevealMode.Slide)
            .MaxSize(250)
            .Height("100%")
            .CloseOnOutsideClick(false)
            .Content(@<text>
                <div id="content">
                    <main role="main">
                        <div class="toolbar">
                            @(Html.DevExtreme().Toolbar()
                                .ID("LayoutToolBar")
                                .Items(items => {
                                    items.Add()
                                        .Widget(w =>
                                            w.Button()
                                            .Icon("menu")
                                            .OnClick("openButton_click")
                                        )
                                    .Location(ToolbarItemLocation.Before);
                                })
                                .Items(items => {
                                    items.Add()
                                        .Widget(w =>
                                            w.Button()
                                            .Text("New GMS")
                                            .OnClick("homeButton_click")
                                        )
                                    .Location(ToolbarItemLocation.Before);
                                })
                                .Items(items => {
                                    items.Add()
                                        .Widget(w =>
                                            w.DropDownButton()
                                            .ID("loginDropDown")
                                            .Icon("user")
                                            .DropDownOptions(options =>
                                                options.Width(150)
                                            )
                                            .DataSource(new[] {
                                                new {
                                                    id = "로그아웃",
                                                    cd = "logout",
                                                    isLogedin = true,
                                                    url="/Comm/LogOut"
                                                },
                                                new {
                                                    id = "내 정보",
                                                    cd = "My Page",
                                                    isLogedin = true,
                                                    url="/Comm/MyPage"
                                                }
                                            })
                                            .DisplayExpr("id")
                                            .OnItemClick("downloadButton_click")
                                        )
                                    .Location(ToolbarItemLocation.After);
                                }).
                                ID("AccountDropDown")
                            )
                        </div>

                        <div id="tabsContainer">

                        </div>

                        <div id="contentDiv">

                            @(Html.DevExtreme().LoadPanel()
                                .ID("loadPanel")
                                .ShadingColor("rgba(0,0,0,0.25)")
                                .Position(p => p.Of("#drawer"))
                                .Visible(false)
                                .ShowIndicator(true)
                                .IndicatorSrc("https://js.devexpress.com/Content/data/loadingIcons/rolling.svg")
                                .Animation(a=>
                                {
                                    a.Show(sa => sa.Type(AnimationType.FadeIn).Duration(300));
                                    a.Hide(ha => ha.Type(AnimationType.FadeOut).Duration(300));
                                })
                                .ShowPane(true)
                                .Shading(true)
                                .CloseOnOutsideClick(false)
                            )

                            @RenderBody()
                        </div>

        @*
        <footer>
            <div class="dx-item-content container footer">
                &copy; <span>Copyright 2020 AOS SmartHaccp All Rights Reserved.</span>
            </div>
        </footer>
        *@

                    </main>
                </div>
            </text>).
            Template(@<text>
                <div style="width:250px">
                    @(Html.DevExtreme().TreeView()
                        .SearchEnabled(true)
                        .ID("simple-treeview")
                        .DataSource(D =>
                            D.WebApi()
                            .RouteName("Comm")
                            .LoadAction("GetMenuData")
                        )
                        .DataStructure(TreeViewDataStructure.Plain)
                        //.DataSourceOptions(o => o.Map("mapData"))
                        .ParentIdExpr("Parent_cd")
                        .KeyExpr("ID")
                        .RootValue("G-00000000")
                        .FocusStateEnabled(true)
                        .DisplayExpr("Child_nm")
                        .ExpandedExpr("Expanded")
                        .Width(250)
                        .OnItemClick("treeViewItemClick")
                    )
                </div>
            </text>)
        )
    @* === 로그인 팝업 === *@
    @(Html.DevExtreme().Popup()
        .ID("LoginPopup")
        .Width(600)
        .Height(350)
        .ShowTitle(false)
        //.Title("로그인")
        .Visible(false)
        .DragEnabled(false)
        .ShadingColor("rgba(0, 0, 0, 0.5)")
        .ContentTemplate(new TemplateName("loginPopupTemplate"))
        )

    @using (Html.DevExtreme().NamedTemplate("loginPopupTemplate"))
    {
        <div id="loginFieldset">
            <div class="align-center p-2"><img style="max-height: 100%; max-width: 100%;" /></div>

            <form id="loginForm">

                <div class="dx-field">
                    <div class="dx-field-label">
                        @Html.LabelFor(m => m.txt_ID, "User ID")
                    </div>
                    <div class="dx-field-value">

                        @(Html.DevExtreme().TextBox()
                            .Name("txt_ID")
                            .Placeholder("Your ID")
                            .Value("")
                            .ID("loginID")
                        )
                    </div>
                </div>

                <div class="dx-field">
                    <div class="dx-field-label">
                        @Html.LabelFor(m => m.txt_Pass, "PassWord")
                    </div>
                    <div class="dx-field-value">
                        @(Html.DevExtreme().TextBox()
                        .Name("txt_Pass")
                        .Placeholder("Password")
                        .Value("")
                        .Mode(TextBoxMode.Password)
                        .ID("loginPW")
                    //.OnKeyUp("enterkey")
                    )
                    </div>
                </div>

                <div class="dx-fieldset">
                    @(Html.DevExtreme().Button()
                    .ID("logIn")
                    .Text("Log In")
                    .Height(40)
                    .Width("100%")
                    .Type(ButtonType.Success)
                    .UseSubmitBehavior(false)
                    .OnClick("reLogInFormSubmit")
                )
                </div>

            </form>

        </div>
    }

</div>


    @* 전자서명 공통 팝업*@
    @using (Html.DevExtreme().NamedTemplate("CommonSignPopupTemplate"))
    {
        @*<h6>전자서명은 수기서명과 동일한 효력을 갖습니다.</h6>*@

        <form id="CommonSignForm">
            <div class="input-wrapper">
                <label class="col-3">아이디</label>
                <input type="text" class="col-8 form-control" name="txt_ID">

                <label class="col-3">비밀번호</label>
                <input type="password" class="col-8 form-control" name="txt_Pass">
            </div>
            <br />
            <div class="input-wrapper">
                <label class="col-3">부서</label>
                <input type="text" class="col-8 form-control" name="dept_nm" readonly="readonly" />
                <label class="col-3">성명</label>
                <input type="text" class="col-8 form-control" name="emp_nm" readonly="readonly" />
            </div>
        </form>

        <div class="align-center margin-top">
            <button class="btn btn-secondary" onclick="CommonSignSubmit()">확인</button>
        </div>
    }

    @(Html.DevExtreme().Popup()
        .ID("CommonSignPopup")
        .Width(500)
        .Height(230)
        .ShowTitle(true)
        .Title("전자서명 - 수기서명과 동일한 효력을 갖습니다.")
        .OnHidden("CommonSignFormReset")
        .Visible(false)
        .DragEnabled(true)
        .CloseOnOutsideClick(false)
    )
    @* 전자서명 공통 팝업*@



</body>
</html>