@model IEnumerable<HACCP.Models.Uc.ToolbarFormAuth.FormAuth>



@{
    // Model 오류방지 return (
    if (Model ==null)
    {
        return;
    }

    // 툴바 객체 설정
    var objToolbar = Html.DevExtreme().Toolbar()
                      .ID(Model.ToList().FirstOrDefault().ToolBarId);

    // 프로그램 권한버튼 출력
    @(objToolbar.Items(items =>
    {
        foreach (var field in Model)
        {            
            // 버튼 skip 처리
            // : 사용자가 지정하지 않은 버튼은 skip처리
            if(!field.isVisibleBtn())
            {            
                continue;
            }
            var wg = items.Add()
                .Widget(w => w
                    .Button()
                    .Type(ButtonType.Default)
                    .StylingMode(ButtonStylingMode.Contained)
                    .ID(field.BtnId)
                    .Icon(field.BtnIcon)
                    .Text(field.BtnText)
                    .OnClick(field.BtnOnclick)
                );
            wg.Location(ToolbarItemLocation.After);

            // 버튼 권한처리            
            if(field.getIsUnAuthBtnRemove())
            {
                // 권한 - 제거인경우
                wg.Visible(field.isAuth);
            }
            else
            {
                // 권한 - disabled 인경우
                wg.Disabled(!field.isAuth);
            }

        }
    }));
}

@*<table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ToolBarId) </th>
            <th>@Html.DisplayNameFor(model => model.BtnId) </th>
            <th>@Html.DisplayNameFor(model => model.BtnIcon) </th>
            <th>@Html.DisplayNameFor(model => model.BtnGb) </th>
            <th>@Html.DisplayNameFor(model => model.BtnYN) </th>
            <th>@Html.DisplayNameFor(model => model.BtnText) </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ToolBarId) </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BtnId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BtnIcon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BtnGb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BtnYN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BtnText)
                </td>
            </tr>
        }

    </table>*@
