@using System.Data
@using HACCP.Libs.Views

@{
    Layout = null;
    ViewData["Title"] = "WorkScheduleList";
}

<script id="WorkScheduleListJs">

    $(function () {
        setDatePicker("#WorkScheduleList .datepicker");

        WorkScheduleListSearch();

    });

    //조회
    function WorkScheduleListSearch() {
        var form = $('#WorkScheduleListForm')[0];
        var data = new FormData(form);

        $.ajax({
            type: 'POST',
            async: false,
            contentType: false,
            processData: false,
            url: '/PrevCk/WorkScheduleList_GridSelect',
            data: data,
            success: function (result) {

                if (result != "") {
                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    $("#WorkScheduleList_Grid").dxDataGrid("option", "dataSource", json);
                    $("#WorkScheduleList_Grid").dxDataGrid("option", "focusedRowIndex", 0);

                    //컬럼 caption 값을 DB에서 받아온 값으로 변경해준다.
                    SetColumnCaption(json[0]);

                } else {
                    $("#WorkScheduleList_Grid").dxDataGrid("option", "dataSource", []);
                    $("#WorkScheduleList_Grid").dxDataGrid("instance").option("focusedRowKey", "");

                    SetColumnCaption(null);

                }

            }
        })
    }

    //입력
    function WorkScheduleListInput() {
    }

    //수정
    function WorkScheduleListEdit() {
    }

    //삭제
    function WorkScheduleListDelete() {
    }

    //저장
    function WorkScheduleListSave() {
    }

    //취소
    function WorkScheduleListUndo() {
    }

    //프린트
    function WorkScheduleListPrint() {
    }

    //엑셀
    function WorkScheduleListExcel() {
    }

    function SetColumnCaption(data) {
        var grid = $("#WorkScheduleList_Grid").dxDataGrid("instance");

        if (typeof data === "undefined" || data === null) {
            grid.columnOption(1, "caption", "체크사항1");
            grid.columnOption(2, "caption", "체크사항2");
            grid.columnOption(3, "caption", "체크사항3");
            grid.columnOption(4, "caption", "체크사항4");
            grid.columnOption(5, "caption", "체크사항5");
            grid.columnOption(6, "caption", "체크사항6");
        } else {

            if (!(typeof data.work_method1 === "undefined" || typeof data.work_method1 === null || typeof data.work_method1 === ""))
                grid.columnOption(1, "caption", data.work_method1);
            if (!(typeof data.work_method2 === "undefined" || typeof data.work_method2 === null || typeof data.work_method2 === ""))
                grid.columnOption(2, "caption", data.work_method2);
            if (!(typeof data.work_method3 === "undefined" || typeof data.work_method3 === null || typeof data.work_method3 === ""))
                grid.columnOption(3, "caption", data.work_method3);
            if (!(typeof data.work_method4 === "undefined" || typeof data.work_method4 === null || typeof data.work_method4 === ""))
                grid.columnOption(4, "caption", data.work_method4);
            if (!(typeof data.work_method5 === "undefined" || typeof data.work_method5 === null || typeof data.work_method5 === ""))
                grid.columnOption(5, "caption", data.work_method5);
            if (!(typeof data.work_method6 === "undefined" || typeof data.work_method6 === null || typeof data.work_method6 === ""))
                grid.columnOption(6, "caption", data.work_method6);
        }
    }

</script>

<div id="WorkScheduleList" autoresize="Y">
    @*<h4 class="divTitle">점검 대장</h4>*@

    <div id="WorkScheduleListTop" class="mainTop row">
        <div class="col-8">
            <form id="WorkScheduleListForm">
                <div class="input-wrapper">
                    <div class="col-3 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">일자</span>
                        </div>
                        <input type="text" class="form-control datepicker text-center" name="s_schedule_date1" value="@DateTime.Today.ToShortDateString()" />
                        <label class="p-1">~</label>
                        <input type="text" class="form-control datepicker text-center" name="s_schedule_date2" value="@DateTime.Today.ToShortDateString()" />
                    </div>

                    <div class="col-2 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">구분</span>
                        </div>
                        <select class="form-control" name="s_obj_type">
                            @foreach (DataRow row in ((DataTable)ViewBag.obj_type).Rows)
                            {
                                <option value="@row["keyfield"]">@row["displayfield"]</option>
                            }
                        </select>
                    </div>

                    <div class="col-2 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">작업</span>
                        </div>
                        <select class="form-control" name="s_work_type">
                            @foreach (DataRow row in ((DataTable)ViewBag.work_type).Rows)
                            {
                                <option value="@row["keyfield"]">@row["displayfield"]</option>
                            }
                        </select>
                    </div>

                    <div class="col-2 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">주기</span>
                        </div>
                        <select class="form-control" name="s_schedule_type">
                            @foreach (DataRow row in ((DataTable)ViewBag.schedule_type).Rows)
                            {
                                <option value="@row["keyfield"]">@row["displayfield"]</option>
                            }
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="CRUD-btn col-4">
            @{ Html.SetToolbar(0, true, "Search"); }
            @*@(Html.DevExtreme().Toolbar()
                .ID("WorkScheduleList_Toolbar")
                    .Items(items =>
                    {
                        items.Add()
                            .Widget(w => w
                                .Button()
                                .Type(ButtonType.Default)
                                .StylingMode(ButtonStylingMode.Contained)
                                .ID("WorkScheduleListSearch")
                                .Icon("search")
                                .Text("조회")
                                .OnClick("WorkScheduleListSearch")
                            )
                            .Location(ToolbarItemLocation.After);
                    })
            )*@
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="box mb-0">
                @(Html.DevExtreme().DataGrid()
                .ID("WorkScheduleList_Grid")
                .Selection(s => s.Mode(SelectionMode.Single))
                .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                .SearchPanel(searchPanel => searchPanel.Visible(true))
                .Height(900)
                .ShowBorders(true)
                .ShowColumnLines(true)
                .ShowRowLines(true)
                .ColumnAutoWidth(true)
                .AllowColumnResizing(true)
                .FocusedRowEnabled(true)
                .FocusedRowIndex(0)
                .KeyExpr("obj_nm")
                .Columns(c =>
                {
                    c.Add().DataField("obj_nm").Caption("항목");

                    c.Add().DataField("schedule_result_manual_data1").Caption("체크사항1");
                    c.Add().DataField("schedule_result_manual_data2").Caption("체크사항2");
                    c.Add().DataField("schedule_result_manual_data3").Caption("체크사항3");
                    c.Add().DataField("schedule_result_manual_data4").Caption("체크사항4");
                    c.Add().DataField("schedule_result_manual_data5").Caption("체크사항5");
                    c.Add().DataField("schedule_result_manual_data6").Caption("체크사항6");
                })
            )
            </div>
        </div>
    </div>
</div>
