@*--*@
@using System.Data
@using HACCP.Libs

@{
    Layout = null;
    var EquipmentOperationResultMontData = @Html.Raw(Json.Encode(ViewBag.EquipmentOperationResultMontData.Data));
    var data1 = @Html.Raw(Json.Encode(ViewBag.data1.Data));
    var data2 = @Html.Raw(Json.Encode(ViewBag.data2.Data));

}


    <script type="text/javascript" id="EquipmentOperationResultMontJs">
        $(function () {
            $('#EquipmentOperationResultMont [data-toggle="tooltip"]').tooltip()

            if ((@EquipmentOperationResultMontData).length > 0) {

                $("#chart").dxChart("instance").option("dataSource", JSON.parse(@EquipmentOperationResultMontData));
            }

            if ((@data1).length > 0) {

                EquipmentOperationResultMont_WorkroomMont_Create(JSON.parse(@data1));
            }

            if ((@data2).length > 0) {
                EquipmentOperationResultMont_EquipMont_Create(JSON.parse(@data2));
            }

            setDatePicker("#EquipmentOperationResultMont .datepicker");


            $("input.datepicker").on("change", function () {
                //EquipmentOperationResultMontSearch();
            })

        })


        function EquipmentOperationResultMontSearch() {
            var startDate = $("input#s_start_date").val();
            var endDate = $("input#s_end_date").val();


            $.ajax({
                type: 'POST',
                url: '/Mont/EquipmentOperationResultMontSearch',
                data: {
                    startDate: startDate,
                    endDate: endDate
                },
                async: false,
                success: function (result) {

                    if (result == "") {
                        $("#no_data_div").removeClass("display-none");
                        $("#pie-chart").addClass("display-none");
                    } else {

                        $("#pie-chart").removeClass("display-none");
                        $("#no_data_div").addClass("display-none");

                        var json = JSON.parse(result);
                        $("#pie-chart").dxPieChart("instance").option("dataSource", json);
                    }
                }
            })
        }


        // #region 작업현황
        async function EquipmentOperationResultMont_WorkroomMont_Create(data) {
            for (var i in data) {
                await EquipmentOperationResultMont_WorkroomMont_Excute(data[i], i);
            }


            await workroom_search();
            await weighing_search();
            await waiting_search();
        }


        function EquipmentOperationResultMont_WorkroomMont_Excute(data, count) {

            var $rowDiv = $("#EquipmentOperationResultMont_MenuDiv_2 div.row");

            // 작업실 별 div
            var $container_div = $("<div class='workroom_container col-2 mb-2' id='workroom_" + count + "' workroom_cd='" + data.workroom_cd + "'>");
            var $workroom_div = $("<div class='col-12 b_2_g p-0' style='height: 100%; border-radius: 0.6em'>");

            // 작업실명 div
            var $container_div1 = $("<div class='container b_b_2_g' style='height: 18%; width: 100%;'>");
            var $item_div1 = $("<div class='item b_t_r title_div'>").text(data.workroom_nm);  // 작업실

            var $container_div2 = $("<div class='container' style='height: 82%;'>");
            var $item_div2 = $("<div class='item' style='height: 100%; flex-grow: 1;'>");

            var $item_div2_container_div1 = $("<div class='container' style='height: 60%;'>");
            var $item_div2_item_div1_1 = $("<div class='img_area b_r_2_g b_b_2_g' style='height: 100%; width: 40%;'>");
            var $img = $("<img src='/Content/image/NoImage.png'>");

            var $item_div2_item_div1_2 = $("<div class='' style='height: 100%; width: 60%;'>");
            var $item_div2_item_div1_2_container_div1 = $("<div class='container' style='height: 100%; flex-direction: column;'>");

            var $item_div2_item_div1_2_item_div1 = $("<div class='item content_div text_over b_b_2_g' style='width: 100%; flex-grow: 1;'>").text("-");                          // 제품명
            var $item_div2_item_div1_2_item_div2 = $("<div class='item content_div text_over b_b_2_g' style='width: 100%; flex-grow: 1;' name='workroom_temp'>").text("-");     // 온도
            var $item_div2_item_div1_2_item_div3 = $("<div class='item content_div text_over b_b_2_g' style='width: 100%; flex-grow: 1;' name='workroom_hum'>").text("-");      // 습도

            var $item_div2_container_div2 = $("<div class='container' style='height: 40%; flex-direction: column;'>");
            var $item_div2_item_div2_1 = $("<div class='item content_div text_over b_b_2_g' style='width: 100%; flex-grow: 1;' name='work_status'>").text("-");             // 작업상태
            var $item_div2_item_div2_2 = $("<div class='item content_div text_over' style='width: 100%; flex-grow: 1;' name='work_compl'>").text("-");               // 완료/계획

            $item_div2_container_div2.append($item_div2_item_div2_1);
            $item_div2_container_div2.append($item_div2_item_div2_2);

            $item_div2_item_div1_2_container_div1.append($item_div2_item_div1_2_item_div1);
            $item_div2_item_div1_2_container_div1.append($item_div2_item_div1_2_item_div2);
            $item_div2_item_div1_2_container_div1.append($item_div2_item_div1_2_item_div3);
            $item_div2_item_div1_2.append($item_div2_item_div1_2_container_div1);

            $item_div2_item_div1_1.append($img);
            $item_div2_container_div1.append($item_div2_item_div1_1);
            $item_div2_container_div1.append($item_div2_item_div1_2);

            $item_div2.append($item_div2_container_div1);
            $item_div2.append($item_div2_container_div2);

            $container_div2.append($item_div2);
            $container_div1.append($item_div1);

            $workroom_div.append($container_div1);
            $workroom_div.append($container_div2);

            $container_div.append($workroom_div);
            $rowDiv.append($container_div);



            //switch (data.workroom_gubun) {
            //    case 0:
            //        $("div#workroom_" + count + " div.item.title_div").addClass("background_c_0");

            //        break;
            //    case 1:
            //        $("div#workroom_" + count + " div.item.title_div").addClass("background_c_1");

            //        break;
            //    case 2:
            //        $("div#workroom_" + count + " div.item.title_div").addClass("background_c_2");

            //        break;
            //    case 3:
            //        $("div#workroom_" + count + " div.item.title_div").addClass("background_c_3");

            //        break;
            //}
        }


        function workroom_search() {
            $.ajax({
                type: 'POST',
                url: '/Mont/EquipmentOperationResultMont_WorkroomSearch',
                async: false,
                success: function (result) {

                    if (result.length <= 0) {

                        return;
                    }

                    workroom_data_insert(JSON.parse(result));
                }
            })

        }


        function weighing_search() {
            $.ajax({
                type: 'POST',
                url: '/Mont/EquipmentOperationResultMont_WeighingSearch',
                async: false,
                success: function (result) {

                    if (result.length <= 0) {

                        return;
                    }


                    workroom_data_insert(JSON.parse(result));
                }
            })
        }


        function waiting_search() {
            $.ajax({
                type: 'POST',
                url: '/Mont/EquipmentOperationResultMont_WaitingSearch',
                async: false,
                success: function (result) {

                    if (result.length <= 0) {

                        return;
                    }

                    workroom_data_insert(JSON.parse(result));
                }
            })
        }


        function workroom_data_insert(data) {
            for (var i in data) {
                console.log(data[i]);

                var container_div = $("#EquipmentOperationResultMont_MenuDiv_2 [id^=workroom_");

                for (var j in container_div) {
                    var divData = container_div[j];
                    var workroom_cd = $("#" + divData.id).attr("workroom_cd");

                    if (workroom_cd == data[i].workroom_cd) {
                        $("#" + divData.id + " div.item").first().text(data[i].workroom_title);

                        $("#" + divData.id + " div.item.content_div").eq(0).text(data[i].ing_item_nm);
                        $("#" + divData.id + " div.item.content_div").eq(1).text(data[i].workroom_temp + " ℃").css("color", "red");
                        $("#" + divData.id + " div.item.content_div").eq(2).text(data[i].workroom_hum + " ％").css("color", "blue");
                        $("#" + divData.id + " div.item.content_div").eq(3).text(data[i].detailproc_status_nm);

                        var position = (data[i].plan_end).indexOf("/");
                        var plan = (data[i].plan_end).substr(position + 1);
                        var compl = (data[i].plan_end).substr(0, position);

                        $("#" + divData.id + " div.item.content_div").eq(4).text("완료: " + compl + " / 계획: " + plan);
                        
                        $("#" + divData.id + " div.img_area img").attr("src", data[i].item_img);

                        break;
                    }
                }
            }

        }

        // #endregion


        // #region 작업설비
        async function EquipmentOperationResultMont_EquipMont_Create(data) {

            for (var i in data) {
                //if (i % 6 == 0) {
                //    var arr = data.slice(i, parseInt(i) + 6);

                //    await EquipmentOperationResultMont_EquipMont_Excute(arr);
                //}
                await EquipmentOperationResultMont_EquipMont_Excute(data[i], i);
            }

            await equip_search();
        }


        function EquipmentOperationResultMont_EquipMont_Excute(data, count) {
            var $rowDiv = $("#EquipmentOperationResultMont_MenuDiv_3 div.row");

            // 작업실 별 div
            var $container_div = $("<div class='col-2 mb-2' style='height: 300px' id='equip_" + count + "' workroom_cd='" + data.workroom_cd + "' equip_cd='" + data.equip_cd + "'>");
            var $workroom_div = $("<div class='col-12 b_2_g p-0' style='height: 100%; border-radius: 0.6em'>");

            // 작업실명 div
            var $container_div1 = $("<div class='container b_b_2_g' style='height: 18%; width: 100%;'>");
            var $item_div1 = $("<div class='item b_t_r' style='height: 100%; width: 100%; padding: 0.6em; text-align: center; font-size: 20px; font-weight: 700;'>").text(data.workroom_nm);  // 작업실
            
            var $container_div2 = $("<div class='container' style='height: 82%;'>");
            var $item_div2 = $("<div class='item' style='height: 100%; flex-grow: 1;'>");

            var $item_div2_container_div1 = $("<div class='container' style='height: 50%;'>");
            var $item_div2_item_div1_1 = $("<div class='img_area b_r_2_g b_b_2_g' style='height: 100%; width: 40%;'>");
            var $img = $("<img>").attr("src", data.equip_img);

            var $item_div2_item_div1_2 = $("<div class='' style='height: 100%; width: 60%;'>");
            var $item_div2_item_div1_2_container_div1 = $("<div class='container' style='height: 100%; flex-direction: column;'>");

            var $item_div2_item_div1_2_item_div1 = $("<div class='item content_div text_over b_b_2_g' style='width: 100%; flex-grow: 1;'>").text(data.equip_nm);            // 설비명 
            var $item_div2_item_div1_2_item_div2 = $("<div class='item content_div text_over b_b_2_g' style='width: 100%; flex-grow: 1;' name='item_nm'>").text("-");       // 생산제품명
            var $item_div2_item_div1_2_item_div3 = $("<div class='item content_div text_over b_b_2_g' style='width: 100%; flex-grow: 1;' name='order_no'>").text("-");      // 지시번호

            var $item_div2_container_div2 = $("<div class='container' style='height: 50%; flex-direction: column;'>");
            var $item_div2_item_div2_1 = $("<div class='item content_div text_over b_b_2_g' style='width: 100%; flex-grow: 1;' name='work_status'>").text("-");             // 작업상태
            var $item_div2_item_div2_2 = $("<div class='item content_div text_over b_b_2_g' style='width: 100%; flex-grow: 1;' name='work_time'>").text("-");               // 작업시간
            var $item_div2_item_div2_3 = $("<div class='item content_div text_over' style='width: 100%; flex-grow: 1;' name='work_end_time'>").text("-");                   // 종료시간

            $item_div2_container_div2.append($item_div2_item_div2_1);
            $item_div2_container_div2.append($item_div2_item_div2_2);
            $item_div2_container_div2.append($item_div2_item_div2_3);

            $item_div2_item_div1_2_container_div1.append($item_div2_item_div1_2_item_div1);
            $item_div2_item_div1_2_container_div1.append($item_div2_item_div1_2_item_div2);
            $item_div2_item_div1_2_container_div1.append($item_div2_item_div1_2_item_div3);
            $item_div2_item_div1_2.append($item_div2_item_div1_2_container_div1);

            $item_div2_item_div1_1.append($img);
            $item_div2_container_div1.append($item_div2_item_div1_1);
            $item_div2_container_div1.append($item_div2_item_div1_2);

            $item_div2.append($item_div2_container_div1);
            $item_div2.append($item_div2_container_div2);

            $container_div2.append($item_div2);
            $container_div1.append($item_div1);

            $workroom_div.append($container_div1);
            $workroom_div.append($container_div2);

            $container_div.append($workroom_div);
            $rowDiv.append($container_div);

        }


        function equip_search() {
            $.ajax({
                type: 'POST',
                url: '/Mont/EquipmentOperationResultMont_EquipSearch',
                async: false,
                success: function (result) {

                    if (result.length <= 0) {

                        return;
                    }

                    equip_data_insert(JSON.parse(result));
                }
            })
        }


        function equip_data_insert(data) {
            for (var i in data) {

                var container_div = $("#EquipmentOperationResultMont_MenuDiv_3 [id^=equip_]");

                for (var j in container_div) {
                    var divData = container_div[j];
                    var equip_cd = $("#" + divData.id).attr("equip_cd");

                    if (equip_cd == data[i].equip_cd) {
                        var dateTime;
                        if (data[i].finish_time == "-") {
                            dateTime = data[i].finish_time;
                        } else {
                            var date = new Date(data[i].finish_time);
                            dateTime = EquipmetOperationResultMont_getFormatDate(date);
                        }

                        $("#" + divData.id + " div[name='item_nm']").text(data[i].item_nm);
                        $("#" + divData.id + " div[name='item_nm']").attr("title", data[i].item_nm);
                        $("#" + divData.id + " div[name='order_no']").text(data[i].order_no);
                        $("#" + divData.id + " div[name='order_no']").attr("title", data[i].order_no);

                        $("#" + divData.id + " div[name='work_status']").text(data[i].run_status == "RUN" ? "작업중" : "-");
                        $("#" + divData.id + " div[name='work_time']").text(data[i].run_time + "분");
                        $("#" + divData.id + " div[name='work_end_time']").text(dateTime);

                        break;
                    }
                }

            }
        }

        // #endregion

        function EquipmetOperationResultMont_getFormatDate(date) {
            var year = date.getFullYear();              //yyyy
            var month = (1 + date.getMonth());          //M
            month = month >= 10 ? month : '0' + month;  //month 두자리로 저장

            var day = date.getDate();                   //d
            day = day >= 10 ? day : '0' + day;          //day 두자리로 저장

            var hour = date.getHours();
            hour = hour >= 10 ? hour : '0' + hour;

            var min = date.getMinutes();
            min = min >= 10 ? min : '0' + min;

            var sec = date.getSeconds();
            sec = sec >= 10 ? sec : '0' + sec;

            return year + '-' + month + '-' + day + " " + hour + ":" + min + ":" + sec;       //'-' 추가하여 yyyy-mm-dd 형태 생성 가능
        }

    </script>


<style>
    /*공통*/
    div.container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .b_1_g {
        border: 1px solid gray;
    }

    .b_2_g {
        border: 2px solid gray;
    }


    .b_b_2_g {
        border-bottom: 2px solid gray;
    }


    .b_r_2_g {
        border-right: 2px solid gray;
    }

    .b_b_l {
        border-bottom-left-radius: 0.25em;
    }

    .b_t_r {
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
    }

    div.text_over {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 20px;
        padding: 0 5px;
    }

    div.row.box {
        height: 860px;
        text-align: center;
    }

    div#no_data_div {
        background: white;
        width: 800px;

        font-size: 20px;
        font-weight: 600;
        color: gray;

        margin-top: 15%;
    }



    /*작업현황 용 style*/
    #EquipmentOperationResultMont_MenuDiv_2 div.workroom_container {
        height: 250px;
    }

    #EquipmentOperationResultMont_MenuDiv_2 div.title_container {
        height: 24%;
        width: 100%;
    }

    #EquipmentOperationResultMont_MenuDiv_2 div.title_container div.title_div {
        height: 100%;
        width: 100%;
        padding: 0.5em;
    }

    div.content_container {
        height: 19%;
        width: 100%;
    }

    div.content_container div.title_div {
        width: 45%;
        height: 100%;
        padding: 0.25em;
    }

    div.content_container div.content_div {
        width: 55%;
        height: 100%;
        padding: 0.55em;
    }

    div.workroom_container div.title_div {
        text-align: center;
        font-size: 20px;
        height: 100%;
        width: 100%;
        padding: 0.5em;
        font-weight: 700;
    }

    div.workroom_container div.content_div {
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        padding: 0.5em;
    }

    div.workroom_div {
        border: 2px solid gray;
        height: 100%;
        padding: 0px;
        border-radius: 0.6em;
    }





    /*작업설비용*/

    #EquipmentOperationResultMont_MenuDiv_3 .content_div {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        padding: 0.6em;
    }


    .img_area {
        height: 100%;
        font-size: 0;
        text-align: center;
    }

    .img_area:after {
        display: inline-block;
        height: 100%;
        content: "";
        vertical-align: middle;
    }

    .img_area img {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }
</style>


<div id="EquipmentOperationResultMont" autoresize="Y">


    @*<div id="EquipmentOperationResultMont_Top" class="mainTop row">
        <div class="col-12">
            <form id="EquipmentOperationResultMontSearchForm" onsubmit="return false;">
                <div class="input-wrapper">
                    <div class="input-group input-group-sm col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">점검일자</span>
                        </div>
                        <input type="text" class="form-control col-5 datepicker" name="s_start_date" id="s_start_date" value="@DateTime.Today.AddDays(1 - DateTime.Today.Day).ToShortDateString()" />
                        <label class="p-1">~</label>
                        <input type="text" class="form-control col-5 datepicker" name="s_end_date" id="s_end_date" value="@DateTime.Today.Date.ToShortDateString()" />
                    </div>
                </div>
            </form>
        </div>

    </div>*@

    <div class="row">
        <div id="EquipmentOperationResultMont_Div" class="col-12" style="min-height: 856px;">
            <div class="box mb-0">
                <ul class="nav nav-tabs margin-bottom" id="EquipmentOperationResultMont_MenuDiv">
                    <li class="nav-item">
                        <a class="nav-link active" onclick="menutab('EquipmentOperationResultMont_MenuDiv', 'EquipmentOperationResultMont_MenuDiv', 1);">
                            설비가동률
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="menutab('EquipmentOperationResultMont_MenuDiv', 'EquipmentOperationResultMont_MenuDiv', 2);">
                            작업현황
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="menutab('EquipmentOperationResultMont_MenuDiv', 'EquipmentOperationResultMont_MenuDiv', 3);">
                            작업설비
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="menutab('EquipmentOperationResultMont_MenuDiv', 'EquipmentOperationResultMont_MenuDiv', 4);">
                            제품별 공정별 작업진행
                        </a>
                    </li>
                </ul>

                <div id="EquipmentOperationResultMont_MenuDiv">
                    <div id="EquipmentOperationResultMont_MenuDiv_1">
                        @(Html.DevExtreme().Chart()
                            .ID("chart")
                            .CommonSeriesSettings(s => s
                                .ArgumentField("equip_nm")
                                .Type(SeriesType.StackedBar)
                                .Label(l => l
                                    .Visible(true)
                                    .Format(f => f
                                        .Type(Format.FixedPoint)
                                        .Precision(2)
                                    )
                                    .CustomizeText(@<text>
                                        function(arg) {

                                            return arg.seriesName == "가동률" ? arg.seriesName + ": " + arg.valueText + "%" : "100%"
                                        }
                                    </text>)
                                )
                            )
                            .Series(s =>
                             {
                                 s.Add().ValueField("work_minute_p").Name("가동률");
                                 s.Add().ValueField("100p").Name("-").Color("gray");
                             })
                            .ValueAxis(a => {
                                a.Add()
                                .ShowZero(true)
                                .Label(l => l
                                .CustomizeText(
                                    @<text>
                                        function(info) {
                                            return info.valueText + "%";
                                        }
                                    </text>)
                                );
                            })
                            .Legend(l => l
                                .VerticalAlignment(VerticalEdge.Top)
                                .HorizontalAlignment(HorizontalAlignment.Center)
                                .ItemTextPosition(Position.Right)
                                .Visible(false)
                            )
                            .Tooltip(t => t
                                .Enabled(true)
                                .CustomizeTooltip(@<text>
                                    function(arg) {

                                        return {
                                            text: arg.seriesName == "가동률" ? arg.seriesName + ": " + arg.valueText + "%" : "100%"
                                        }
                                    }
                                </text>)
                            )
                        )
                    </div>

                    <div class="display-none" id="EquipmentOperationResultMont_MenuDiv_2">
                        <div class="row">

                        </div>
                    </div>

                    <div class="display-none" id="EquipmentOperationResultMont_MenuDiv_3">
                        <div class="row">

                        </div>
                    </div>

                    <div class="display-none" id="EquipmentOperationResultMont_MenuDiv_4">
                        <div class="row">

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
