@using System.Data
@using HACCP.Libs.Views

@{
    Layout = null;
    ViewData["Title"] = "ClaimGraph";
}

<style>
    #ClaimGraph .box .input-wrapper{
        padding:3px;
    }
</style>

<script id="ClaimGraphJs">
    var ClaimGraph_focusedRow = null;

    $(function () {
        setDatePicker("#ClaimGraph .datepicker");

        ClaimGraphSearch();
    });

    //조회
    function ClaimGraphSearch() {

        // 초기화영역
        $('#ClaimGraph_TopGrid').dxDataGrid("option", "dataSource", []);
        $('#ClaimGraph_TopGrid').dxDataGrid("option", "focusedRowKey", "");

        $.ajax({
            type: 'POST',
            async: false,
            url: '/Cp/ClaimGraph_GridSelect',
            data: {
                start_date: $("#ClaimGraphForm input[name='start_date']").val(),
                end_date: $("#ClaimGraphForm input[name='end_date']").val()
            },
            success: function (result) {

                if (result != "") {
                    var json = JSON.parse(result);
                    //console.log(json);

                    if (result.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    $("#ClaimGraph_TopGrid").dxDataGrid("option", "dataSource", json.Table1);
                    $("#ClaimGraph_TopGrid").dxDataGrid("option", "focusedRowEnabled", true);
                    $("#ClaimGraph_TopGrid").dxDataGrid("option", "focusedRowIndex", 0);

                    $("#ClaimGraph_T").dxChart("option", "dataSource", []);
                    $("#ClaimGraph_T").dxChart("option", "dataSource", json.Table);

                } else {
                    $("#ClaimGraph_TopGrid").dxDataGrid("option", "focusedRowEnabled", false);
                    $("#ClaimGraph_T").dxChart("option", "dataSource", []);
                    $("#ClaimGraph input[name='item_nm']").val("");

                }
            }
        })

    }

    function ClaimGraph_GridSelect1() {

        if (ClaimGraph_focusedRow != null && ClaimGraph_focusedRow.data.item_nm != "전체") {

            // 초기화영역
            $('#ClaimGraph_BottomGrid').dxDataGrid("option", "dataSource", []);
            $('#ClaimGraph_BottomGrid').dxDataGrid("option", "focusedRowKey", "");

            $.ajax({
                type: 'POST',
                async: false,
                url: '/Cp/ClaimGraph_GridSelect1',
                data: {
                    start_date: $("#ClaimGraphForm input[name='start_date']").val(),
                    item_cd: ClaimGraph_focusedRow.data.item_cd
                },
                success: function (result) {

                    if (result != "") {
                        var json = JSON.parse(result);
                        //console.log(json);

                        if (json.hasOwnProperty('sessionLoss')) {
                            alert("세션이 만료되었습니다.");
                            sessionStorage.clear();
                            location.replace("/Comm/Login");
                        }

                        $("#ClaimGraph_BottomGrid").dxDataGrid("option", "dataSource", json.Table);
                        $("#ClaimGraph_BottomGrid").dxDataGrid("option", "focusedRowEnabled", true);
                        $("#ClaimGraph_BottomGrid").dxDataGrid("option", "focusedRowIndex", 0);

                        $("#ClaimGraph_B").dxChart("option", "dataSource", []);

                        for (var i = 0; i < json.Table1.length; i++)
                            json.Table1[i].month = (i + 1);

                        $("#ClaimGraph_B").dxChart("option", "dataSource", json.Table1);

                    } else {
                        $("#ClaimGraph_BottomGrid").dxDataGrid("option", "focusedRowEnabled", false);
                        $("#ClaimGraph_B").dxChart("option", "dataSource", []);
                    }
                }
            })
        } else {
            $("#ClaimGraph_BottomGrid").dxDataGrid("option", "focusedRowEnabled", false);
            $("#ClaimGraph_B").dxChart("option", "dataSource", []);
        }
    }

    //그리드 이벤트
    function ClaimGraph_OnFocusedRowChanged(e) {
        if (!e.row || !e.row.data) {
            ClaimGraph_focusedRow = null;
        } else {
            ClaimGraph_focusedRow = e.row;
            $("#ClaimGraph input[name='item_nm']").val(ClaimGraph_focusedRow.data.item_nm);
        }
        ClaimGraph_GridSelect1();
    }
</script>
<div id="ClaimGraph" autoresize="Y">
    @*<h4 class="divTitle">제품별 접수통계</h4>*@

    <div id="ClaimGraphTop" class="mainTop row">
        <div class="col-8">
            <form id="ClaimGraphForm">
                <div class="input-wrapper">
                    <div class="col-3 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">접수일자</span>
                        </div>
                        <input type="text" class="form-control datepicker text-center" name="start_date" value="@DateTime.Today.ToString("yyyy-01-01")" />
                        <label class="p-1">~</label>
                        <input type="text" class="form-control datepicker text-center" name="end_date" value="@DateTime.Today.ToString("yyyy-12-31")" />
                    </div>
                </div>
            </form>
        </div>

        <div class="CRUD-btn col-4">
            @{ Html.SetToolbar(0, true, "Search"); }
            @*@(Html.DevExtreme().Toolbar()
            .ID("ClaimGraph_Toolbar")
                .Items(items =>
                {
                    items.Add()
                        .Widget(w => w
                            .Button()
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Contained)
                            .ID("ClaimGraphSearch")
                            .Icon("search")
                            .Text("조회")
                            .OnClick("ClaimGraphSearch")
                        )
                        .Location(ToolbarItemLocation.After);
                })
            )*@
        </div>
    </div>

    <div class="row margin-bottom">
        <div class="col-4 pr-1">
            <div class="box mb-0">
                @(Html.DevExtreme().DataGrid()
                .ID("ClaimGraph_TopGrid")
                .Selection(s => s.Mode(SelectionMode.Single))
                .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                .SearchPanel(searchPanel => searchPanel.Visible(true))
                .Height(410)
                .ShowBorders(true)
                .ShowColumnLines(true)
                .ShowRowLines(true)
                .ColumnAutoWidth(true)
                .AllowColumnResizing(true)
                .FocusedRowEnabled(true)
                .FocusedRowIndex(0)
                .KeyExpr("id")
                .Columns(c =>
                {
                    c.Add().DataField("id").Caption("순위");
                    c.Add().DataField("item_nm").Caption("제품");
                    c.Add().DataField("count_item").Caption("건수");
                    c.Add().DataField("percent_Value").Caption("구성비(%)");
                })
                .OnFocusedRowChanged("ClaimGraph_OnFocusedRowChanged")
            )
            </div>

        </div>

        <div class="col-8 pl-0">
            <div class="box">
                @(Html.DevExtreme().Chart()
                .Title("제품별 점유율(%)")
                .ID("ClaimGraph_T")
                .Size(c => c.Height(410) )
                .Series(s => s
                    .Add()
                    .ArgumentField("제품명")
                    .ValueField("구성비(%)")
                    .Name("점유율")
                    .Type(SeriesType.Bar)
                    .Color("#ffaa66")
                )
                .Tooltip(t => t
                    .Enabled(true)
                    .Shared(true)
                    .CustomizeTooltip(
                        @<text>
                            function(info) {
                                return {
                                    html: "<div><div class='tooltip-header'>" +
                                    info.argumentText + "</div>" +
                                    "<div class='tooltip-body'><div class='series-name'>" +
                                    info.points[0].seriesName +
                                    ": </div><div class='value-text'>" +
                                    info.points[0].valueText +
                                    "%</div></div></div>"
                                };
                            }
                        </text>)
                    )
                )
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 pr-1">
            <div class="box mb-0">
                <div class="input-wrapper">
                    <label class="col-2">제품명</label>
                    <input class="form-control col-9" name="item_nm" readonly>
                </div>
                @(Html.DevExtreme().DataGrid()
                .ID("ClaimGraph_BottomGrid")
                .Selection(s => s.Mode(SelectionMode.Single))
                .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                .Height(430)
                .ShowBorders(true)
                .ShowColumnLines(true)
                .ShowRowLines(true)
                .ColumnAutoWidth(true)
                .AllowColumnResizing(true)
                .FocusedRowEnabled(true)
                .FocusedRowIndex(0)
                .KeyExpr("claim_month")
                .Columns(c =>
                {
                    c.Add().DataField("claim_month").Caption("월");
                    c.Add().DataField("pre_cnt").Caption("전년");
                    c.Add().DataField("this_cnt").Caption("당년");
                    c.Add().DataField("diff_cnt").Caption("증감");
                })
            )
            </div>
        </div>

        <div class="col-8 pl-0">
            <div class="box">
                @(Html.DevExtreme().Chart()
                .ID("ClaimGraph_B")
                .Title("발생건수(전년대비)")
                .Size(c => c.Height(430))
                .Series(s => s
                    .Add()
                    .ArgumentField("month")
                    .ValueField("당년")
                    .Name("당년")
                    .Type(SeriesType.Bar)
                    .Color("#ffaa66")
                )
                .Series(s => s
                    .Add()
                    .ArgumentField("month")
                    .ValueField("전년")
                    .Name("전년")
                    .Type(SeriesType.Bar)
                    .Color("#28a745")
                )
                 .Tooltip(t => t
                    .Enabled(true)
                    .Shared(true)
                    .CustomizeTooltip(
                        @<text>
                            function(info) {
                                return {
                                    html: "<div><div class='tooltip-header'>" +
                                    info.argumentText + "월</div>" +
                                    "<div class='tooltip-body'><div class='series-name'>" +
                                    info.points[0].seriesName +
                                    ": </div><div class='value-text'>" +
                                    info.points[0].valueText +
                                    " 건</div><div class='series-name'>" +
                                    info.points[1].seriesName +
                                    ": </div><div class='value-text'>" +
                                    info.points[1].valueText +
                                    " 건</div></div></div>"
                                };
                            }
                        </text>)
                    )
             )
            </div>
        </div>
    </div>

</div>