@using System.Data
@using HACCP.Libs.Views
@{
    Layout = null;
    ViewBag.Title = "ItemSearch";
}

@{
    var ItemSearchData = @Html.Raw(Json.Encode(ViewBag.ItemSearchData.Data));
    var ItemSearchAuth = @Html.Raw(Json.Encode(ViewBag.ItemSearchAuth.Data));
}

<script type="text/javascript" id="ItemSearchJs">

    // SP 구문, gubun 변수
    var ItemSearch_Gubun = "";

    // 메뉴 권한
    var _ItemSearchAuth;

    $(function () {

        if (!(@ItemSearchData === "")) {
            // 좌측 그리드 객체 생성
            $("#ItemSearch_LeftGrid").dxDataGrid("instance").option("dataSource", JSON.parse(@ItemSearchData));
            $("#ItemSearch_LeftGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
            $("#ItemSearch_LeftGrid").dxDataGrid("instance").option("focusedRowIndex", 0);
        }

        // 사용자 권한
        _ItemSearchAuth = JSON.parse(@ItemSearchAuth)[0];

        // 미사용
        /*if (_ItemSearchAuth.form_query != "Y") {
            $("#ItemSearch_Search").remove();
        }*/

    });

    function ItemSearch_Left_changed() {

        var grid = $("#ItemSearch_LeftGrid").dxDataGrid("instance");
        var gridData = getGridRowByKey('ItemSearch_LeftGrid', grid.option("focusedRowKey"));

        $.ajax({
            type: 'POST',
            url: '/PrdLoc/ItemSearch_S2',
            data: {
                item_cd: gridData.item_cd
            },
            success: function (result) {

                if (result.length <= 0) {
                    $("#ItemSearchUpGrid").dxDataGrid("instance").option("dataSource", []);
                    $("#ItemSearchUpGrid").dxDataGrid("instance").option("focusedRowEnabled", false);

                    return;
                }

                if (JSON.parse(result).sessionLoss) {
                    alert("세션이 만료되었습니다.");
                    sessionStorage.clear();
                    location.replace("/Comm/Login");
                }


                $("#ItemSearchUpGrid").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                $("#ItemSearchUpGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                $("#ItemSearchUpGrid").dxDataGrid("instance").option("focusedRowIndex", 0);
            }
        });
    }

    function ItemSearch_UP_changed() {

        var grid = $("#ItemSearchUpGrid").dxDataGrid("instance");
        var gridData = getGridRowByKey('ItemSearchUpGrid', grid.option("focusedRowKey"));

        $.ajax({
            type: 'POST',
            url: '/PrdLoc/ItemSearch_S3',
            data: {
                item_stock_id: gridData.item_stock_id
            },
            success: function (result) {

                if (result.length <= 0) {
                    $("#ItemSearchDownGrid").dxDataGrid("instance").option("dataSource", []);
                    $("#ItemSearchDownGrid").dxDataGrid("instance").option("focusedRowEnabled", false);
                    return;
                }

                if (JSON.parse(result).sessionLoss) {
                    alert("세션이 만료되었습니다.");
                    sessionStorage.clear();
                    location.replace("/Comm/Login");
                }

                $("#ItemSearchDownGrid").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                $("#ItemSearchDownGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                $("#ItemSearchDownGrid").dxDataGrid("instance").option("focusedRowIndex", 0);
            }
        });
    }

    // 엑셀 다운로드
    function ItemSearchExcel(gridName, ExcelName) {
        gridExportToExcel("ItemSearchDownGrid", "완제품 적치 현황");
    }


</script>

<div id="ItemSearch" autoresize="Y">

    <div class="mainTop row">

        <!-- $검색폼-->
        <div class="col-8"></div>
        <!-- $CRUD버튼-->
        <div class="CRUD-btn col-4">
            @* === CRUD 버튼 === *@
            @{Html.SetToolbar(0, true, "Excel");}
        </div>
    </div>

    <div class="row">
        <div class="col-6 pr-0">

            <!-- 좌측 그리드 -->
            <div class="box mb-0">

                @(Html.DevExtreme().DataGrid()
                    .ID("ItemSearch_LeftGrid")
                    .ShowBorders(true)
                    .SearchPanel(searchPanel => searchPanel.Visible(true))
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .ColumnAutoWidth(true)
                    .AllowColumnResizing(true)
                    .HoverStateEnabled(true)
                    .KeyExpr("item_cd")
                    .Height(900)
                    .ShowColumnLines(true)
                    .Columns(c =>
                    {
                        c.Add().DataField("item_cd").Caption("품목코드");
                        c.Add().DataField("item_nm").Caption("품목명");
                        c.Add().DataField("item_lot_size").Caption("단위").Alignment(HorizontalAlignment.Center);
                    })
                    .OnFocusedRowChanged("ItemSearch_Left_changed")
                )

            </div>
        </div>

        <div class="col-6">
            <div class="box mb-0">

                <!-- 우측 위 그리드 -->
                <div class="divName">
                    <p>제조번호별 재고 정보</p>
                </div>

                @(Html.DevExtreme().DataGrid()
                    .ID("ItemSearchUpGrid")
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .Height(500)
                    .ShowColumnLines(true)
                    .ColumnAutoWidth(true)
                    .AllowColumnResizing(true)
                    .HoverStateEnabled(true)
                    .KeyExpr("item_stock_id")
                    .Columns(c =>
                    {
                        c.Add().DataField("lot_no").Caption("제조번호");
                        c.Add().DataField("prod_qty_sum").Caption("입고량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("prod_qty_plan").Caption("입고예정량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("stock_qty_sum").Caption("재고량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("box_barcode_count").Caption("팔레트수").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("prod_return_ck").Caption("구분").Alignment(HorizontalAlignment.Center);
                    })
                    .ShowBorders(true)
                    .OnFocusedRowChanged("ItemSearch_UP_changed")
                )
                <!-- 우측 아래 그리드 -->
                <div class="divName">
                    <p>팔레트 정보</p>
                </div>

                @(Html.DevExtreme().DataGrid()
                    .ID("ItemSearchDownGrid")
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .ShowBorders(true)
                    .Height(295)
                    .ShowColumnLines(true)
                    .ColumnAutoWidth(true)
                    .AllowColumnResizing(true)
                    .HoverStateEnabled(true)
                    .KeyExpr("box_barcode_no")
                    .Columns(c =>
                    {
                        c.Add().DataField("box_barcode_no").Caption("팔레트바코드");
                        c.Add().DataField("prod_qty").Caption("입고량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("stock_qty").Caption("재고량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("workroom_nm").Caption("창고");
                        c.Add().DataField("zone_nm").Caption("구역");
                        c.Add().DataField("cell_nm").Caption("셀");
                    })                       
                )
            </div>

        </div>

    </div>

</div>