@*작업실적 모니터링*@

@using System.Data
@using HACCP.Libs
@using HACCP.Libs.Views

@{
    //*********************************************************
    // ▣ 페이지 공통 정의
    //*********************************************************

    //1. 페이지 접두어 지정
    var pagePrefix = ViewContext.RouteData.Values["action"].ToString();
    var pageControllerNm = ViewContext.RouteData.Values["controller"].ToString();

    ViewBag.Title = pagePrefix;
    Layout = null;
}

@{
    var WorkResult = Html.Raw(Json.Encode(ViewBag.WorkResult.Data));
    var Item = Html.Raw(Json.Encode(ViewBag.Item.Data));
}


<script id="@(pagePrefix)Js">

        var PagePrefix        = "@(pagePrefix)";                   //js사용, 페이지접두어
        var PageControllerNm  = "@(pageControllerNm)";     //js사용, 페이지컨트롤러명
        var FormNmSearch      = PagePrefix + "SearchForm";    // 폼명-검색용
        var FormNmWrite = PagePrefix + "WriteForm";     // 폼명-등록용
        var _workResultJsonData;

        UtilView.m_controller = PageControllerNm;
        UtilView.m_actionPrefix = PagePrefix;

        $(function () {

            _workResultJsonData = JSON.parse(@WorkResult);


            if (_workResultJsonData.Table) {
                $("#" + PagePrefix + "Grid").dxDataGrid("option", "dataSource", _workResultJsonData.Table3);
            }

            var popupColumns = [
                { dataField: "item_cd", caption: "품목코드" },
                { dataField: "item_nm", caption: "품목명" }
            ];

            createPopup(PagePrefix + "Item", "품목 조회", @Item, popupColumns);
        });

        // 검색용 제조제품 팝업
        function WorkResult_Mont2SelectItem() {
            $("#WorkResult_Mont2ItemPopup").dxPopup("instance").show();
        }

        // 검색용 제조제품 팝업 선택
        function WorkResult_Mont2ItemRowDblClick(selectedItems) {

            var data = selectedItems.data;

            $("#WorkResult_Mont2SearchForm input[name=item_cd]").val(data.item_cd);

            $("#WorkResult_Mont2ItemPopup").dxPopup("instance").hide();
        }

        // 조회
        function WorkResult_Mont2Search() {

            var formData = $("#WorkResult_Mont2SearchForm").serialize();

            $.ajax({
                type: 'GET',
                url: '/ProductionManage/WorkResultSelect',
                data: formData,
                dataType: 'json',
                success: function (result) {

                    _workResultJsonData = JSON.parse(result);

                    $("#WorkResult_Mont2Grid").dxDataGrid("option", "dataSource", _workResultJsonData.Table3);

                }
            })

        }


</script>

<div id="@(pagePrefix)" page-ctrl-name="@(pageControllerNm)" autoresize="Y">

    <div id="@(pagePrefix)ItemPopup"></div>

    <div class="mainTop row">

        <div class="col-8">

            <form id="@(pagePrefix)SearchForm">

                <div class="input-wrapper">

                    <div class="input-group input-group-sm col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">년도</span>
                        </div>
                        <input type="number" class="form-control" name="year" value="@DateTime.Now.Year.ToString()">
                        <select class="form-control" name="month">
                            @{
                                for (int i = 1; i <= 12; i++)
                                {
                                    if (i == DateTime.Now.Month)
                                    {
                                        <option value="@((i < 10) ? "0" + i.ToString() : i.ToString())" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@((i < 10) ? "0" + i.ToString() : i.ToString())">@i</option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="input-group input-group-sm col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">제조제품</span>
                        </div>
                        <input type="text" class="form-control" name="item_cd">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="@(pagePrefix)SelectItem()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </form>

        </div>

        <div class="CRUD-btn col-4">
            @{Html.SetToolbar(0, true, "Search");}
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="box mb-0">
                @(Html.DevExtreme().DataGrid()
                    .ID(pagePrefix + "Grid")
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                    .ColumnAutoWidth(true)
                    .Height(900)
                    //.KeyExpr("order_proc_id")
                    .ShowBorders(true)
                    .HoverStateEnabled(true)
                    .ShowColumnLines(true)
                    .FocusedRowEnabled(true)
                    .KeyExpr("lot_no")
                    .Columns(c =>
                    {
                        c.Add().DataField("item_cd").Caption("품목코드");
                        c.Add().DataField("item_nm").Caption("제품명");
                        c.Add().DataField("lot_no").Caption("LOT");
                        c.Add().DataField("start_date").Caption("제조일자");
                        c.Add().DataField("order_qty").Caption("제조수량");

                        c.Add().DataField("H3_work_date").Caption("선혼합");
                        c.Add().DataField("H_work_date").Caption("연합");
                        c.Add().DataField("GZ_work_date").Caption("건조");
                        c.Add().DataField("GZ2_work_date").Caption("과립");
                        c.Add().DataField("JR_work_date").Caption("정립");
                        c.Add().DataField("H2_work_date").Caption("후혼합");
                        c.Add().DataField("T_work_date").Caption("타정");
                        c.Add().DataField("C_work_date").Caption("코팅");
                        //c.Add().DataField("S_work_date").Caption("선별");
                        c.Add().DataField("P_work_date").Caption("포장");

                        c.Add().DataField("order_proc_enter_time").Caption("작업일자");
                        c.Add().DataField("order_proc_real_ea_qty").Caption("입고수량");
                        c.Add().DataField("order_proc_rate").Caption("생산수율")
                            .DataType(GridColumnDataType.Number)
                            .Format("#,###");
                        c.Add().DataField("tot_equip_time").Caption("설비공수")
                            .DataType(GridColumnDataType.Number)
                            .Format("#,###");
                    })
                )


            </div>
        </div>

    </div>

</div>