@* 제조지시관리 / 원료 불출 지시 *@
@using HACCP.Libs.Views

@{
    Layout = null;
    ViewData["Title"] = "Workorder_Request";

    var workorderData = @Html.Raw(Json.Encode(ViewBag.workorderData.Data));
    var itemPopupData = @Html.Raw(Json.Encode(ViewBag.itemPopupData.Data));
}

@*원료불출지시*@

    <script id="Workorder_RequestJs">

        var _workorderRequestOrderNo = "";
        var _workorderRequestIsOK = true;

        $(function () {

            $("#Workorder_RequestReleaseBtnGroup button").prop("disabled", true);

            setDatePicker("#Workorder_Request .datepicker");

            if ((@workorderData).length > 0) {
                $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance").option("dataSource", JSON.parse(@workorderData));
                $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance").option("focusedRowIndex", 0);
            }

            var columns = [
                { dataField: "item_cd", caption: "품목코드" },
                { dataField: "item_nm", caption: "품목명" }
            ];

            createPopup("Workorder_RequestItem", "품목조회", @itemPopupData, columns, "item_cd");

        });

        // 조회용 제품 코드 팝업
        function Workorder_RequestSelectItem() {
            $("#Workorder_RequestItemPopup").dxPopup("instance").show();
        }

        // 제품 팝업 로우 더블클릭
        function Workorder_RequestItemRowDblClick(selectedItems) {
            var data = selectedItems.data;

            $("#Workorder_RequestSearchForm input[name=item_cd]").val(data.item_cd);

            var popup = $("#Workorder_RequestItemPopup").dxPopup("instance");

            popup.hide()
        }

        // 조회
        function Workorder_RequestSearch() {

            var formData = new FormData($("#Workorder_RequestSearchForm")[0]);
            $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance").option("focusedRowEnabled", false);
            $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance").option("focusedRowIndex", -1);

            $.ajax({
                type: 'POST',
                url: '/ProductionManage/SelectWorkorderRequest',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {

                    try {
                        var json = JSON.parse(result);

                        if (json.hasOwnProperty('sessionLoss')) {
                            alert("세션이 만료되었습니다.");
                            sessionStorage.clear();
                            location.replace("/Comm/Login");
                        }

                        $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                        $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                        $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

                    } catch (e) {
                        $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance").option("dataSource", []);
                        $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance").option("focusedRowKey", "");
                    }
                }
            })
        }

        // 제조지시 그리드 포커스 변경
        function Workorder_RequestSelctWorkOrder() {
            _workorderRequestOrderNo = "";

            var grid = $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance");
            var data = getGridRowByKey("Workorder_RequestWorkorderGrid", grid.option("focusedRowKey"));

            _workorderRequestOrderNo = data.order_no;

            $("#Workorder_RequestReleaseGrid").dxDataGrid("instance").option("keyExpr", "req_order_id");

            $.ajax({
                type: 'POST',
                url: '/ProductionManage/Workorder_RequestSelectReleaseStandard',
                data: {
                    order_no: data.order_no,
                    item_cd: data.item_cd,
                    batch_size: data.order_batch_size,
                    real_order_qty: data.order_qty
                },
                success: function (result) {

                    if (result.length <= 0) {
                        
                        $("#Workorder_RequestReleaseGrid").dxDataGrid("instance").option("dataSource", []);
                        $("#Workorder_RequestReleaseGrid").dxDataGrid("instance").option("focusedRowKey", "");

                        $("#Workorder_RequestUsageGrid").dxDataGrid("instance").option("dataSource", []);
                        $("#Workorder_RequestUsageGrid").dxDataGrid("instance").option("focusedRowKey", "");

                        $("#Workorder_RequestStockGrid").dxDataGrid("instance").option("dataSource", []);
                        $("#Workorder_RequestStockGrid").dxDataGrid("instance").option("focusedRowKey", "");

                        $("#Workorder_RequestReleaseBtnGroup button").prop("disabled", true);

                        return;
                    }

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    $("#Workorder_RequestReleaseGrid").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                    $("#Workorder_RequestReleaseGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                    $("#Workorder_RequestReleaseGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

                    $("#Workorder_RequestReleaseBtnGroup button").prop("disabled", false);

                }
            })

        }

        // 불출 기준 그리드 포커스 변경
        function Workorder_RequestSelctRelease() {

            var grid = $("#Workorder_RequestReleaseGrid").dxDataGrid("instance");
            var data = getGridRowByKey("Workorder_RequestReleaseGrid", grid.option("focusedRowKey"));

            if (data.req_order_id != null && data.req_order_id != "") {
                getUsageData(data);
            } else {
                $("#Workorder_RequestUsageGrid").dxDataGrid("instance").option("dataSource", []);
                $("#Workorder_RequestUsageGrid").dxDataGrid("instance").option("focusedRowKey", "");
            }

            getCurrentStockData(data);

        }

        // 사용량 조회
        function getUsageData(data) {

            $.ajax({
                type: 'POST',
                url: '/ProductionManage/Workorder_RequestSelectUsage',
                data: {
                    order_no: _workorderRequestOrderNo,
                    req_order_gb: data.req_order_gb,
                    req_order_id: data.req_order_id
                },
                success: function (result) {

                    var grid = $("#Workorder_RequestReleaseGrid").dxDataGrid("instance");

                    if (result.length <= 0) {

                        grid.option("keyExpr", "req_order_seq");

                        $("#Workorder_Request input[name=req_order_math]").val("");
                        $("#Workorder_RequestUsageGrid").dxDataGrid("instance").option("dataSource", []);
                        $("#Workorder_RequestUsageGrid").dxDataGrid("instance").option("focusedRowKey", "");

                        return;
                    }

                    var json = JSON.parse(result);

                    $("#Workorder_RequestUsageGrid").dxDataGrid("instance").option("dataSource", json);
                    $("#Workorder_RequestUsageGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                    $("#Workorder_RequestUsageGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

                    $("#Workorder_Request input[name=req_order_math]").val(json[0].REQ_ORDER_MATH);
                }
            })
        }

        // 현재고 조회
        function getCurrentStockData(data) {

            $.ajax({
                type: 'POST',
                url: '/ProductionManage/Workorder_RequestSelectCurrentStock',
                data: {
                    req_order_child_cd: data.req_order_child_cd,
                    item_cd: data.item_cd,
                    order_no: _workorderRequestOrderNo
                },
                success: function (result) {

                    if (result.length <= 0) {

                        $("#Workorder_RequestStockGrid").dxDataGrid("instance").option("dataSource", []);
                        $("#Workorder_RequestStockGrid").dxDataGrid("instance").option("focusedRowKey", "");

                        return;
                    }

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    $("#Workorder_RequestStockGrid").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                    $("#Workorder_RequestStockGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                    $("#Workorder_RequestStockGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

                }
            })
        }

        // 사용량 전체 제거
        function workorderRequestDeleteRelease() {

            var isOK = confirm("사용량을 전부 제거하시겠습니까?");

            if (!isOK) {
                return;
            }

            var grid = $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance");
            var data = getGridRowByKey("Workorder_RequestWorkorderGrid", grid.option("focusedRowKey"));

            if (data.gubun === "확정") {
                alert("확정된 상태에서는 삭제할 수 없습니다.");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/ProductionManage/Workorder_RequestDeleteAllUsage',
                data: {
                    order_no: data.order_no
                },
                success: function (result) {

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    alert(json.result);

                    Workorder_RequestSelctWorkOrder();
                }
            })

        }

        // 사용량 자동계산
        function usageAutoCalc() {

            var grid = $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance");
            var data1 = getGridRowByKey("Workorder_RequestWorkorderGrid", grid.option("focusedRowKey"));

            if (data1.gubun === "확정") {
                alert("이미 확정된 불출지시입니다.");
                return;
            }

            var isOK = confirm("사용량을 자동 계산하시겠습니까?");

            if (!isOK) {
                return;
            }

            var data2 = $("#Workorder_RequestReleaseGrid").dxDataGrid("instance").option("dataSource");

            data2.order_no = _workorderRequestOrderNo;

            //실투입량 값 없으면 -> 계산할 수 없음
            var child_nm = "";

            $.map(data2, function (value, index) {
                var val = value.req_order_real_qty;

                //실투입량이 없을 때
                if (val == null || val == "" || parseFloat(val) == 0) {
                    child_nm += value.req_order_child_nm + ", ";
                }
            });

            if (child_nm != "") {
                alert(child_nm + " 원료의 실투입량이 없어서 계산할 수 없습니다. 처방전을 확인해주세요");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/ProductionManage/Workorder_RequestAutoCalcUsage',
                async: false,
                dataType: "json",
                data: {
                    workorderRequest: JSON.stringify(data2),
                    order_no: _workorderRequestOrderNo
                },
                success: function (result) {

                    alert(result.result);

                }
            })

            Workorder_RequestSelctWorkOrder();

        }

        // 확정
        function releaseConfirmation() {

            var grid = $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance");
            var data2 = getGridRowByKey("Workorder_RequestWorkorderGrid", grid.option("focusedRowKey"));

            if (data2.gubun === "확정") {
                alert("이미 확정된 불출지시입니다.");
                return;
            }



            var data = $("#Workorder_RequestReleaseGrid").dxDataGrid("instance").option("dataSource");

            if (data[0].req_order_id === "-1") {
                alert("사용량을 입력해주세요.");

                return;
            }

            for (var i = 0; i < data.length; i++) {
                if (data[i].req_order_status != "01") {
                    alert("계산 완료되지 않은 항목이 있습니다.\r\n사용량 계산 버튼을 눌러 사용량 계산을 진행해 주십시오.");
                    return;
                }
            }


            if (!confirm("원료 사용량을 확정하시겠습니까?")) {
                return;
            }

            _workorderRequestIsOK = true;

            for (var i = 0; i < data.length; i++) {

                var tmpData = data[i];

                $.ajax({
                    type: 'POST',
                    url: '/ProductionManage/Workorder_RequestSelectQty',
                    data: {
                        order_no: data[i].order_no,
                        req_order_gb: data[i].req_order_gb,
                        req_order_id: data[i].req_order_id
                    },
                    async: false,
                    success: function (result) {

                        if (result.length <= 0) {
                            return;
                        }

                        var json = JSON.parse(result);


                        if (json.hasOwnProperty('sessionLoss')) {
                            alert("세션이 만료되었습니다.");
                            sessionStorage.clear();
                            location.replace("/Comm/Login");
                        }


                        if (parseFloat(tmpData.req_order_real_qty).toFixed(2) != json.result.toFixed(2)) {

                            alert((i + 1) + '번줄 [' + tmpData.req_order_child_cd + '] ' + tmpData.req_order_child_nm + '의 사용량이 실투입량보다 적습니다. \r\n확인 후 다시 시도해주십시오.');
                            _workorderRequestIsOK = false;

                            return;
                        }

                    }

                })

            }


            if (!_workorderRequestIsOK) {

                return;

            } else {

                for (var i = 0; i < data.length; i++) {

                    var tmpData = data[i];

                    $.ajax({
                        type: 'POST',
                        url: '/ProductionManage/Workorder_RequestConfirm',
                        data: {
                            order_no: data[i].order_no,
                            req_order_gb: data[i].req_order_gb,
                            req_order_id: data[i].req_order_id
                        },
                        async: false,
                        success: function (result) {

                            var json = JSON.parse(result);

                            if (json.result === "Fail") {
                                alert("실패하였습니다.");
                            }

                            if (json.hasOwnProperty('sessionLoss')) {
                                alert("세션이 만료되었습니다.");
                                sessionStorage.clear();
                                location.replace("/Comm/Login");
                            }

                        }

                    })

                }

                $.ajax({
                    type: 'POST',
                    url: '/ProductionManage/Workorder_RequestFinalConfirm',
                    data: {
                        order_no: data[0].order_no
                    },
                    async: false,
                    success: function (result) {

                        if (result.length <= 0) {
                            return;
                        }

                        var json = JSON.parse(result);

                        if (json.hasOwnProperty('sessionLoss')) {
                            alert("세션이 만료되었습니다.");
                            sessionStorage.clear();
                            location.replace("/Comm/Login");
                        }

                        alert("확정되었습니다.");
                        Workorder_RequestSearch();
                        Workorder_RequestSelctWorkOrder();
                    }
                })
            }
        }

        // 확정 취소
        function cancelReleaseConfirmation() {

            var isOK = confirm("확정을 취소하시겠습니까?");

            if (!isOK) {
                return;
            }

            var grid1 = $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance");
            var data1 = getGridRowByKey("Workorder_RequestWorkorderGrid", grid1.option("focusedRowKey"));

            var grid2 = $("#Workorder_RequestReleaseGrid").dxDataGrid("instance");
            var data2 = getGridRowByKey("Workorder_RequestReleaseGrid", grid2.option("focusedRowKey"));


            if (data1.length <= 0) {
                alert("불출지시 정보가 없습니다.");
                return;
            }

            if (data2.length <= 0) {
                alert("원료 투입 정보가 없습니다.");
                return;
            }

            if (data1.gubun != "확정") {
                alert("확정취소는 불출작업이 완료된 것만 가능합니다.");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/ProductionManage/CancelReleaseConfirmation',
                data: {
                    order_no: data1.order_no
                },
                success: function (result) {

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    alert(json.result);

                    Workorder_RequestSearch();
                    Workorder_RequestSelctWorkOrder();

                }
            })
        }

        // 사용량 수정모드
        function workorderRequestUsageEdit(isEditing) {

            var data = $("#Workorder_RequestReleaseGrid").dxDataGrid("instance").option("dataSource");

            if (data[0].req_order_id === "-1") {
                alert("모든 원료의 계산이 완료된 후 변경할 수 있습니다.\r\n자동 계산을 먼저 진행해 주십시오.");

                return;
            }

            var grid = $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance");
            var data2 = getGridRowByKey("Workorder_RequestWorkorderGrid", grid.option("focusedRowKey"));

            if (data2.gubun === "확정") {
                alert("이미 확정된 불출지시입니다.");
                return;
            }

            if (isEditing) {

                var editing = {
                    allowAdding: true,
                    allowDeleting: true,
                    mode: 'row'
                }

                $("#Workorder_RequestUsageGrid").dxDataGrid("option", "editing", editing);

                $("#workorderRequestUsageDiv1").addClass("display-none");
                $("#workorderRequestUsageDiv2").removeClass("display-none");

                $("#Workorder_RequestWorkorderGrid").dxDataGrid("option", "disabled", true);
            } else {

                var editing = {
                    allowAdding: false,
                    allowDeleting: false
                }

                $("#Workorder_RequestUsageGrid").dxDataGrid("option", "editing", editing);

                $("#workorderRequestUsageDiv1").removeClass("display-none");
                $("#workorderRequestUsageDiv2").addClass("display-none");

                $("#Workorder_RequestWorkorderGrid").dxDataGrid("option", "disabled", false);

            }

        }

        // 사용량 로우 추가버튼
        function workorderRequestUsageInitNew(e) {

            var grid = $("#Workorder_RequestStockGrid").dxDataGrid("instance");
            var data = getGridRowByKey("Workorder_RequestStockGrid", grid.option("focusedRowKey"));

            e.data.req_order_material_qc_no = data.receipt_qc_no3;
        }

        // 사용량 추가
        function Workorder_RequestUsageInsert(info) {

            var totalQty = $("#Workorder_RequestUsageGrid").dxDataGrid("instance").getTotalSummaryValue("req_order_material_qty");

            var grid = $("#Workorder_RequestReleaseGrid").dxDataGrid("instance");
            var data = getGridRowByKey("Workorder_RequestReleaseGrid", grid.option("focusedRowKey"));

            if (parseFloat(totalQty) + parseFloat(info.data.req_order_material_qty) > parseFloat(data.req_order_real_qty)) {
                alert("사용할 양의 합계가 실투입량을 초과했습니다.");
                info.cancel = true;
                return;
            }

            info.data.order_no = data.order_no;
            info.data.req_order_gb = data.req_order_gb;
            info.data.req_order_id = data.req_order_id;
            info.data.req_order_density = data.req_order_density;
            info.data.req_order_real_weight = data.req_order_real_qty;

            $.ajax({
                type: 'POST',
                url: '/ProductionManage/Workorder_RequestInsertUsage',
                dataType: "json",
                data: { workorderRequest: JSON.stringify(info.data) },
                async: false,
                success: function (result) {

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    alert(json.result);

                    Workorder_RequestSelctRelease();
                }
            })

        }

        // 사용량 삭제
        function Workorder_RequestUsageDelete(info) {

            $.ajax({
                type: 'POST',
                url: '/ProductionManage/Workorder_RequestDeleteUsage',
                dataType: "json",
                data: { workorderRequest: JSON.stringify(info.data) },
                async: false,
                success: function (result) {

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    alert(json.result);

                    Workorder_RequestSelctRelease();
                }
            })

        }

        // 사용량 분할
        function workorderRequestUsageSeperate() {

            var seperateNum = $("#workorderRequestUsageDiv2 input[name=seperateNum]").val();

            var data = $("#Workorder_RequestUsageGrid").dxDataGrid("instance").option("dataSource");

            if (seperateNum <= 0) {

                return;
            }

            if (data.length >= 2) {
                alert("2개 이상으로 분할 된 상태에서는 추가 분할이 불가능합니다.");
                return;
            }

            data[0].seperateNum = seperateNum;

            $.ajax({
                type: 'POST',
                url: '/ProductionManage/Workorder_RequestSeperateUsage',
                dataType: "json",
                data: {
                    workorderRequest: JSON.stringify(data[0]),
                    seperateNum: seperateNum
                },
                async: false,
                success: function (result) {

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    alert(json.result);

                    Workorder_RequestSelctRelease();
                }
            })

        }

        // 원료시험 현황
        function workorderRequestTestProgressStatus() {

            var grid = $("#Workorder_RequestReleaseGrid").dxDataGrid("instance");
            var data = getGridRowByKey("Workorder_RequestReleaseGrid", grid.option("focusedRowKey"));

            var requestData = {
                search_number: data.req_order_child_cd
            };

            $.ajax({
                type: "POST",
                url: '/ProductionManage/TestProgressStatus',
                traditional: true,
                data: requestData
            }).done(function (response) {
                var popup = $("#workorderRequestTestProgressStatusPopup").dxPopup('instance');

                popup.option("contentTemplate", function (content) {

                    content.append(response);
                });

                popup.show();

            }).fail(function (data) {
                alert("Failed: " + data.response);
            });

        }

        // 원료재고현황
        function workorderRequestStockCheck() {

            var grid = $("#Workorder_RequestReleaseGrid").dxDataGrid("instance");
            var data = getGridRowByKey("Workorder_RequestReleaseGrid", grid.option("focusedRowKey"));

            var urlInfo = {
                tabName: "원료재고현황",
                tabId: "StockStatus2_M",
                url: "/RowMatWh/StockStatus2_M"
            };

            var param = {
                item_cd_S: data.req_order_child_cd
            };

            urlInfo.param = param;

            openOtherPage(urlInfo);
        }

        function Workorder_RequestExcel() {
            gridExportToExcel("Workorder_RequestReleaseGrid", "Workorder_RequestReleaseData");
        }

        function Workorder_RequestPrint() {
            var btnType;
            btnType = $(event.target).closest('.dx-button').attr('id');

            var grid = $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance");
            var data = getGridRowByKey("Workorder_RequestWorkorderGrid", grid.option("focusedRowKey"));

            var order_no = data.order_no;

            // report 출력
            var report = new ReportHelper();
            report.addParam({
                objFile: { path: "ProductionManage", RptFileName: "Material_List" },
                objSp: { SpName: "SP_Workorder_Workorder_Request", gubun: "Material_List", reportParam: "order_no:" + order_no },
                objEtcInfo: { subParam: "" },
                objTblNm: { tblName: "Header,List" }
            });

            // 레포트테스트(생성객체확인)
            report.testObj();

            if (btnType.indexOf('Preview') > -1) {
                report.preview();
            } else if (btnType.indexOf('Print') > -1) {
                report.print();
            }
        }

        // 사용량 분할 횟수
        function workorderRequestSeperate() {

            var grid = $("#Workorder_RequestWorkorderGrid").dxDataGrid("instance");
            var data1 = getGridRowByKey("Workorder_RequestWorkorderGrid", grid.option("focusedRowKey"));

            if (data1.gubun === "확정") {
                alert("이미 확정된 불출지시입니다.");
                return;
            }

            var separate_cnt = $("#Workorder_RequestReleaseBtnGroup input[name=seperateNum]").val();
            if (separate_cnt == null || separate_cnt == "") {
                alert("분할 횟수가 입력 되지 않았습니다.");
                return;
            }

            var grid2 = $("#Workorder_RequestReleaseGrid").dxDataGrid("instance");
            var selectedRowIndex = grid2.getSelectedRowKeys();
            if (selectedRowIndex == null || selectedRowIndex.length == 0) {
                alert("선택된 원료가 없습니다.");
                return;
            }

            var data2 = grid2.option("dataSource");
            var separate_cnt = $("#Workorder_RequestReleaseBtnGroup input[name=seperateNum]").val();

            for (var i = 0; i < selectedRowIndex.length; i++) {
                var rowIndex = grid2.getRowIndexByKey(selectedRowIndex[i]);

                if (data2[rowIndex].req_order_status == "00")
                    data2[rowIndex].separate_count = separate_cnt;
            }

            grid2.saveEditData();
        }

        function WorkorderRequestRelease_BackgroundColor(e) {
            if (e.rowType == "data") {
                var data = e.data;
                if (data.req_order_status == "00" && (data.req_order_real_qty > data.available_inventory)) {
                    e.rowElement[0].style.backgroundColor = '#F77558';
                }
            }
        }

    </script>

<div id="Workorder_Request">

    <div id="Workorder_RequestItemPopup"></div>

    <div>
        @(Html.DevExtreme().Popup()
            .ID("workorderRequestTestProgressStatusPopup")
            .Width(1600)
            .Height(900)
            .ShowTitle(true)
            .Title("시험진행 단계")
            .Visible(false)
            .DragEnabled(false)
            .ContentTemplate(new TemplateName("popup-template"))
        )
    </div>

    <div class="mainTop row">

        <div class="col-8">

            <form id="Workorder_RequestSearchForm">

                <div class="input-wrapper">

                    <div class="input-group input-group-sm col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">지시일자</span>
                        </div>
                        <input type="text" class="form-control datepicker" name="sdate" value="@ViewBag.sdate">
                        <input type="text" class="form-control datepicker" name="edate" value="@ViewBag.edate">
                    </div>

                    <div class="input-group input-group-sm col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">제품</span>
                        </div>
                        <input type="text" class="form-control searchPopupInput" name="item_cd" value="@ViewBag.item_cd">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="Workorder_RequestSelectItem()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </form>

        </div>
            
        <div class="CRUD-btn col-4">
            @* === CRUD 버튼 === *@
            @{Html.SetToolbar(0, true, "Search;Excel;Preview;Print"); }
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <div class="box-height-auto mb-1">
                <div class="divName">
                    <p>제조지시 정보</p>
                </div>

                @(Html.DevExtreme().DataGrid()
                        .ID("Workorder_RequestWorkorderGrid")
                        .ShowBorders(true)
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .ColumnAutoWidth(true)
                        .FocusedRowEnabled(true)
                        .SearchPanel(searchPanel => searchPanel.Visible(true))
                        .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                        .Height(200)
                        .KeyExpr("order_no")
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .Columns(columns =>
                        {
                            columns.Add().DataField("gubun").Caption("확정여부");
                            columns.Add().DataField("item_cd").Caption("품목코드");
                            columns.Add().DataField("item_nm").Caption("품목명");
                            columns.Add().DataField("lot_no").Caption("제조번호");
                            columns.Add().DataField("lot_date").Caption("제조일자");
                            columns.Add().DataField("valid_date").Caption("사용기한");
                            columns.Add().DataField("order_qty").Caption("지시수량");
                            columns.Add().DataField("item_packunit").Caption("단위");
                            columns.Add().DataField("order_no").Caption("제조지시번호");
                        })
                        .OnFocusedRowChanged("Workorder_RequestSelctWorkOrder")
                        )

            </div>
        </div>

    </div>

    <div class="row mb-1">

        <div class="col-6 pr-1">
            <div class="box mb-0">
                <div class="divName">
                    <p>불출기준</p>
                </div>

                <div id="Workorder_RequestReleaseBtnGroup" style="text-align: end; margin: 5px;">
                    <div class="input-wrapper">
                        <button class="btn btn-sm btn-secondary" onclick="usageAutoCalc()">사용량 계산</button>
                        <button class="btn btn-sm btn-secondary" onclick="workorderRequestDeleteRelease()">사용량 전체 삭제</button>
                        <button class="btn btn-sm btn-secondary" onclick="workorderRequestTestProgressStatus()">원료시험현황</button>
                        <button class="btn btn-sm btn-secondary" onclick="workorderRequestStockCheck()">원료재고현황</button>
                        <button class="btn btn-sm btn-secondary" onclick="releaseConfirmation()">확정</button>
                        <button class="btn btn-sm btn-secondary" onclick="cancelReleaseConfirmation()">확정취소</button>
                    </div>
                    <div class="input-wrapper">
                        <div class="input-group col-5">
                            <div class="input-group-prepend" style="height:23px;">
                                <span class="input-group-text" style="font-size:inherit;">사용량 분할 횟수</span>
                            </div>
                            <input type="number" class="form-control" name="seperateNum" value="1">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" onclick="workorderRequestSeperate()">
                                    적용
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                @(Html.DevExtreme().DataGrid()
                    .ID("Workorder_RequestReleaseGrid")
                    .ShowBorders(true)
                    .ShowColumnLines(true)
                    .ShowRowLines(true)
                    .ColumnAutoWidth(true)
                    .OnRowPrepared("WorkorderRequestRelease_BackgroundColor")
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                    .Height(485)
                    .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                    .Columns(columns =>
                    {
                        columns.Add().DataField("process_nm").Caption("공정");
                        columns.Add().DataField("req_order_child_cd").Caption("원료코드");
                        columns.Add().DataField("req_order_child_nm").Caption("원료명");
                        columns.Add().DataField("req_order_child_packunit").Caption("단위");
                        columns.Add().DataField("req_order_real_qty").Caption("실투입량").DataType(GridColumnDataType.Number);
                        columns.Add().DataField("separate_count").Caption("분할횟수");
                        columns.Add().DataField("req_order_status_nm").Caption("구분");
                    })
                    .OnFocusedRowChanged("Workorder_RequestSelctRelease")
                )

            </div>
        </div>

        <div class="col-6 pl-0">
            <div class="box-height-auto mb-1">
                <div class="divName">
                    <p>사용량</p>
                </div>

                <div id="workorderRequestUsageDiv1" style="text-align: end; margin: 5px;">
                    <button class="btn btn-sm btn-outline-secondary" onclick="workorderRequestUsageEdit(true)">사용량 수정</button>
                </div>
                <div id="workorderRequestUsageDiv2" style="text-align: end; margin: 5px;" class="display-none">
                    <button>변경</button>
                    <input type="number" name="seperateNum" />
                    <button class="btn btn-sm btn-outline-secondary" onclick="workorderRequestUsageSeperate()">분할</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="workorderRequestUsageEdit(false)">확인</button>
                </div>

                @(Html.DevExtreme().DataGrid()
                    .ID("Workorder_RequestUsageGrid")
                    .ShowBorders(true)
                    .ShowColumnLines(true)
                    .ShowRowLines(true)
                    .ColumnAutoWidth(true)
                    .OnRowInserting("Workorder_RequestUsageInsert")
                    .OnRowRemoving("Workorder_RequestUsageDelete")
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                    .Height(200)
                    .KeyExpr("req_order_material_id")
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .OnInitNewRow("workorderRequestUsageInitNew")
                    .Columns(columns =>
                    {
                        columns.Add().DataField("req_order_material_qc_no").Caption("시험번호");
                        columns.Add().DataField("req_order_material_qty").Caption("사용할 양");
                        columns.Add().DataField("qc_remark").Caption("비고");
                    })
                    .Summary(s => s.TotalItems(items =>
                    {
                        items.Add()
                            .Column("req_order_material_qty")
                            .ShowInColumn("req_order_material_qty")
                            .ValueFormat(Format.Decimal)
                            .ValueFormat(f => f.Precision(3))
                            .SummaryType(SummaryType.Sum);
                    })
                    )
                 )
            </div>

            <div class="box-height-auto mb-0">
                <div class="divName">
                    <p>현재고</p>
                </div>
                @(Html.DevExtreme().DataGrid()
                        .ID("Workorder_RequestStockGrid")
                        .ShowBorders(true)
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .ColumnAutoWidth(true)
                        .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                        .Height(269)
                        .KeyExpr("receipt_qc_no3")
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .Columns(columns =>
                        {
                            columns.Add().DataField("receipt_qc_no3").Caption("시험번호");
                            columns.Add().DataField("warehouse_usable_qty").Caption("가용재고").DataType(GridColumnDataType.Number);
                            columns.Add().DataField("qc_remark").Caption("비고");
                            columns.Add().DataField("receipt_time").Caption("입고일자");
                            columns.Add().DataField("valid_period").Caption("유효기간");
                        })
                        .Summary(s => s.TotalItems(items =>
                        {
                            items.Add()
                            .Column("warehouse_usable_qty")
                                    .ShowInColumn("warehouse_usable_qty")
                                    .ValueFormat(Format.Decimal)
                                    .SummaryType(SummaryType.Sum);
                        })
                        )
                )
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="box mb-0">
                <div style="margin-top:15px;">

                    <label class="col-1">수식</label>
                    <input tye="text" class="form-control col-10" name="req_order_math" readonly="readonly" />

                </div>
            </div>
        </div>
    </div>

</div>