@using System.Data
@using HACCP.Libs
@using HACCP.Libs.Views

@{
    Layout = null;

    var pagePrefix = ViewContext.RouteData.Values["action"].ToString();
    var pageControllerNm = ViewContext.RouteData.Values["controller"].ToString();

    var ChangeControlReviewSrch = ViewData["srch"] as HACCP.Models.Change.ChangeControlReview.SrchParam;

    var Employee = @Html.Raw(Json.Encode(ViewBag.Employee.Data));
    var ChangeControlReview = @Html.Raw(Json.Encode(ViewBag.ChangeControlReview.Data));
}

@*변경검토*@

<script id="ChangeControlReviewJs">

    var _changeControlReviewHelpPopUpCurInputName = "";
    var _changeControlReviewControlNo;
    var _changeControlReviewCRUDStatus;
    var _changeControlReviewIsEditing = false;
    var _changeControlReviewsignCnt = 0;
    var _changeControlReviewSignData;
    var _changeControlReviewSignGubun;
    var _changeControlReviewChanges = new Array();

    $(function () {

        if (@ChangeControlReview) {
            $("#ChangeControlReviewGrid").dxDataGrid("instance").option("dataSource", JSON.parse(@ChangeControlReview));
            $("#ChangeControlReviewGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
            $("#ChangeControlReviewGrid").dxDataGrid("instance").option("focusedRowIndex", 0);
        }

        var popupColumns = {
            "employee": [{ dataField: "emp_cd", caption: "사원코드" }, { dataField: "emp_nm", caption: "사원명" }, { dataField: "dept_cd", caption: "부서코드" }, { dataField: "dept_nm", caption: "부서명" }]
        };

        createPopup("ChangeControlReviewEmp1", "사원 조회", @Employee, popupColumns.employee, "emp_cd"); // 조회용 검토자, 부서장
        createPopup("ChangeControlReviewEmp2", "사원 조회", @Employee, popupColumns.employee, "emp_cd"); //
        createPopup("ChangeControlReviewEmp3", "사원 조회", @Employee, popupColumns.employee, "emp_cd"); // 변경신청정보 신청자

        ChangeControlReviewEditCheck(false, 'N');

        $('input[name=review_emp_cd]+div>button, input[name=emp_cd]+div>button', $('#ChangeControlReviewSearchForm')).click(function (event) {
            ChangeControlReviewHelpPopUpSearch(event);
        });

        $('#ChangeControlReviewDivToggle').change(function () {
            if ($(this).prop('checked')) {
                $("#ChangeControlReviewBottomDiv1").addClass("display-none");
                $("#ChangeControlReviewBottomDiv2").removeClass("display-none");
            } else {
                $("#ChangeControlReviewBottomDiv1").removeClass("display-none");
                $("#ChangeControlReviewBottomDiv2").addClass("display-none");
            }
        })

        $($("#changeControlReviewAttatchDocBtn")).click(function (event) {
            ChangeControlReviewAttatchDoc(event);
        });

        $('select', $('#ChangeControlReviewWriteForm')).readonly();

        setDatePicker("#ChangeControlReview .datepicker");

        $("#ChangeControlReviewSearchForm input[name=sdate]").datepicker("update", '@ChangeControlReviewSrch.sdate');
        $("#ChangeControlReviewSearchForm input[name=edate]").datepicker("update", '@ChangeControlReviewSrch.edate');
        $("#ChangeControlReviewSearchForm input[name=review_emp_cd]").val('@ChangeControlReviewSrch.review_emp_cd');
        $("#ChangeControlReviewSearchForm input[name=emp_cd]").val('@ChangeControlReviewSrch.emp_cd');
        $("#ChangeControlReviewSearchForm select[name=review_result_yn]").val('@ChangeControlReviewSrch.review_result_yn');
        $("#ChangeControlReviewSearchForm select[name=review_status]").val('@ChangeControlReviewSrch.review_status');

    });

    // 좌측 상단 그리드 포커스 변경
    function ChangeControlReviewFocusChanged() {

        var gridId = "ChangeControlReviewGrid";

        var grid = $('#' + gridId).dxDataGrid("instance");
        var gridData = getGridRowByKey(gridId, grid.option("focusedRowKey"));

        //console.log(gridData);

        _changeControlReviewControlNo = gridData.changecontrol_no;

        ChangeControlReviewWriteFormClear();
        UtilView.setDataGridFormBind(gridId, "ChangeControlReviewWriteForm");

        $.ajax({
            type: 'GET',
            url: '/Change/ChangeControlReviewSelectSubGridData',
            data: {
                changecontrol_no: gridData.changecontrol_no,
                dept_cd: gridData.dept_cd,
                changecontrol_review_no: gridData.changecontrol_review_no
            },
            success: function (result) {

                if (result[0].length > 0) {
                    $("#ChangeControlReviewDocGrid").dxDataGrid("option", "dataSource", JSON.parse(result[0]));
                } else {
                    $("#ChangeControlReviewDocGrid").dxDataGrid("option", "dataSource", []);
                }

                if (result[1].length > 0) {
                    $("#ChangeControlReviewGrid2").dxDataGrid("option", "dataSource", JSON.parse(result[1]));
                } else {
                    $("#ChangeControlReviewGrid2").dxDataGrid("option", "dataSource", []);
                }

            }

        });

        var tabs = $("#ChangeControlReviewTabPanel").dxTabPanel("instance");

        if (gridData.review_dept_gubun_yn === "Y") {
            tabs.option("selectedIndex", 1);
            tabs.option("items[0].disabled", true);
            tabs.option("items[1].disabled", false);
            tabs.option("items[2].disabled", false);
        } else {
            tabs.option("selectedIndex", 0);
            tabs.option("items[0].disabled", false);
            tabs.option("items[1].disabled", true);
            tabs.option("items[2].disabled", true);
        }

        ChangeControlReviewChangeTab();
        //ChangeControlReviewFillTabData(tabs.option("selectedIndex"));

    }

    // 수정중인지 체크
    function ChangeControlReviewEditCheck(nowEdit, status) {

        _changeControlReviewIsEditing = nowEdit;
        _changeControlReviewCRUDStatus = status;

        var tabs = $("#ChangeControlReviewTabPanel").dxTabPanel("instance");
        var tabIndex = tabs.option("selectedIndex");

        if (nowEdit) {
            // 툴바 활성/비활성
            $('#ChangeControlReviewSave,   #ChangeControlReviewUndo').dxButton().parent().parent().removeClass("display-none");
            $('#ChangeControlReviewSearch,#ChangeControlReviewEdit').dxButton().parent().parent().addClass("display-none");

            //그리드 및 폼 활성/비활성
            $('#ChangeControlReviewGrid').dxDataGrid("instance").option("disabled", true);

            $('select', $('#ChangeControlReviewWriteForm_' + tabIndex)).readonly(!nowEdit);
            $('input', $('#ChangeControlReviewWriteForm_' + tabIndex)).prop("readonly", !nowEdit);
            $('textarea', $('#ChangeControlReviewWriteForm_' + tabIndex)).prop("readonly", !nowEdit);

            if (tabIndex === 1) {
                tabs.option("items[2].disabled", true);
            }
            else if (tabIndex === 2) {
                tabs.option("items[1].disabled", true);
            }

            var editing = {
                allowUpdating: true,
                mode: 'batch'
            }

            $("#ChangeControlReviewGrid2").dxDataGrid("option", "editing", editing);
        }
        else {
            // 툴바 활성/비활성
            $('#ChangeControlReviewSave,#ChangeControlReviewUndo').dxButton().parent().parent().addClass("display-none");
            $('#ChangeControlReviewSearch,#ChangeControlReviewEdit').dxButton().parent().parent().removeClass("display-none");

            //그리드 및 폼 활성/비활성
            $('#ChangeControlReviewGrid').dxDataGrid("instance").option("disabled", false);

            $('select', $('#ChangeControlReviewWriteForm_' + tabIndex)).readonly(!nowEdit);
            $('input', $('#ChangeControlReviewWriteForm_' + tabIndex)).prop("readonly", !nowEdit);
            $('textarea', $('#ChangeControlReviewWriteForm_' + tabIndex)).prop("readonly", !nowEdit);

            if (tabIndex === 1) {
                tabs.option("items[2].disabled", false);
            }
            else if (tabIndex === 2) {
                tabs.option("items[1].disabled", false);
            }

            var editing = {
                allowUpdating: false
            }

            $("#ChangeControlReviewGrid2").dxDataGrid("option", "editing", editing);

            _changeControlReviewChanges = new Array();
        }
    }

    // 팝업 이벤트 관련 -----------------------------------------------------------------------------------------------------

    function ChangeControlReviewHelpPopUpSearch(e) {

        _changeControlReviewHelpPopUpCurInputName = $(e.target).parent().prev().prop('name');
        var popupId = "";

        switch (_changeControlReviewHelpPopUpCurInputName) {
            case "review_emp_cd":
                popupId = "ChangeControlReviewEmp1";
                break;
            case "emp_cd":
                popupId = "ChangeControlReviewEmp1";
                break;
            default:
                popupId = "";
                break;
        }
        //console.log("poupId :" + popupId);
        if (popupId == "") {
            alert("(오류) popup ID 미설정 오류!");
        }
        $('#' + popupId + 'Popup').dxPopup("instance").show();
    }

    function ChangecontrolReviewSearchEmp(e) {

        if (!_changeControlReviewIsEditing) {
            return;
        }

        _changeControlReviewHelpPopUpCurInputName = $(e.target).parent().prev().prop('name');
        var popupId = "";

        switch (_changeControlReviewHelpPopUpCurInputName) {
            case "review_emp_cd":
                popupId = "ChangeControlReviewEmp2";
                break;
            case "review_confirm_emp_cd":
                popupId = "ChangeControlReviewEmp2";
                break;
            default:
                popupId = "";
                break;
        }
        if (popupId == "") {
            alert("(오류) popup ID 미설정 오류!");
        }
        $('#' + popupId + 'Popup').dxPopup("instance").show();
    }

    function ChangeControlReviewEmp1RowDblClick(selectedItems) {
        var data = selectedItems.data;

        $("input[name=" + _changeControlReviewHelpPopUpCurInputName + "]", $('#ChangeControlReviewSearchForm')).val(data.emp_cd);

        $("#ChangeControlReviewEmp1Popup").dxPopup("instance").hide();
    }

    function ChangeControlReviewEmp2RowDblClick(selectedItems) {
        var data = selectedItems.data;
        var tabIndex = $("#ChangeControlReviewTabPanel").dxTabPanel("option", "selectedIndex");

        $("input[name=" + _changeControlReviewHelpPopUpCurInputName + "]", $('#ChangeControlReviewWriteForm_' + tabIndex)).val(data.emp_cd);
        $("input[name=" + _changeControlReviewHelpPopUpCurInputName.replace("cd", "nm") + "]", $('#ChangeControlReviewWriteForm_' + tabIndex)).val(data.emp_nm);

        $("#ChangeControlReviewEmp2Popup").dxPopup("instance").hide();
    }

    // --------------------------------------------------------------------------------------------------------------------

    // 디테일 그리드 폼 비우기
    function ChangeControlReviewWriteFormClear() {

        $('#ChangeControlReviewWriteForm')[0].reset();
        $("textarea", $('#ChangeControlReviewWriteForm')).text("");

        var tabIndex = $("#ChangeControlReviewTabPanel").dxTabPanel("option", "selectedIndex");

        UtilView.setDataGridFromJson("ChangeControlReviewDocGrid", "");
        UtilView.setDataGridFromJson("ChangeControlReviewSign" + (tabIndex + 1) + "Grid", "");
    }

    // 사인 그리드 데이터 조회
    function ChangeControlReviewSelectSignGridData(tabIndex) {

        var grid = $('#ChangeControlReviewGrid').dxDataGrid("instance");
        if (grid.totalCount() > 0) {
            var gridData = getGridRowByKey("ChangeControlReviewGrid", grid.option("focusedRowKey"));

            _changeControlReviewsignCnt = 0;

            $.ajax({
                type: 'GET',
                url: '/Change/ChangeControlReviewSelectSignGridData',
                data: {
                    changecontrol_no: gridData.changecontrol_no,
                    dept_cd: gridData.dept_cd,
                    changecontrol_review_no: gridData.changecontrol_review_no,
                    tabIndex: tabIndex
                },
                success: function (result) {

                    $("#ChangeControlReviewSign" + (tabIndex + 1) + "Grid").dxDataGrid("option", "dataSource", JSON.parse(result));

                    var JsonData = JSON.parse(result);

                    for (var i = 0; i < JsonData.length; i++) {
                        _changeControlReviewsignCnt += parseInt(JsonData[i].sign_yn);
                    }
                }
            });
        }


    }

    // 탭 변경
    function ChangeControlReviewChangeTab() {

        var tabIndex = $("#ChangeControlReviewTabPanel").dxTabPanel("option", "selectedIndex");

        $('select', $('#ChangeControlReviewWriteForm_' + tabIndex)).readonly(true);
        $('input', $('#ChangeControlReviewWriteForm_' + tabIndex)).prop("readonly", true);
        $('textarea', $('#ChangeControlReviewWriteForm_' + tabIndex)).prop("readonly", true);

        ChangeControlReviewFillTabData(tabIndex);

    }

    // 탭별 데이터 삽입
    function ChangeControlReviewFillTabData(tabIndex) {

        var gridId = "ChangeControlReviewGrid";

        UtilView.setDataGridFormBind(gridId, "ChangeControlReviewWriteForm_" + tabIndex);
        ChangeControlReviewSelectSignGridData(tabIndex);
    }

    // 조회
    function ChangeControlReviewSearch() {

        _changeControlReviewControlNo = "";

        ChangeControlReviewFormGridClear();

        UtilView.m_controller = 'Change';
        UtilView.m_actionPrefix = 'ChangeControlReview';
        UtilView.dataGridSelect('ChangeControlReviewGrid', "ChangeControlReviewSearchForm");
    }

    // 수정
    function ChangeControlReviewEdit() {

        if (_changeControlReviewsignCnt > 0) {
            alert("이미 서명이 시작된자료는 수정할 수 없습니다.");
            return;
        }

        ChangeControlReviewEditCheck(true, 'U');

    }

    // 저장
    async function ChangeControlReviewSave() {

        var tabIndex = $("#ChangeControlReviewTabPanel").dxTabPanel("option", "selectedIndex");

        //2020.12.22 빈값 체크
        if (UtilView.checkValidForm('ChangeControlReviewWriteForm_' + tabIndex)) {

            var form = $('#ChangeControlReviewWriteForm_' + tabIndex)[0];
            var formData = new FormData(form);

            var grid = $('#ChangeControlReviewGrid').dxDataGrid("instance");
            var gridData = getGridRowByKey('ChangeControlReviewGrid', grid.option("focusedRowKey"));

            formData.set("gubun", _changeControlReviewCRUDStatus);
            formData.set("tab_index", tabIndex);
            formData.set("changecontrol_no", gridData.changecontrol_no);
            formData.set("dept_cd", gridData.dept_cd);
            formData.set("changecontrol_review_no", gridData.changecontrol_review_no);

            UtilView.m_controller = 'Change';
            UtilView.m_actionPrefix = 'ChangeControlReview';

            UtilView.dataGridTRX(formData, () => ChangeControlReviewSearch());

            await $("#ChangeControlReviewGrid2").dxDataGrid("instance").saveEditData();

            $.ajax({
                type: 'POST',
                url: '/Change/ChangeControlReviewItemUpdate',
                async: false,
                data: {
                    paramData: JSON.stringify(_changeControlReviewChanges)
                },
                dataType: 'json',
                success: function (result) {

                    alert("저장 되었습니다.");

                }
            });

            ChangeControlReviewEditCheck(false, 'N');

        }

    }

    // 취소
    function ChangeControlReviewUndo() {

        $("#ChangeControlReviewGrid2").dxDataGrid("instance").cancelEditData();

        ChangeControlReviewEditCheck(false, 'N');
    }

    // 파일 업로드 버튼
    function ChangeControlReviewAttatchDoc(event) {

        if (_changeControlReviewCRUDStatus !== "U") {
            alert("수정중일때만 파일 첨부가 가능합니다.");
            return;
        }

        var fileUploader = $('#ChangeControlReviewAttatch').dxFileUploader('instance');
        fileUploader._isCustomClickEvent = true;
        fileUploader._$fileInput.click();
    }

    // 문서 업로드
    function ChangeControlreviewUploadAttachedFile(e) {

        var name = e.component.option("name");

        var url = e.component.option("uploadUrl");
        url = updateQueryStringParameter(url, "changecontrol_no", _changeControlReviewControlNo);
        url = updateQueryStringParameter(url, "name", name);

        e.component.option("uploadUrl", url);
    }

    // 문서 다운로드
    function ChangeControlReviewDocDownload(e) {

        var fileId = e.data.doc_file_id;

        if (fileId != "") {

            document.location.assign('/Change/ChangeControlRequestDownload?file_id=' + fileId);
        }
    }

    // 문서 그리드 조회
    function ChangeControlReViewSelectDocList() {

        $.ajax({
            type: 'GET',
            url: '/Change/ChangeControlReviewSelectDocGridData',
            data: {
                changecontrol_no: _changeControlReviewControlNo
            },
            success: function (result) {

                if (result.length > 0) {
                    $("#ChangeControlReviewDocGrid").dxDataGrid("option", "dataSource", JSON.parse(result[0]));
                } else {
                    $("#ChangeControlReviewDocGrid").dxDataGrid("option", "dataSource", []);
                }

            }

        });

    }

    // 디테일 폼,그리드 비우기
    function ChangeControlReviewFormGridClear() {

        $('#ChangeControlReviewWriteForm')[0].reset();
        $("textarea", $('#ChangeControlReviewWriteForm')).text("");

        UtilView.setDataGridFromJson("ChangeControlReviewGrid2", "");
        UtilView.setDataGridFromJson("ChangeControlReviewDocGrid", "");

        var tabIndex = $("#ChangeControlReviewTabPanel").dxTabPanel("option", "selectedIndex");

        $('#ChangeControlReviewWriteForm_' + tabIndex)[0].reset();
        $("textarea", $('#ChangeControlReviewWriteForm_' + tabIndex)).text("");
        $("#ChangeControlReviewSign" + (tabIndex + 1) + "Grid").dxDataGrid("option", "dataSource", []);

        UtilView.setDataGridFromJson("ChangeControlReviewDocGridSignGrid" + (tabIndex+1), "");
    }

    // 전자서명
    function ChangeControlReviewSign(e) {

        if (_changeControlReviewIsEditing) {
            return;
        }

        _changeControlReviewSignData = e.data;

        var tabIndex = $("#ChangeControlReviewTabPanel").dxTabPanel("option", "selectedIndex");

        if (e.columnIndex == 3) {
            _changeControlReviewSignGubun = "U";

            switch (tabIndex) {

                case 0:

                    if (e.data.prev_sign_yn == "0") {
                        alert("먼저 앞 단계 승인이 필요합니다.");
                        return;
                    }

                    if (e.data.sign_yn == "1") {

                        var signCnt = $("#ChangeControlReviewSign1Grid").dxDataGrid("instance").totalCount();

                        if (e.data.next_sign_yn == "1" && e.data.sign_set_dt_seq != signCnt ) {
                            alert("이미 다음 단계가 승인 되어 있습니다.\n먼저 다음 단계 승인을 삭제(취소)해주세요. ");
                            return;
                        }

                        if (confirm("이미 승인 되었습니다. 서명을 삭제하시겠습니까?")) {
                            _changeControlReviewSignGubun = "D";
                        } else {
                            return;
                        }

                    }

                    break;

                case 1:

                    if (e.data.sign_yn == "1") {

                        if (confirm("이미 승인 되었습니다. 서명을 삭제하시겠습니까?")) {
                            _changeControlReviewSignGubun = "D";
                        } else {
                            return;
                        }
                    }

                    break;

                case 2:

                    if (e.data.sign_yn == "1") {

                        if (confirm("이미 승인 되었습니다. 서명을 삭제하시겠습니까?")) {
                            _changeControlReviewSignGubun = "D";
                        } else {
                            return;
                        }
                    }

                    break;

            }

            var popup = $("#ChangeControlReviewSignPopup").dxPopup("instance");
            popup.option("contentTemplate", $("#ChangeControlReviewtSignPopupTemplate"));
            popup.show();

        }
    }

    // 전자서명 입력
    function ChangeControlReviewSignSubmit() {

        var data = new FormData($('#ChangeControlReviewSignForm')[0]);

        data.set("gubun", "S");

        $.ajax({
            type: 'POST',
            url: '/Comm/IDValidation',
            data: data,
            contentType: false,
            processData: false,
            success: function (result) {

                if (result.length <= 0) {
                    alert("잘못된 ID,PW 입니다.");
                    return;
                }

                var isOK = false;

                if (_changeControlReviewSignData.responsible_emp_cd !== JSON.parse(result)[0].emp_cd) {

                    $.ajax({
                        type: 'GET',
                        url: '/Comm/DelegateCheck',
                        data: {
                            emp_cd: JSON.parse(result)[0].emp_cd,
                            sign_set_cd: "5102",
                            sign_set_seq: _changeControlReviewSignData.sign_set_seq
                        },
                        async: false,
                        success: function (result) {

                            if (result.length > 0) {
                                isOK = true;
                            } else {
                                isOK = false;
                            }
                        }
                    });
                } else {
                    isOK = true;
                }

                if (!isOK) {
                    alert("권한이 없는 사용자입니다.");
                    return;
                }

                $("#ChangeControlReviewSignConfirmForm input[name='dept_nm']").val(JSON.parse(result)[0].dept_nm);
                $("#ChangeControlReviewSignConfirmForm input[name='emp_nm']").val(JSON.parse(result)[0].emp_nm);

                var grid = $("#ChangeControlReviewGrid").dxDataGrid("instance");
                var gridData = getGridRowByKey("ChangeControlReviewGrid", grid.option("focusedRowKey"));

                var tabIndex = $("#ChangeControlReviewTabPanel").dxTabPanel("option", "selectedIndex");

                var signGrid = $("#ChangeControlReviewSign" + (tabIndex+1) + "Grid").dxDataGrid("instance");
                var signGridData = getGridRowByKey("ChangeControlReviewSign" + (tabIndex + 1) + "Grid", signGrid.option("focusedRowKey"));

                var paramData = {
                    changecontrol_no: gridData.changecontrol_no,
                    dept_cd: gridData.dept_cd,
                    review_emp_cd: JSON.parse(result)[0].emp_cd,
                    review_emp_type: "2",
                    sign_type: signGridData.sign_set_dt_seq,
                    changecontrol_review_no: gridData.changecontrol_review_no,
                    tab_index: tabIndex,
                    gubun: _changeControlReviewSignGubun
                }

                setTimeout(function () {
                    $.ajax({
                        type: 'POST',
                        url: '/Change/ChangeControlReviewSignTRX',
                        data: paramData,
                        success: function (result) {

                            ChangeControlReviewSelectSignGridData(tabIndex);

                        }
                    });

                    _changeControlRequestSignGubun = "";

                    if (((tabIndex == 0 || tabIndex == 2) && signGridData.sign_set_dt_seq == signGrid.totalCount())) {
                        ChangeControlReviewSearch();
                    }

                    var popup = $("#ChangeControlReviewSignPopup").dxPopup("instance");
                    popup.hide();
                }, 1000);
            }
        });

    }

    // 서명 폼 비우기
    function ClearChangeControlReviewSignInput() {
        $('#ChangeControlReviewSignForm')[0].reset();
        $('#ChangeControlReviewSignConfirmForm')[0].reset();
    }

    // 문서 그리드 컨텍스트 메뉴
    function ChangeControlReviewDocContextMenu(e) {

        if (!e.row) {
            return;
        }

        if (e.row.rowType === "data") {
            e.items = [{
                text: "Download",
                icon: "download",
                onItemClick: function () {
                    ChangeControlReviewDocDownload(e.row);
                }
            },
            {
                text: "Delete",
                icon: "trash",
                onItemClick: function () {
                    ChangeControlReviewDeleteDoc(e.row.data);
                }
            }];
        }
    }

    // 문서 삭제
    function ChangeControlReviewDeleteDoc(data) {

        if (_changeControlReviewsignCnt > 0) {
            alert("이미 서명이 시작된자료의 문서는 삭제할 수 없습니다.");
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/Change/ChangeControlDeleteDoc',
            data: {
                changecontrol_no: data.changecontrol_no,
                changecontrol_attatch_doc_id: data.changecontrol_attatch_doc_id
            },
            success: function (result) {

                alert(result);

                ChangeControlReViewSelectDocList();

            }
        });
    }

    function ChangeControlReviewGrid2Update(info) {

        var data = info.data;

        _changeControlReviewChanges.push(data);
    }

    function ChangeControlReviewGrid2editibleColumn(cellElement, cellInfo) {

        if (cellElement.rowType != "data" || !cellElement.isEditing)
            return;

        if (cellElement.column.dataField === 'changecontrol_sop_item_nm')
            cellElement.element.find('input').prop('readonly', true);

        if (cellElement.column.dataField === 'changecontrol_sop_item_seq')
            cellElement.element.find('input').prop('readonly', true);

        if (cellElement.column.dataField === 'changecontrol_sop_item_contents')
            cellElement.element.find('input').prop('readonly', true);
    }

    function ChangeControlReviewPrint() {

        var btnType;
        btnType = $(event.target).closest('.dx-button').attr('id');

        var grid = $("#ChangeControlReviewGrid").dxDataGrid("instance");
        var data = getGridRowByKey("ChangeControlReviewGrid", grid.option("focusedRowKey"));

        var changecontrol_no = data.changecontrol_no;

        var tabs = $("#ChangeControlReviewTabPanel").dxTabPanel("instance");
        var tabIndex = tabs.option("selectedIndex");

        if (tabIndex === 0) {

            var para_check1 = "";
            var para_check2 = "";

            //변경분류
            if (data.review_change_class !== "") {
                if (data.review_change_class == "1") {
                    para_check1 = "■ 즉시 변경, □ 회의소집,□ 영양검토, □ 보류, □ 기타";
                }
                else if (data.review_change_class == "2") {
                    para_check1 = "□ 즉시 변경, ■ 회의소집,□ 영양검토, □ 보류, □ 기타";
                }
                else if (data.review_change_class == "3") {
                    para_check1 = "□ 즉시 변경, □ 회의소집,■ 영양검토, □ 보류, □ 기타";
                }
                else if (data.review_change_class == "4") {
                    para_check1 = "□ 즉시 변경, □ 회의소집,□ 영양검토, ■ 보류, □ 기타";
                }
                else if (data.review_change_class == "5") {
                    para_check1 = "□ 즉시 변경, □ 회의소집,□ 영양검토, □ 보류, ■ 기타";
                }
                else {
                    para_check1 = "□ 즉시 변경, □ 회의소집,□ 영양검토, □ 보류, □ 기타";
                }
            }

            //첨부문서
            if ($("#ChangeControlReviewDocGrid").dxDataGrid("instance").totalCount() <= 0) {
                para_check2 = "■ 없음, □ 있음";
            }
            else {
                para_check2 = "□ 없음, ■ 있음";
            }

            var subParamStr = 'para_check1=' + para_check1
                + ';para_check2=' + para_check2;

            // report 출력
            var report = new ReportHelper();
            report.addParam({
                objFile: { path: "Change", RptFileName: "ChangeControlReviewR" },
                objSp: { SpName: "SP_ChangeControlReview_Y", gubun: "SR", reportParam: "changecontrol_no:" + changecontrol_no + ";dept_cd:" + data.dept_cd },
                objEtcInfo: { subParam: subParamStr },
                objTblNm: { tblName: "" }
            });

            if (btnType.indexOf('Preview') > -1) {
                report.preview();
            } else if (btnType.indexOf('Print') > -1) {
                report.print();
            }

        } else {

            var para_check1 = "";
            var para_check2 = "";
            var para_check3 = "";
            var para_check4 = "";
            var para_check5 = "";
            var para_check6 = "";
            var para_check7 = "";

            //console.log(data);

            //
            if (data.request_gubun === "1") {
                para_check1 = "■ 변경발생,□ 변경요청/제안,□ 기타 :";
            }
            else if (data.request_gubun === "2") {
                para_check1 = "□ 변경발생,■ 변경요청/제안,□ 기타 :";
            }
            else if (data.request_gubun === "3") {
                para_check1 = "□ 변경발생,□ 변경요청/제안,■ 기타 :";
            }
            else {
                para_check1 = "□ 변경발생,□ 변경요청/제안,□ 기타 :";
            }

            //적용범위
            if (data.changecontrol_cd === "1") {
                para_check2 = "■ 원료,□ 자제,□ 제조공정, □ 시험법, □ 기계설비, □ 허가, □ 기타변경";
            }
            else if (data.changecontrol_cd === "2") {
                para_check2 = "□ 원료,■ 자제,□ 제조공정, □ 시험법, □ 기계설비, □ 허가, □ 기타변경";
            }
            else if (data.changecontrol_cd === "3") {
                para_check2 = "□ 원료,□ 자제,■ 제조공정, □ 시험법, □ 기계설비, □ 허가, □ 기타변경";
            }
            else if (data.changecontrol_cd === "4") {
                para_check2 = "□ 원료,□ 자제,□ 제조공정, ■ 시험법, □ 기계설비, □ 허가, □ 기타변경";
            }
            else if (data.changecontrol_cd === "5") {
                para_check2 = "□ 원료,□ 자제,□ 제조공정, □ 시험법, ■ 기계설비, □ 허가, □ 기타변경";
            }
            else if (data.changecontrol_cd === "6") {
                para_check2 = "□ 원료,□ 자제,□ 제조공정, □ 시험법, □ 기계설비, ■ 허가, □ 기타변경";
            }
            //else if (data.changecontrol_cd === "7") {
            //    para_check2 = "□ 원료,□ 자제,□ 제조공정, □ 시험법, □ 기계설비, □ 허가, ■ 기타변경";
            //}
            //else {
            //    para_check2 = "□ 원료,□ 자제,□ 제조공정, □ 시험법, □ 기계설비, □ 허가, □ 기타변경";
            //}
            else {
                para_check2 = "□ 원료,□ 자제,□ 제조공정, □ 시험법, □ 기계설비, □ 허가, ■ 기타변경";
            }

            //첨부문서
            if ($("#ChangeControlReviewDocGrid").dxDataGrid("instance").totalCount() <= 0) {
                para_check3 = "■ 없음, □ 있음";
            }
            else {
                para_check3 = "□ 없음, ■ 있음";
            }

            //변경분류1
            if (data.review_change_level != "") {
                if (data.review_change_level == "1") {
                    para_check4 = "■ 중요한 변경 1, □ 중요한 변경 2,□ 일반적 변경, □ 기타";
                }
                else if (data.review_change_level == "2") {
                    para_check4 = "□ 중요한 변경 1, ■ 중요한 변경 2,□ 일반적 변경, □ 기타";
                }
                else if (data.review_change_level == "3") {
                    para_check4 = "□ 중요한 변경 1, □ 중요한 변경 2,■ 일반적 변경, □ 기타";
                }
                else if (data.review_change_level == "4") {
                    para_check4 = "□ 중요한 변경 1, □ 중요한 변경 2,□ 일반적 변경, ■ 기타";
                }
                else {
                    para_check4 = "□ 중요한 변경 1, □ 중요한 변경 2,□ 일반적 변경, □ 기타";
                }
            }

            ////변경분류2
            if (data.review_change_class != "") {
                if (data.review_change_class == "1") {
                    para_check5 = "■ 즉시 변경, □ 회의소집,□ 영양검토, □ 보류, □ 기타";
                }
                else if (data.review_change_class == "2") {
                    para_check5 = "□ 즉시 변경, ■ 회의소집,□ 영양검토, □ 보류, □ 기타";
                }
                else if (data.review_change_class == "3") {
                    para_check5 = "□ 즉시 변경, □ 회의소집,■ 영양검토, □ 보류, □ 기타";
                }
                else if (data.review_change_class == "4") {
                    para_check5 = "□ 즉시 변경, □ 회의소집,□ 영양검토, ■ 보류, □ 기타";
                }
                else if (data.review_change_class == "5") {
                    para_check5 = "□ 즉시 변경, □ 회의소집,□ 영양검토, □ 보류, ■ 기타";
                }
                else {
                    para_check5 = "□ 즉시 변경, □ 회의소집,□ 영양검토, □ 보류, □ 기타";
                }
            }

            var subParamStr = 'para_check1=' + para_check1
                + ';para_check2=' + para_check2
                + ';para_check3=' + para_check3
                + ';para_check4=' + para_check4
                + ';para_check5=' + para_check5
                + ';para_check6=' + para_check6
                + ';para_check7=' + para_check7;

            // report 출력
            var report = new ReportHelper();
            report.addParam({
                objFile: { path: "Change", RptFileName: "ChangeRequestR" },
                objSp: { SpName: "SP_ChangeRequest", gubun: "SR", reportParam: "changecontrol_no:" + changecontrol_no },
                objEtcInfo: { subParam: subParamStr },
                objTblNm: { tblName: "" }
            });

            if (btnType.indexOf('Preview') > -1) {
                report.preview();
            } else if (btnType.indexOf('Print') > -1) {
                report.print();
            }

        }
    }

</script>

<div id="@(pagePrefix)" page-ctrl-name="@(pageControllerNm)">

    <div id="ChangeControlReviewEmp1Popup"></div>
    <div id="ChangeControlReviewEmp2Popup"></div>
    <div id="ChangeControlReviewEmp3Popup"></div>

    <div>
        @(Html.DevExtreme().Popup()
            .ID("ChangeControlReviewSignPopup")
            .Width(500)
            .Height(420)
            .ShowTitle(true)
            .Title("작업자 인증")
            .OnHidden("ClearChangeControlReviewSignInput")
            .Visible(false)
            .DragEnabled(true)
            .CloseOnOutsideClick(false)
        )
    </div>

    @using (Html.DevExtreme().NamedTemplate("ChangeControlReviewtSignPopupTemplate"))
    {
        <h6>전자서명은 수기서명과 동일한 효력을 갖습니다.</h6>

        <form id="ChangeControlReviewSignForm">

            <div class="input-wrapper">
                <label class="col-3">아이디</label>
                <input type="text" class="col-8 form-control" name="txt_ID">

                <label class="col-3">비밀번호</label>
                <input type="password" class="col-8 form-control" name="txt_Pass">
            </div>

        </form>
        <div class="align-content-end">
            <button onclick="ChangeControlReviewSignSubmit()">확인</button>
        </div>

        <br />
        <hr />

        <form id="ChangeControlReviewSignConfirmForm">

            <label class="col-3">부서</label>
            <input type="text" class="col-8 form-control" name="dept_nm" readonly="readonly" />
            <label class="col-3">성명</label>
            <input type="text" class="col-8 form-control" name="emp_nm" readonly="readonly" />

        </form>
    }

    <div class="mainTop row">

        <div class="col-8">
            <form id="ChangeControlReviewSearchForm">
                <div class="input-wrapper" @*style="border:1px blue solid;"*@>
                    <div class="col-5 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">의뢰일자</span>
                        </div>
                        <input type="text" class="form-control datepicker text-center" name="sdate">
                        <label class="col-1 form-text"> ~ </label>
                        <input type="text" class="form-control input-sm datepicker text-center" name="edate">
                    </div>
                    <div class="input-group input-group-sm col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">승인결과</span>
                        </div>
                        <select class="custom-select" name="review_result_yn">
                            @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "S", "CH007")).Rows)
                            {
                                <option value="@row["keyfield"]">@row["displayfield"]</option>
                            }
                        </select>
                    </div>
                    <div class="input-group input-group-sm col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">검토자</span>
                        </div>
                        <input type="text" class="form-control" name="review_emp_cd">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">찾기</button>
                        </div>
                    </div>
                </div>
                <!-- test 2줄 : 검색영역이 2줄이상일때 주석풀고 적절히 내용입력-->
                <div class="input-wrapper">
                    <div class="input-group input-group-sm col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">검토대상</span>
                        </div>
                        <select class="custom-select" name="review_status">
                            @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "S", "CH008")).Rows)
                            {
                                <option value="@row["keyfield"]">@row["displayfield"]</option>
                            }
                        </select>
                    </div>

                    <div class="input-group input-group-sm col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">부서장</span>
                        </div>
                        <input type="text" class="form-control" name="emp_cd">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">찾기</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <!-- $CRUD버튼-->
        <div class="CRUD-btn col-4">
            @* === CRUD 버튼 === *@
            @{Html.SetToolbar(0, true, "Search;Edit;Save;Undo;Preview;Print"); }
        </div>
    </div>

    <div class="row mb-0">

        <div class="col-8 pr-1">
            <div class="box">

                @(Html.DevExtreme().DataGrid()
                    .ID("ChangeControlReviewGrid")
                    .KeyExpr("changecontrol_review_no")
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .Height(400)
                    .ShowBorders(true)
                    .SearchPanel(searchPanel => searchPanel.Visible(true))
                    .ShowColumnLines(true)
                    .HoverStateEnabled(true)
                    .Columns(c =>
                    {
                        c.Add().DataField("changecontrol_no").Caption("접수번호").Alignment(HorizontalAlignment.Center);
                        c.Add().DataField("change_title").Caption("제목").Alignment(HorizontalAlignment.Center);
                        c.Add().DataField("emp_nm").Caption("의뢰자").Alignment(HorizontalAlignment.Center);
                        c.Add().DataField("review_request_date").Caption("의뢰일자").Alignment(HorizontalAlignment.Center);
                        c.Add().DataField("review_status_nm").Caption("검토상태").Alignment(HorizontalAlignment.Center);
                    })
                    .OnFocusedRowChanged("ChangeControlReviewFocusChanged")
                    )

            </div>
        </div>

        <div class="col-4 pl-0">
            <div class="box">

                <form id="ChangeControlReviewWriteForm">
                    <div class="divName margin-bottom">
                        <p>변경신청 정보</p>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">제목</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control col-12 required" name="change_title" readonly="readonly">
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">적용범위</label>
                        <div class="input-group col-4">
                            <select class="form-control" name="changecontrol_cd">
                                @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "D", "CH001")).Rows)
                                {
                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">변경사유 및 내용</label>
                        <div class="input-group input-group-sm col-8">
                            <textarea class="form-control" cols="100" rows="2" name="request_contents" readonly="readonly"></textarea>
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">변경근거</label>
                        <div class="input-group input-group-sm col-8">
                            <textarea class="form-control" cols="100" rows="2" name="change_evidence" readonly="readonly"></textarea>
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">신청자</label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control required" name="request_app_emp_nm" readonly="readonly">
                        </div>

                        <div class="input-group col-3">
                            <select class="form-control" name="">
                                @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "D", "CH007")).Rows)
                                {
                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                }
                            </select>
                        </div>

                        <button id="changeControlReviewAttatchDocBtn" class="btn btn-secondary" type="button">문서첨부</button>
                        @(Html.DevExtreme().FileUploader()
                                .Visible(false)
                                .ID("ChangeControlReviewAttatch")
                                .Name("changeControlAttatchedFile2")
                                .Multiple(false)
                                .AllowedFileExtensions(new[] { ".hwp", ".doc", ".docx", ".dot" })
                                .UploadUrl(Url.Action("UploadChangeAttachedFile", "Change"))
                                .UploadMode(FileUploadMode.Instantly)
                                .MaxFileSize(int.MaxValue)
                                .OnValueChanged("ChangeControlreviewUploadAttachedFile")
                                .OnUploaded("ChangeControlReViewSelectDocList")
                            )

                    </div>
                </form>

                @(Html.DevExtreme().DataGrid()
                    .ID("ChangeControlReviewDocGrid")
                    .KeyExpr("changecontrol_attatch_doc_id")
                    .OnRowDblClick("ChangeControlReviewDocDownload")
                    .OnContextMenuPreparing("ChangeControlReviewDocContextMenu")
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .Height(170)
                    .ShowBorders(true)
                    .SearchPanel(searchPanel => searchPanel.Visible(true))
                    .ShowColumnLines(true)
                    .HoverStateEnabled(true)
                    .Columns(c =>
                    {
                        c.Add().DataField("doc_name").Caption("문서명").Alignment(HorizontalAlignment.Center);
                        c.Add().DataField("attatch_emp_cd").Caption("등록사원").Alignment(HorizontalAlignment.Center);
                        c.Add().DataField("attatch_date").Caption("등록일자").Alignment(HorizontalAlignment.Center);
                    })
                )
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-12">

            <div class="align-end-only custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="ChangeControlReviewDivToggle">
                <label class="custom-control-label" for="ChangeControlReviewDivToggle">평가항목 열기</label>
            </div>

            <div id="ChangeControlReviewBottomDiv1">

                <div class="box mb-0">

                    <div class="divName margin-bottom">
                        <p>변경 검토 정보</p>
                    </div>

                    @(Html.DevExtreme().TabPanel()
                        .ID("ChangeControlReviewTabPanel")
                        .SelectedIndex(0)
                        .Loop(false)
                        .Height(350)
                        .AnimationEnabled(false)
                        .SwipeEnabled(false)
                        .OnSelectionChanged("ChangeControlReviewChangeTab")
                        .Items(config =>
                        {
                            config.Add().Title("부서별 검토 결과").Template(new JS("$('#ChangeControlReviewTabContent1')"));
                            config.Add().Title("변경관리 담당자").Template(new JS("$('#ChangeControlReviewTabContent2')"));
                            config.Add().Title("QA 그룹장").Template(new JS("$('#ChangeControlReviewTabContent3')"));
                        })
                    )

                    @using (Html.DevExtreme().NamedTemplate("ChangeControlReviewTabContent1"))
                    {
                        <div class="row">
                            <div class="col-8">
                                <form id="ChangeControlReviewWriteForm_0">
                                    <div class="input-wrapper">
                                        <label class="col-1">검토 사항</label>
                                        <div class="input-group input-group-sm col-10">
                                            <textarea class="form-control" rows="3" name="review_contents" disabled="disabled"></textarea>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-1">검토 결과</label>
                                        <div class="input-group input-group-sm col-10">
                                            <textarea class="form-control" rows="3" name="review_result"></textarea>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-1">검토자</label>
                                        <div class="input-group col-3">
                                            <input type="text" class="form-control required" name="review_emp_cd" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" onclick="ChangecontrolReviewSearchEmp(event)">찾기</button>
                                            </div>
                                        </div>

                                        <div class="input-group col-3">
                                            <input type="text" class="form-control required" name="review_emp_nm" readonly>
                                        </div>

                                        <label class="col-1">적용범위</label>
                                        <div class="input-group col-3">
                                            <select class="form-control" name="review_change_class">
                                                @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "D", "CH012")).Rows)
                                                {
                                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-4">
                                @(Html.DevExtreme().DataGrid()
                                .ID("ChangeControlReviewSign1Grid")
                                .KeyExpr("sign_set_dt_id")
                                .ShowBorders(true)
                                .Selection(s => s.Mode(SelectionMode.Single))
                                .HoverStateEnabled(true)
                                .Scrolling( scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                                .FocusedRowEnabled(true)
                                .Height(180)
                                .OnCellClick("ChangeControlReviewSign")
                                .Columns(columns =>
                                {
                                columns.Add().DataField("displayfield").Caption("구분");
                                columns.Add().DataField("sign_emp_nm").Caption("서명자");
                                columns.Add().DataField("sign_time").Width(185).Caption("서명일자");
                                columns.Add().DataField("sign_image").Caption("서명")
                                    .AllowFiltering(false)
                                    .AllowSorting(false)
                                    .CellTemplate(@<text>
                                            <div>
                                                <img src="<%- value %>" alt="" style="width:80px; height:25px;"/>
                                            </div>
                                        </text>);
                                })
                            )
                            </div>
                        </div>

                    }

                    @using (Html.DevExtreme().NamedTemplate("ChangeControlReviewTabContent2"))
                    {
                        <div class="row">
                            <div class="col-8">
                                <form id="ChangeControlReviewWriteForm_1">

                                    <div class="input-wrapper">
                                        <label class="col-1">접수번호</label>
                                        <div class="input-group col-4">
                                            <input type="text" class="form-control required" name="changecontrol_recieved_no" disabled="disabled">
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-1">변경분류</label>
                                        <div class="input-group col-2">
                                            <select class="form-control" name="review_change_level">
                                                @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "D", "CH005")).Rows)
                                                {
                                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="input-group col-2">
                                            <select class="form-control" name="review_change_class">
                                                @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "D", "CH012")).Rows)
                                                {
                                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                                }
                                            </select>
                                        </div>

                                        <label class="col-1">검토자</label>
                                        <div class="input-group col-2">
                                            <input type="text" class="form-control required" name="review_emp_cd" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" onclick="ChangecontrolReviewSearchEmp(event)">찾기</button>
                                            </div>
                                        </div>
                                        <div class="input-group col-2">
                                            <input type="text" class="form-control required" name="review_emp_nm" readonly>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-1">검토의견</label>
                                        <div class="input-group input-group-sm col-10">
                                            <textarea class="form-control" rows="3" name="review_result"></textarea>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-1">특기사항</label>
                                        <div class="input-group input-group-sm col-10">
                                            <textarea class="form-control" rows="3" name="review_change_special"></textarea>
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="col-4">
                                @(Html.DevExtreme().DataGrid()
                                .ID("ChangeControlReviewSign2Grid")
                                .KeyExpr("sign_set_dt_id")
                                .ShowBorders(true)
                                .Selection(s => s.Mode(SelectionMode.Single))
                                .HoverStateEnabled(true)
                                .Scrolling( scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                                .FocusedRowEnabled(true)
                                .Height(180)
                                .OnCellClick("ChangeControlReviewSign")
                                .Columns(columns =>
                                {
                                columns.Add().DataField("displayfield").Caption("구분");
                                columns.Add().DataField("sign_emp_nm").Caption("서명자");
                                columns.Add().DataField("sign_time").Width(185).Caption("서명일자");
                                columns.Add().DataField("sign_image").Caption("서명")
                                    .AllowFiltering(false)
                                    .AllowSorting(false)
                                    .CellTemplate(@<text>
                                            <div>
                                                <img src="<%- value %>" alt="" style="width:80px; height:25px;"/>
                                            </div>
                                        </text>);
                                    })
                                )
                            </div>
                        </div>

                    }

                    @using (Html.DevExtreme().NamedTemplate("ChangeControlReviewTabContent3"))
                    {
                        <div class="row margin-bottom">
                            <div class="col-8">
                                <form id="ChangeControlReviewWriteForm_2">
                                    <div class="input-wrapper">
                                        <label class="col-1">변경분류</label>
                                        <div class="input-group col-2">
                                            <select class="form-control" name="review_change_level">
                                                @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "D", "CH001")).Rows)
                                                {
                                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="input-group col-2">
                                            <select class="form-control" name="review_change_class">
                                                @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "D", "CH012")).Rows)
                                                {
                                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                                }
                                            </select>
                                        </div>

                                        <label class="col-1">검토자</label>
                                        <div class="input-group col-2">
                                            <input type="text" class="form-control required" name="review_confirm_emp_cd" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" onclick="ChangecontrolReviewSearchEmp(event)">찾기</button>
                                            </div>
                                        </div>
                                        <div class="input-group col-2">
                                            <input type="text" class="form-control required" name="review_confirm_emp_nm" readonly>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-1">상태</label>
                                        <div class="input-group col-2">
                                            <select class="form-control" name="review_result_yn">
                                                @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "D", "CH007")).Rows)
                                                {
                                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-1">검토의견</label>
                                        <div class="input-group input-group-sm col-10">
                                            <textarea class="form-control" rows="3" name="review_confirm_result"></textarea>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-1">특기사항</label>
                                        <div class="input-group input-group-sm col-10">
                                            <textarea class="form-control" rows="3" name="review_change_special"></textarea>
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="col-4">
                                @(Html.DevExtreme().DataGrid()
                                .ID("ChangeControlReviewSign3Grid")
                                .KeyExpr("sign_set_dt_id")
                                .ShowBorders(true)
                                .Selection(s => s.Mode(SelectionMode.Single))
                                .HoverStateEnabled(true)
                                .Scrolling( scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                                .FocusedRowEnabled(true)
                                .Height(180)
                                .OnCellClick("ChangeControlReviewSign")
                                .Columns(columns =>
                                {
                                columns.Add().DataField("displayfield").Caption("구분");
                                columns.Add().DataField("sign_emp_nm").Caption("서명자");
                                columns.Add().DataField("sign_time").Width(185).Caption("서명일자");
                                columns.Add().DataField("sign_image").Caption("서명")
                                    .AllowFiltering(false)
                                    .AllowSorting(false)
                                    .CellTemplate(@<text>
                                            <div>
                                                <img src="<%- value %>" alt="" style="width:80px; height:25px;"/>
                                            </div>
                                        </text>);
                                    })
                                )
                            </div>
                        </div>
                    }

                </div>

            </div>

            <div id="ChangeControlReviewBottomDiv2" class="display-none">

                <div class="box mb-0">
                    <div class="divName margin-bottom">
                        <p>평가항목 리스트</p>
                    </div>

                    @(Html.DevExtreme().DataGrid()
                        .ID("ChangeControlReviewGrid2")
                        .KeyExpr("changecontrol_review_id")
                        .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                        .Height(350)
                        .ShowBorders(true)
                        .SearchPanel(searchPanel => searchPanel.Visible(true))
                        .ShowColumnLines(true)
                        .OnRowUpdated("ChangeControlReviewGrid2Update")
                        .OnCellPrepared("ChangeControlReviewGrid2editibleColumn")
                        .OnToolbarPreparing("HideToolbarButton")
                        .HoverStateEnabled(true)
                        .Columns(c =>
                        {
                            c.Add().DataField("changecontrol_sop_item_nm").Caption("평가구분").Alignment(HorizontalAlignment.Center);
                            c.Add().DataField("changecontrol_sop_item_seq").Caption("순번").Alignment(HorizontalAlignment.Center);
                            c.Add().DataField("changecontrol_sop_item_contents").Caption("평가항목").Alignment(HorizontalAlignment.Center);
                            c.Add().DataField("changecontrol_sop_item_yn").Caption("평가결과").Alignment(HorizontalAlignment.Center)
                                .DataType(GridColumnDataType.Boolean)
                                .CalculateCellValue(@"function(rowData) { return rowData.changecontrol_sop_item_yn == ""Y"" || rowData.changecontrol_sop_item_yn == true; }");
                            c.Add().DataField("changecontrol_sop_item_remark").Caption("비고").Alignment(HorizontalAlignment.Center);
                        })
                    )

                </div>

            </div>

        </div>

    </div>

</div>