@using System.Data
@using HACCP.Libs.Views

@{
    Layout = null;
    ViewData["Title"] = "Gmp_doc_distribute_check";
}
<script id="Gmp_doc_distribute_checkJs">

    var Gmp_doc_distribute_check_moduleType = "@ViewBag.moduleType";
    var Gmp_doc_distribute_check_signCode = "@ViewBag.signCode";
    var Gmp_doc_distribute_check_userCd = sessionStorage.getItem("loginCD");
    var Gmp_doc_distribute_check_userNm = sessionStorage.getItem("loginNM");

    var Gmp_doc_distribute_check_empCd = '';
    var Gmp_doc_distribute_check_empNm = '';

    var Gmp_doc_distribute_checkEvent;
    var Gmp_doc_distribute_check_SignGubun = '';

    $(function () {
        $("#check_emp_nm").val(Gmp_doc_distribute_check_userNm);

        $("#Gmp_doc_distribute_checkForm input[name=select_gubun][value='2']").prop("checked", true);//내것만 보기
        $("#Gmp_doc_distribute_check #status").val("1").prop("selected", true);//미확인

        setDatePicker("#Gmp_doc_distribute_check .datepicker");

        Gmp_doc_distribute_checkSearch();

        //사용여부 변경시 이벤트
        $("#Gmp_doc_distribute_checkForm input[name='select_gubun']").change(function () {
            Gmp_doc_distribute_checkByRadio();
        })

    })

    // 상단 라디오 버튼 변경
    function Gmp_doc_distribute_checkByRadio() {
        Gmp_doc_distribute_checkSearch();
    }

    //조회
    function Gmp_doc_distribute_checkSearch() {
        var select = $("#Gmp_doc_distribute_checkForm input[name='select_gubun']:checked").val();

        $.ajax({
            type: 'POST',
            url: '/Doc/Gmp_doc_distribute_check_SearchDocDistribute',
            data: {
                start: $("#Gmp_doc_distribute_check #start_date").val(),
                end: $("#Gmp_doc_distribute_check #end_date").val(),
                status: $("#Gmp_doc_distribute_check #status").val(),
                gubun: select
            },
            success: function (result) {

                if (result != "") {
                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    //console.log(JSON.parse(result));
                    $("#Gmp_doc_distribute_check_DataGrid").dxDataGrid("option", "dataSource", json);
                    $("#Gmp_doc_distribute_check_DataGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

                } else {
                    DocDistributeCheck_clear();//그리드 데이터 초기화
                    $("#Gmp_doc_distribute_check_DataGrid").dxDataGrid("option", "dataSource", []);
                    $("#Gmp_doc_distribute_check_DataGrid").dxDataGrid("instance").option("focusedRowKey", "");

                }

            }
        })

    }

    //입력
    function Gmp_doc_distribute_checkInput() {

    }

    //수정
    function Gmp_doc_distribute_checkEdit() {

    }

    //삭제
    function Gmp_doc_distribute_checkDelete() {

    }

    //저장
    function Gmp_doc_distribute_checkSave() {

    }

    //취소
    function Gmp_doc_distribute_checkUndo() {

    }

    //프린트
    function Gmp_doc_distribute_checkPrint() {

    }

    //엑셀
    function Gmp_doc_distribute_checkExcel() {

    }

    function Gmp_doc_distribute_check_getFocusedRowData() {
        var data = null;

        var grid = $("#Gmp_doc_distribute_check_DataGrid").dxDataGrid("instance");
        var focusedKey = grid.option("focusedRowKey");
        if (focusedKey != undefined) {
            data = getGridRowByKey("Gmp_doc_distribute_check_DataGrid", grid.option("focusedRowKey"));
            data = (data != undefined) ? data : null;
        }
        return data;

    }

    function Gmp_doc_distribute_checkFocuschanged(e) {

        Gmp_doc_distribute_checkEvent = e;

        var grid = $("#Gmp_doc_distribute_check_DataGrid").dxDataGrid("instance");
        var data = getGridRowByKey("Gmp_doc_distribute_check_DataGrid", grid.option("focusedRowKey"));

        if (data != undefined && data != null) {
            $('#Gmp_doc_distribute_check input[name="doc_no"]').val(data.doc_no);
            $('#Gmp_doc_distribute_check input[name="doc_nm"]').val(data.doc_nm);
            $('#Gmp_doc_distribute_check input[name="approval_date"]').val(data.approval_date);
            $('#Gmp_doc_distribute_check input[name="revision_date"]').val(data.revision_date);
            $('#Gmp_doc_distribute_check input[name="void_date"]').val(data.void_date);
            $('#Gmp_doc_distribute_check input[name="archive_position_nm"]').val(data.archive_position_nm);
            $('#Gmp_doc_distribute_check input[name="writer_nm"]').val(data.writer_nm);
            $('#Gmp_doc_distribute_check input[name="over_emp_nm"]').val(data.over_emp_nm);
            $('#Gmp_doc_distribute_check input[name="dist_date"]').val(data.dist_date);
            $('#Gmp_doc_distribute_check input[name="dist_qty"]').val(data.dist_qty);
            $('#Gmp_doc_distribute_check input[name="doc_file_nm"]').val(data.doc_file_nm);

            DocDistributeCheck_SignerSearch();
        } else {
            $('#Gmp_doc_distribute_check input[name="doc_no"]').val("");
            $('#Gmp_doc_distribute_check input[name="doc_nm"]').val("");
            $('#Gmp_doc_distribute_check input[name="approval_date"]').val("");
            $('#Gmp_doc_distribute_check input[name="revision_date"]').val("");
            $('#Gmp_doc_distribute_check input[name="void_date"]').val("");
            $('#Gmp_doc_distribute_check input[name="archive_position_nm"]').val("");
            $('#Gmp_doc_distribute_check input[name="writer_nm"]').val("");
            $('#Gmp_doc_distribute_check input[name="over_emp_nm"]').val("");
            $('#Gmp_doc_distribute_check input[name="dist_date"]').val("");
            $('#Gmp_doc_distribute_check input[name="dist_qty"]').val("");
            $('#Gmp_doc_distribute_check input[name="doc_file_nm"]').val("");

        }



    }

    function DocDistributeCheck_GetFile(doc_file_id) {

        var ok = confirm("문서를 여시겠습니까?");

        if (ok) {
            document.location.assign('/Doc/Gmp_doc_distribute_check_GetFile?doc_file_id=' + doc_file_id);

            //$.ajax({
            //    type: 'POST',
            //    url: '/Doc/Gmp_doc_distribute_check_GetFile',
            //    data: {
            //        doc_file_id: doc_file_id
            //    },
            //    success: function (result) {
            //        if (result.length > 0) {
            //            var json = JSON.parse(result);
            //            if (json.hasOwnProperty('sessionLoss')) {
            //                alert("세션이 만료되었습니다.");
            //                sessionStorage.clear();
            //                location.replace("/Comm/Login");
            //            }
            //            //alert(json.messege);
            //        }
            //    }
            //});
        }
    }

    function DocDistDownloadAttatchedFile() {
        var selectedRow = Gmp_doc_distribute_check_getFocusedRowData();
        if (selectedRow != null) {
            var doc_file_id = "";
            doc_file_id = selectedRow.doc_file_id;

            if (doc_file_id != "" && doc_file_id != null)
                DocDistributeCheck_GetFile(doc_file_id);
        }
    }

    function DocDistributeCheck_clear() {
        //문서배포확인
        $('#Gmp_doc_distribute_check input[name="doc_no"]').val("");
        $('#Gmp_doc_distribute_check input[name="doc_nm"]').val("");
        $('#Gmp_doc_distribute_check input[name="approval_date"]').val("");
        $('#Gmp_doc_distribute_check input[name="revision_date"]').val("");
        $('#Gmp_doc_distribute_check input[name="void_date"]').val("");
        $('#Gmp_doc_distribute_check input[name="archive_position_nm"]').val("");
        $('#Gmp_doc_distribute_check input[name="writer_nm"]').val("");
        $('#Gmp_doc_distribute_check input[name="over_emp_nm"]').val("");
        $('#Gmp_doc_distribute_check input[name="dist_date"]').val("");
        $('#Gmp_doc_distribute_check input[name="dist_qty"]').val("");
        $('#Gmp_doc_distribute_check input[name="doc_file_nm"]').val("");

        //문서확인서명
        //$('#Gmp_doc_distribute_check #Gmp_doc_distribute_checkSignForm')[0].reset();
        //$("#Gmp_doc_distribute_check #sign_image").attr("src", null);

        $("#Gmp_doc_distribute_check_DataGrid").dxDataGrid("option", "dataSource", []);
    }

    //전자서명 start ////////////////////////////////////////////////////////////////////////////////////////////////

    function Gmp_doc_distribute_checkSign(e) {

        if (e.columnIndex == 3) {
            var signData = e.data;

            //전자서명 팝업 열기
            DocDistributeCheck_DoSign();

        }
    }

    //해당 전자서명에 관한 정보를 보여준다.
    function DocDistributeCheck_SignerSearch() {
        var selectedRow = Gmp_doc_distribute_check_getFocusedRowData();

        $.ajax({
            type: 'POST',
            async:false,
            url: '/Doc/Gmp_doc_distribute_check_SignerSearch',
            data: {
                distId: selectedRow.dist_id,
                moduleType: Gmp_doc_distribute_check_moduleType,
                signCode: Gmp_doc_distribute_check_signCode,
                signSeq: "1"
            },
            success: function (result) {

                if (result != "") {
                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }
                    if (json.length > 0) {
                        $("#Gmp_doc_distribute_checkSignGrid").dxDataGrid("option", "dataSource", json);

                    } else {
                        $("#Gmp_doc_distribute_checkSignGrid").dxDataGrid("option", "dataSource", []);
                    }

                } else {
                    $("#Gmp_doc_distribute_checkSignGrid").dxDataGrid("option", "dataSource", []);

                }
            }
        })
    }

    //전자서명 버튼 클릭
    function DocDistributeCheck_signClick() {
        //그리드 로우 카운트 체크
        var grid = $("#Gmp_doc_distribute_check_DataGrid").dxDataGrid("instance");

        if (grid.getDataSource().totalCount() <= 0) {
            alert("승인할 데이터가 존재하지 않습니다!");
            return;
        } else {
            DocDistributeCheck_DoSign();
        }
    }

    //전자서명
    function DocDistributeCheck_DoSign() {
        Gmp_doc_distribute_check_empCd = "";

        var popup = $("#Gmp_doc_distribute_checkPopup").dxPopup("instance");
        popup.option("contentTemplate", $("#Gmp_doc_distribute_checkSignPopupTemplate"));

        var signGrid = $("#Gmp_doc_distribute_checkSignGrid").dxDataGrid("instance");
        var signGridData = getGridRowByKey("Gmp_doc_distribute_checkSignGrid", signGrid.option("focusedRowKey"));
        var sign_emp_nm = signGridData.sign_emp_nm;
        //var sign_emp_nm = $('#Gmp_doc_distribute_check input[name="sign_emp_nm"]').val();

        //서명 정보가 있을 때
        if (sign_emp_nm != "" && sign_emp_nm != null) {
            var ok = confirm("전자서명을 취소하시겠습니까?");

            if (ok) {
                Gmp_doc_distribute_check_SignGubun = "cancel";

                //창띄우기
                popup.show();

            }

        } else {//서명 정보가 없을 때
            Gmp_doc_distribute_check_SignGubun = "update";

            //창띄우기
            popup.show();

        }
    }

    //서명정보 저장
    function SaveSign(representative_yn) {
        var selectedRow = Gmp_doc_distribute_check_getFocusedRowData();
        var check = false;

        $.ajax({
            type: 'POST',
            async:false,
            url: '/Doc/Gmp_doc_distribute_check_SaveSign',
            data: {
                distId: selectedRow.dist_id,
                moduleType: Gmp_doc_distribute_check_moduleType,
                signCode: Gmp_doc_distribute_check_signCode,
                signSeq: "1",
                emp_cd: Gmp_doc_distribute_check_empCd,
                validation_type: '2',
                representative_yn: representative_yn,
                docNo: $('#Gmp_doc_distribute_check input[name="doc_no"]').val(),
                revisionNo: selectedRow.revision_no
            },
            success: function (result) {
                if (result != "") {

                    if (result == "Y") {
                        check = true;
                    }
                }
            }
        })
        return check;
    }

    //수정 및 삭제 권한 조회
    function GetModifiableAuthority() {

        var selectedRow = Gmp_doc_distribute_check_getFocusedRowData();
        var check = false;

        $.ajax({
            type: 'POST',
            async:false,
            url: '/Doc/Gmp_doc_distribute_check_GetModifiableAuthority',
            data: {
                distId: selectedRow.dist_id,
                moduleType: Gmp_doc_distribute_check_moduleType,
                emp_cd: Gmp_doc_distribute_check_empCd
            },
            success: function (result) {

                if (result != "") {

                    if (result == "Y") {
                        check = true;
                    }
                }
            }
        })
        return check;

    }

    //서명 취소
    function DocDistributeCheck_CancelSign() {

        var selectedRow = Gmp_doc_distribute_check_getFocusedRowData();
        var check = false;

        $.ajax({
            type: 'POST',
            async:false,
            url: '/Doc/Gmp_doc_distribute_check_CancelSign',
            data: {
                distId: selectedRow.dist_id,
                moduleType: Gmp_doc_distribute_check_moduleType,
                signSeq: "1",
                //docNo: selectedRow.doc_no,
                docNo: $('#Gmp_doc_distribute_check input[name="doc_no"]').val(),
                revisionNo: selectedRow.revision_no
            },
            success: function (result) {

                if (result != "") {
                    //var json = JSON.parse(result);
                    if (result == "Y") {
                        check = true;
                    }

                }
            }
        })
        return check;
    }

    //유효 ID 체크
    function DocDistributeCheck_IDValidation() {
        var check = false;

        var data = new FormData($('#Gmp_doc_distribute_check_Form')[0]);
        data.set("gubun", "S");

        $.ajax({
            type: 'POST',
            async:false,
            url: '/Comm/IDValidation',
            data: data,
            contentType: false,
            processData: false,
            success: function (result) {

                if (result.length <= 0) {
                    alert("잘못된 ID,PW 입니다.");
                    //check = false;
                    //return;
                } else {
                    var json = JSON.parse(result);

                    Gmp_doc_distribute_check_empNm = json[0].emp_nm;
                    Gmp_doc_distribute_check_empCd = json[0].emp_cd;

                    //if (Gmp_doc_distribute_check_empNm == "" || Gmp_doc_distribute_check_empNm == null) check = false;
                    if (Gmp_doc_distribute_check_userCd != Gmp_doc_distribute_check_empCd) {
                        //check = false;
                        alert("로그인 사용자와 서명자가 일치하지 않습니다!");
                        //return;
                    }

                    if (Gmp_doc_distribute_check_userCd == Gmp_doc_distribute_check_empCd) check = true;

                    $("#Gmp_doc_distribute_checkConfirmForm input[name='dept_nm']").val(json[0].dept_nm);
                    $("#Gmp_doc_distribute_checkConfirmForm input[name='emp_nm']").val(json[0].emp_nm);
                }

            }
        });
        return check;
    }

    //전자서명 폼 -> ID, PW 입력 확인버튼 클릭
    function Gmp_doc_distribute_checkSignSubmit() {

        //유효한 ID인지 확인
        var checkUser = DocDistributeCheck_IDValidation();
        if (checkUser) {

            //취소상태
            if (Gmp_doc_distribute_check_SignGubun == "cancel") {
                //해당 사용자가 마지막 전자서명자가 맞는지 확인 후 해당 서명을 취소
                if (GetModifiableAuthority()) {
                    if (DocDistributeCheck_CancelSign()) {
                        DocDistributeCheck_SignerSearch();

                        alert("서명이 삭제되었습니다.");

                        Gmp_doc_distribute_checkSearch();//배포데이터 재조회
                    }
                } else
                    return;
            }

            //등록상태
            if (Gmp_doc_distribute_check_SignGubun == "update") {
                var representative_yn = "N";

                var selectedRow = Gmp_doc_distribute_check_getFocusedRowData();
                var accept_emp_cd = selectedRow.accept_emp_cd;

                var signGrid = $("#Gmp_doc_distribute_checkSignGrid").dxDataGrid("instance");
                var signGridData = getGridRowByKey("Gmp_doc_distribute_checkSignGrid", signGrid.option("focusedRowKey"));
                var responsible_emp_nm = signGridData.responsible_emp_nm;
                //var responsible_emp_nm = $('#Gmp_doc_distribute_check input[name="responsible_emp_nm"]').val(); //여기 수정

                // 인수자와 서명자가 다르면 다음 작업을 진행 할 수 없다.
                if (accept_emp_cd != Gmp_doc_distribute_check_empCd) {
                    alert("인수자와 동일하지 않습니다");
                    return;
                }

                //서명 책임자와 서명자가 일치하지 않으면 대리자 권한을 체크한다.
                if (responsible_emp_nm != Gmp_doc_distribute_check_empNm) {//emp_nm -> checkuser에서 설정한 값..

                    //서명자가 정해져 있지 않다면 서명권한을 체크하지 않고 누구든 서명이 가능하다.
                    if (responsible_emp_nm != "" && responsible_emp_nm != null) {
                        if (GetRepresentativeAuthority() == false) {

                            alert("서명 권한이 없습니다.");
                        } else {
                            representative_yn = "Y";
                        }

                    }
                }

                if (SaveSign(representative_yn)) {
                    DocDistributeCheck_SignerSearch();

                    //var grid = $("#Gmp_doc_distribute_check_DataGrid").dxDataGrid("instance");
                    //grid.cellValue(Gmp_doc_distribute_checkEvent.rowIndex, "dist_status", "2");
                    alert("서명을 저장하였습니다.");

                    Gmp_doc_distribute_checkSearch();
                } else {
                    alert("전자서명 도중 오류가 발생했습니다.");
                }
            }

        } //else {
        //    alert("전자서명이 취소되었습니다.");
        //}

        setTimeout(function () {
            var popup = $("#Gmp_doc_distribute_checkPopup").dxPopup("instance");
            popup.hide();
        }, 1000);

    }

    //대리자 권한 조회
    function GetRepresentativeAuthority() {
        var check = false;

        //서명가능 여부를 확인한다.
        $.ajax({
            type: 'POST',
            async:false,
            url: '/Doc/Gmp_doc_distribute_check_GetRepresentativeAuthority',
            data: {
                emp_cd: Gmp_doc_distribute_check_empCd,//empCd -> checkuser에서 설정한 값..
                signSeq: "1",
                signCode: Gmp_doc_distribute_check_signCode
            },
            success: function (result) {

                if (result != "") {
                    //var json = JSON.parse(result);

                    if (result == "N")
                        check = false;
                    else
                        check = true;
                }
            }
        })
        return check;
    }

    // 서명 인풋 초기화
    function Gmp_doc_distribute_check_clearSignInput() {
        $('#Gmp_doc_distribute_check_Form')[0].reset();
        $("#Gmp_doc_distribute_checkConfirmForm input[name='dept_nm']").val("");
        $("#Gmp_doc_distribute_checkConfirmForm input[name='emp_nm']").val("");
    }
    //전자서명 end ////////////////////////////////////////////////////////////////////////////////////////////////


</script>

<div id="Gmp_doc_distribute_check" autoresize="Y">

    @*<h4 class="divTitle">문서 배포 확인</h4>*@

    @using (Html.DevExtreme().NamedTemplate("Gmp_doc_distribute_checkSignPopupTemplate"))
    {
        <h6>전자서명은 수기서명과 동일한 효력을 갖습니다.</h6>

        <form id="Gmp_doc_distribute_check_Form">

            <div class="input-wrapper">
                <label class="col-3">아이디</label>
                <input type="text" class="col-8 form-control" name="txt_ID">

                <label class="col-3">비밀번호</label>
                <input type="password" class="col-8 form-control" name="txt_Pass">
            </div>

        </form>
        <div class="align-content-end">
            <button class="btn btn-secondary" onclick="Gmp_doc_distribute_checkSignSubmit()">확인</button>
        </div>

        <br />
        <hr />

        <form id="Gmp_doc_distribute_checkConfirmForm">

            <label class="col-3">부서</label>
            <input type="text" class="col-8 form-control" name="dept_nm" readonly="readonly" />
            <label class="col-3">성명</label>
            <input type="text" class="col-8 form-control" name="emp_nm" readonly="readonly" />

        </form>

    }

    @(Html.DevExtreme().Popup()
            .ID("Gmp_doc_distribute_checkPopup")
            .Width(500)
            .Height(420)
            .ShowTitle(true)
            .Title("작업자 인증")
            .OnHidden("Gmp_doc_distribute_check_clearSignInput")
            .Visible(false)
            .DragEnabled(true)
            .CloseOnOutsideClick(false)
        )

    <div id="Gmp_doc_distribute_checkTop" class="mainTop row">

        <div class="col-8">
            <form id="Gmp_doc_distribute_checkForm">
                <div class="input-wrapper">
                    <div class="col-3 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">배포일자</span>
                        </div>
                        <input type="text" class="form-control datepicker text-center" name="start_date" id="start_date" value="@DateTime.Today.AddDays(-DateTime.Today.DayOfYear + 1).ToShortDateString()" />
                        <label class="p-1">~</label>
                        <input type="text" class="form-control datepicker text-center" name="end_date" id="end_date" value="@DateTime.Today.ToShortDateString()" />
                    </div>

                    <div class="col-2 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">확인자</span>
                        </div>
                        <input type="text" class="form-control" name="check_emp_nm" id="check_emp_nm" readonly />
                    </div>

                    <div class="col-3 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">권한</span>
                        </div>

                        <label class="p-1"></label>
                        <div class="input-group-prepend">
                            <input class="input-group-append" type="radio" value="1" id="select_gubun_1" name="select_gubun" />
                        </div>
                        <span class="form-control-sm"><label for="select_gubun_1">전체 보기</label></span>

                        <div class="input-group-prepend">
                            <input class="input-group-append" type="radio" value="2" id="select_gubun_2" name="select_gubun" />
                        </div>
                        <span class="form-control-sm"><label for="select_gubun_2">내것만 보기</label></span>
                    </div>

                    <div class="col-2 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">배포상태</span>
                        </div>
                        <select class="form-control" name="status" id="status" value="">
                            @foreach (DataRow row in ((DataTable)ViewBag.status).Rows)
                            {
                                <option value="@row["keyfield"]">@row["displayfield"]</option>
                            }
                        </select>
                    </div>
                </div>
            </form>

        </div>
        <div class="CRUD-btn col-4">
            @{ Html.SetToolbar(0, true, "Search"); }
            @*@(Html.DevExtreme().Toolbar()
                    .ID("Gmp_doc_distribute_check_Toolbar")
                        .Items(items =>
                        {
                            items.Add()
                            .Template(new TemplateName("Gmp_doc_distribute_check_ToolbarContent"))
                            .Location(ToolbarItemLocation.Before);
                        })
                        .Items(items =>
                        {
                            items.Add()
                                .Widget(w => w
                                    .Button()
                                    .Type(ButtonType.Default)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    .ID("Gmp_doc_distribute_checkSearch")
                                    .Icon("search")
                                    .Text("조회")
                                .OnClick("Gmp_doc_distribute_checkSearch")
                                )
                                .Location(ToolbarItemLocation.After);
                        })
                    )*@
        </div>
    </div><!-- Gmp_doc_distribute_checkTop -->

    <div class="row">
        <div class="col-7">
            <div id="Gmp_doc_distribute_checkMenuDiv" class="box mb-0">
                @(Html.DevExtreme().DataGrid()
                        .ID("Gmp_doc_distribute_check_DataGrid")
                        .SearchPanel(searchPanel => searchPanel.Visible(true))
                        .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                        .ShowBorders(true)
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .ColumnAutoWidth(true)
                        .FocusedRowEnabled(true)
                        .FocusedRowIndex(0)
                        .Height(880)
                        .KeyExpr("dist_id")
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .Columns(c =>
                        {
                            c.Add().DataField("doc_no").Caption("문서번호");
                            c.Add().DataField("doc_nm").Caption("문서명");
                            c.Add().DataField("revision_date").Caption("개정일자");
                            c.Add().DataField("dist_date").Caption("배포일자");
                            c.Add().DataField("accept_emp_nm").Caption("인수자");
                            c.Add().DataField("dist_status").Caption("확인")
                            .CustomizeText(@"function(cellInfo){ return cellInfo.value == ""2"" ? ""확인"" : ""미확인""}");

                            c.Add().DataField("revision_no").Visible(false);
                            c.Add().DataField("dist_id").Visible(false);
                            c.Add().DataField("approval_date").Visible(false);
                            c.Add().DataField("void_date").Visible(false);
                            c.Add().DataField("archive_position_nm").Visible(false);
                            c.Add().DataField("writer_nm").Visible(false);
                            c.Add().DataField("over_emp_nm").Visible(false);
                            c.Add().DataField("dist_qty").Visible(false);
                            c.Add().DataField("doc_file_nm").Visible(false);
                            c.Add().DataField("doc_file_id").Visible(false);
                        })
                        .OnFocusedRowChanged("Gmp_doc_distribute_checkFocuschanged")
                    )
            </div>
        </div>

        <div class="col-5">
            <div class="box">
                <form>
                    <div class="divName">
                        <p id="title_label">문서배포확인</p>
                    </div>
                    <div class="input-wrapper">
                        <label class="col-3">문서번호</label>
                        <div class="input-group col-8">
                            <input type="text" class="form-control" name="doc_no" id="doc_no" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">문서명</label>
                        <div class="input-group col-8">
                            <input type="text" class="form-control" name="doc_nm" id="doc_nm" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">제정일자</label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" id="approval_date" name="approval_date" readonly />
                        </div>
                        <label class="col-2">개정일자</label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" id="revision_date" name="revision_date" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">문서효력일</label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" id="void_date" name="void_date" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">보관장소</label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" name="archive_position_nm" id="archive_position_nm" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">작성자</label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" name="writer_nm" id="writer_nm" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">배포자</label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" name="over_emp_nm" id="over_emp_nm" readonly />
                        </div>
                        <label class="col-2">배포일자</label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" id="dist_date" name="dist_date" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">배포수량</label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" name="dist_qty" id="dist_qty" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">배포문서</label>
                        <div class="input-group col-7">
                            <input type="text" class="form-control" name="doc_file_nm" readonly />
                        </div>
                        <button type="button" class="btn btn-secondary" onclick="DocDistDownloadAttatchedFile()">열기</button>
                    </div>
                </form>

                <form id="Gmp_doc_distribute_checkSignForm">
                    <div class="divName">
                        <p id="title_label">문서확인서명</p>
                    </div>
                    @(Html.DevExtreme().DataGrid()
                            .ID("Gmp_doc_distribute_checkSignGrid")
                            .KeyExpr("sign_set_dt_id")
                            .ShowBorders(true)
                            .ShowColumnLines(true)
                            .Selection(s => s.Mode(SelectionMode.Single))
                            .HoverStateEnabled(true)
                            .Scrolling( scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                            .FocusedRowEnabled(true)
                            .Height(65)
                            .OnCellClick("Gmp_doc_distribute_checkSign")
                            .Columns(columns =>
                            {
                            columns.Add().DataField("displayfield").Caption("구분");
                            columns.Add().DataField("sign_emp_nm").Caption("서명자");
                            columns.Add().DataField("sign_time").Width(185).Caption("서명일자");
                            columns.Add().DataField("sign_image").Caption("서명")
                                .AllowFiltering(false)
                                .AllowSorting(false)
                                .CellTemplate(@<text>
                                        <div>
                                            <img src="<%- value %>" alt="" style="width:80px; height:25px;"/>
                                        </div>
                                    </text>);
                            })
                        )

                    @*<div class="input-wrapper">
                        <label class="col-3">책임자</label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" name="responsible_emp_nm" id="responsible_emp_nm" readonly />
                        </div>
                        <div class="input-group col-5">
                            <input type="text" class="form-control" name="responsible_authority" id="responsible_authority" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">서명정보</label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" name="sign_emp_nm" id="sign_emp_nm" readonly />
                        </div>
                        <div class="input-group col-5">
                            <input type="text" class="form-control" name="sign_emp_authority" id="sign_emp_authority" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3"></label>
                        <div class="input-group col-8">
                            <input type="text" class="form-control" name="sign_time" id="sign_time" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3"></label>
                        <div class="input-group form-control col-8" style="height:60px;">
                            <img id="sign_image" />
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label class="col-9"></label>
                        <button type="button" class="btn btn-secondary" onclick="DocDistributeCheck_signClick()">전자서명</button>
                    </div>*@
                </form>
            </div>
        </div>

    </div>


</div>