@using System.Data
@using HACCP.Libs
@using HACCP.Libs.Views

@{
    Layout = null;
    ViewBag.Title = "DespatchManage2";

    var DespatchManage2 = @Html.Raw(Json.Encode(ViewBag.DespatchManage2.Data));
    var DM2_CodeHelpCust = @Html.Raw(Json.Encode(ViewBag.DM2_CodeHelpCust.Data));
    var DM2_CodeHelpItem = @Html.Raw(Json.Encode(ViewBag.DM2_CodeHelpItem.Data));
    var DespatchManage2Auth = @Html.Raw(Json.Encode(ViewBag.DespatchManage2Auth.Data));
}

@{
    string[] DM2_gridKey_Main = { "DESPATCH_ORDER_NO", "ITEM_ISSUE_SEQ", "ITEM_CD" };    
}

<script id="DespatchManage2Js" type="text/javascript">
        //SP 구문, gubun 변수
        var DM2_despatchGubun = "";

        //메뉴 권한
        var _DespatchManage2Auth;
        var DespatchManage2 = @DespatchManage2;

        //출고전표상세 그리드 변경사항 array
        var _DespatchManage2List = new Array();

        //Lot번호별 출고내역 변경사항 Array
        var _DM2_LotList = new Array();

        //출고 지시/확정/완료 결과값 담는 Array
        var DM2_CheckArr = new Array();
        var DM2_EndArr = new Array();

        //validation check
        var _Validation = false;

        $(function () {
            setDatePicker("#DespatchManage2 .datepicker");

            //main 그리드 생성
            if (DespatchManage2.length <= 0) {
                $("#DespatchManage2MainGrid").dxDataGrid("instance").option("dataSource", []);
                $("#DespatchManage2MainGrid").dxDataGrid("instance").option("focusedRowEnabled", false);
            } else {
                $("#DespatchManage2MainGrid").dxDataGrid("instance").option("dataSource", JSON.parse(@DespatchManage2));
                $("#DespatchManage2MainGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                $("#DespatchManage2MainGrid").dxDataGrid("instance").option("focusedRowIndex", 0);
            }

            //수정중인지 체크
            DespatchManage2_EditCheck(false);

            //사용자 권한
            _DespatchManage2Auth = JSON.parse(@DespatchManage2Auth)[0];

            if (_DespatchManage2Auth.form_query != "Y") {
                $("#DespatchManage2Search").remove();
            }
            if (_DespatchManage2Auth.form_edit != "Y") {
                $("#DespatchManage2Edit").remove();
            }

            //#region 팝업세팅
                var ds = @DM2_CodeHelpCust;
                var is = @DM2_CodeHelpItem;

                var columns = [
                    { dataField: "vender_cd", caption: "거래처코드" },
                    { dataField: "vender_nm", caption: "거래처명" }
                ];

                createPopup("DM2_Cust", "거래처 조회", ds, columns, "vender_cd");

                //품목 팝업
                var columns2 = [
                    { dataField: "item_cd", caption: "제품코드" },
                    { dataField: "item_nm", caption: "제품명" }
                ];

                createPopup("DM2_Item", "제품 조회", is, columns2, "item_cd");
            //#endregion

        });

        //수정중인지 체크
        function DespatchManage2_EditCheck(nowEdit) {
            $("#DespatchManage2Detail :enabled").attr('disabled', true);
            //수정중일 때
            if (nowEdit) {
                $("#DespatchManage2Save").dxButton().parent().parent().removeClass("display-none");
                $("#DespatchManage2Undo").dxButton().parent().parent().removeClass("display-none");
                $("#DespatchManage2Search").dxButton().parent().parent().addClass("display-none");
                $("#DespatchManage2Edit").dxButton().parent().parent().addClass("display-none");

                $("#DespatchManage2MainGrid").dxDataGrid("option", "disabled", true);
                //$("#DespatchManage2DownMiddleGrid").dxDataGrid("option", "disabled", true);

                $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance").option("focusedRowEnabled", false);

            }
            if (!nowEdit) {
                $("#DespatchManage2Save").dxButton().parent().parent().addClass("display-none");
                $("#DespatchManage2Undo").dxButton().parent().parent().addClass("display-none");
                $("#DespatchManage2Search").dxButton().parent().parent().removeClass("display-none");
                $("#DespatchManage2Edit").dxButton().parent().parent().removeClass("display-none");

                $("#DespatchManage2MainGrid").dxDataGrid("option", "disabled", false);
                //$("#DespatchManage2DownMiddleGrid").dxDataGrid("option", "disabled", false);

                $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
            }
        }

        //#region 팝업 기능
            //거래처 팝업
            function DM2_searchCustPopup() {
                var popup = $("#DM2_CustPopup").dxPopup("instance");

                popup.show();
            }

            //거래처 더블클릭
            function DM2_CustRowDblClick(selectedItems) {

                $("#DespatchManage2_form input[name=DM2_s_cust_cd]").val(selectedItems.data.vender_cd);
                $("#DespatchManage2_form input[name=DM2_s_cust_nm]").val(selectedItems.data.vender_nm);

                var popup = $("#DM2_CustPopup").dxPopup("instance");
                popup.hide();
            }

            //품목 팝업
            function DM2_searchItemPopup() {
                var popup = $("#DM2_ItemPopup").dxPopup("instance");
                popup.show();
            }

            //품목 더블클릭
            function DM2_ItemRowDblClick(selectedItems) {
                $("#DespatchManage2_form input[name=DM2_item_cd]").val(selectedItems.data.item_cd);
                $("#DespatchManage2_form input[name=DM2_item_nm]").val(selectedItems.data.item_nm);

                var popup = $("#DM2_ItemPopup").dxPopup("instance");
                popup.hide();
            }
        //#endregion

        //#region   focus된 row만 Editing mode 활성화
        function DespatchManage2DownMiddleGrid_focusedEdit(info) {
            if (info.key != $("#DespatchManage2DownMiddleGrid").dxDataGrid("option", "focusedRowKey")) {
                info.cancel = true;
            }
        }
        //#endregion

        //#region CellClick 이벤트 제한
            //출고전표상세 그리드 제한
            function DM2_EditableCell(e) {

                if (e.parentType === "dataRow") {
                    if (e.columnIndex == 1 || e.dataField == "ITEM_CD") {
                        e.editorOptions.disabled = true;
                    }
                    if (e.columnIndex == 2 || e.dataField == "ITEM_NM") {
                        e.editorOptions.disabled = true;
                    }
                    if (e.columnIndex == 3 || e.dataField == "ITEM_PACK_SIZE") {
                        e.editorOptions.disabled = true;
                    }
                    if (e.columnIndex == 4 || e.dataField == "LOT_NO") {
                        e.editorOptions.disabled = true;
                    }
                    if (e.columnIndex == 5 || e.dataField == "ISSUE_QTY2") {
                        e.editorOptions.disabled = true;
                    }
                    if (e.columnIndex == 7 || e.dataField == "Issue_Price") {
                        e.editorOptions.disabled = true;
                    }
                    if (e.columnIndex == 8 || e.dataField == "Issue_Amt") {
                        e.editorOptions.disabled = true;
                    }                    
                    if (e.columnIndex == 9 || e.dataField == "item_s_nm") {
                        e.editorOptions.disabled = true;
                    }
                }
                var DM2_onValueChanged = e.editorOptions.onValueChanged;

                //Grid Cell Keyup 이벤트 적용(출고수량)
                if (e.parentType == 'dataRow' && e.dataField == 'ISSUE_QTY') {

                    //포맷지정(복사 붙여넣기시 값 인식 제대로 되지않는 이슈로 인해)
                    e.editorOptions.format = "#,##0";

                    var _stockQty = 0;          //최초 조회된 재고량
                    var _issueQty = 0;          //출고수량
                    var _remainQty = 0;         //잔여 출고수량                    

                    e.editorOptions.onValueChanged = function (args) {

                        DM2_onValueChanged.apply(this, arguments);

                        var middle = $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance");
                        var middleData = getGridRowByKey('DespatchManage2DownMiddleGrid', middle.option("focusedRowKey"));
                        var grid = $("#DespatchManage2DownRightGrid").dxDataGrid("instance");

                        for (var e = 0; e < middle.totalCount(); e++) {
                            
                            if (args.value > middleData.ISSUE_QTY2) {
                                alert("출고 수량은 지시 수량보다 클 수 없습니다.");
                                return;
                            }
                        }

                        _issueQty = args.value;     //출고 수량 입력값

                        var gridData;
                        grid.getDataSource().store().load().done(function (data) {
                            gridData = data;
                        });

                        //2021.10.15 박가희 수정
                        //기존 : editing 모드에서 cellvalue지정시, 팔레트가 많을 경우 체크가 제대로 되지 않아 출고수량이 제대로 반영되지 않는 문제(그리드 버그)
                        //수정 : 기존 그리드 데이터를 가지고와 출고수량에 대해 데이터를 변경한 후, 그리드 데이터 셋을 변경

                        for (var i = 0; i < gridData.length; i++) {
                            //_stockQty = grid.cellValue(i, "stock_qty");     //i번째 재고량
                            _stockQty = gridData[i].stock_qty;

                            if (_issueQty > 0) {
                                if (_issueQty >= _stockQty) {
                                    gridData[i].ck = "Y";
                                    gridData[i].issue_qty = _stockQty;
                                    //grid.cellValue(i, "ck", "Y");
                                    //grid.cellValue(i, "issue_qty", _stockQty);
                                    _remainQty = _issueQty - _stockQty;
                                    _issueQty = _remainQty;
                                } else if (_issueQty < _stockQty) {
                                    gridData[i].ck = "Y";
                                    gridData[i].issue_qty = _issueQty;
                                    //grid.cellValue(i, "ck", "Y");
                                    //grid.cellValue(i, "issue_qty", _issueQty);
                                    _remainQty = _issueQty - _stockQty;
                                    _issueQty = _remainQty;
                                }
                            } else if (_issueQty <= 0) {
                                gridData[i].ck = "N";
                                gridData[i].issue_qty = 0;
                                //grid.cellValue(i, "ck", "N");
                                //grid.cellValue(i, "issue_qty", 0);
                            }
                        }
                        //grid.saveEditData();
                        $("#DespatchManage2DownRightGrid").dxDataGrid("instance").option("dataSource", gridData);

                        //Lot번호별 출고내역 기존데이터와 비교하여 insert/update/delete인지 설정
                        DespatchManage2LotDetailUpdate(gridData);

                    }
                }
            }

            //Lot번호별 출고내역 그리드 제한
            function DM2_EditableCell_Right(e) {
                if (e.parentType === "dataRow") {
                    if (e.columnIndex == 0 || e.dataField == "ck") {
                        e.editorOptions.disabled = true;
                    }
                    if (e.columnIndex == 1 || e.dataField == "box_barcode_no") {
                        e.editorOptions.disabled = true;
                    }
                    if (e.columnIndex == 2 || e.dataField == "stock_qty") {
                        e.editorOptions.disabled = true;
                    }
                    if (e.columnIndex == 3 || e.dataField == "issue_qty") {
                        e.editorOptions.disabled = true;
                    }
                }

                //지함적재량 포맷지정(복사 붙여넣기시 값 인식 제대로 되지않는 이슈로 인해)
                if (e.parentType == 'dataRow' && e.dataField == 'box_qty') {
                    e.editorOptions.format = "#,##0";
                }

                //Grid Cell Keyup 이벤트 적용(Ck || 출고수량)
                //출고전표상세에서 출고수량입력시, 자동으로 Lot번호별 출고내역이 체크되므로 양쪽에서 수정할 필요없음.
                //if (e.parentType == 'dataRow' && (e.dataField == 'ck' || e.dataField == 'issue_qty')) {

                //     //포맷지정(복사 붙여넣기시 값 인식 제대로 되지않는 이슈로 인해)
                //    if (e.dataField == 'issue_qty') {
                //        e.editorOptions.format = "#,##0";
                //    }

                //    var DM2_onValueChanged_ck = e.editorOptions.onValueChanged;

                //    var _sumQty = 0;        //ck = "Y" 인 것들의 출고수량 합

                //    e.editorOptions.onValueChanged = function (args) {

                //        var middle = $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance");
                //        var middleIndex = middle.option("focusedRowIndex");
                //        var grid = $("#DespatchManage2DownRightGrid").dxDataGrid("instance");
                        
                //        DM2_onValueChanged_ck.apply(this, arguments);

                //        for (var i = 0; i < grid.totalCount(); i++) {
                //            if (grid.cellValue(i, "ck") == "Y" || grid.cellValue(i, "ck") == true) {
                //                _sumQty += grid.cellValue(i, "issue_qty");
                //            }
                //            if (grid.cellValue(i, "issue_qty") > grid.cellValue(i, "stock_qty")) {
                //                alert("출고지시 수량은 재고량보다 클 수 없습니다.");
                //                return;
                //            }
                //        }
                //        middle.cellValue(middleIndex, "ISSUE_QTY", _sumQty);
                //    }
                //}
            }
        //#endregion

        //#region 상단 CRUD 버튼

            //조회
            function DespatchManage2Search() {
                DespatchManage2_EditCheck(false);
                DM2_despatchGubun = "";

                if ($("#DespatchManage2_form input[name=DM2_s_cust_cd]").val() == "") {
                    $("#DespatchManage2_form input[name=DM2_s_cust_nm]").val("");
                }

                if ($("#DespatchManage2_form input[name=DM2_item_cd]").val() == "") {
                    $("#DespatchManage2_form input[name=DM2_item_nm]").val("");
                }

                var formData = new FormData($("#DespatchManage2_form")[0]);
                formData.set("s_sdate", $("#DespatchManage2_form input[name=DM2_s_sdate]").val());
                formData.set("s_edate", $("#DespatchManage2_form input[name=DM2_s_edate]").val());
                formData.set("s_cust_cd", $("#DespatchManage2_form input[name=DM2_s_cust_cd]").val());
                formData.set("item_cd", $("#DespatchManage2_form input[name=DM2_item_cd]").val());

                $.ajax({
                    type: 'POST',
                    url: '/PrdOut/DespatchManage2_S1',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.length <= 0) {
                            $("#DespatchManage2MainGrid").dxDataGrid("instance").option("dataSource", []);
                            $("#DespatchManage2DownLeft_form")[0].reset();
                            $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance").option("dataSource", []);
                            $("#DespatchManage2DownRightGrid").dxDataGrid("instance").option("dataSource", []);

                            return;
                        }

                        var json = JSON.parse(result);

                        if (json.hasOwnProperty('sessionLoss')) {
                            alert("세션이 만료되었습니다.");
                            sessionStorage.clear();
                            location.replace("/Comm/Login");
                        }

                        $("#DespatchManage2MainGrid").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                        $("#DespatchManage2MainGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                        $("#DespatchManage2MainGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

                    }
                });
            }

            //수정
            function DespatchManage2Edit() {

                var grid = $("#DespatchManage2MainGrid").dxDataGrid("instance");

                if (grid.totalCount() <= 0) {
                    alert("수정할 항목이 존재하지 않습니다.");
                    DespatchManage2Undo();
                    return;
                }

                var gridData = getGridRowByKey('DespatchManage2MainGrid', grid.option("focusedRowKey"));

                if (gridData.issue_ck_cd == "1" || gridData.issue_ck_cd == "2") {
                    alert("출고확정/출고완료된 출고전표는 수정할 수 없습니다.");
                    return;
                }
                if (gridData.sign_status == "1" || gridData.sign_status == "2" || gridData.sign_status == "3") {
                    alert("승인된 자료는 수정할 수 없습니다.");
                    return;
                }

                DespatchManage2_EditCheck(true);
                DM2_despatchGubun = "U";

                //출고전표상세 edit 모드로 전환
                var editing = {
                    allowUpdating: true,
                    mode:'batch'
                }

                //Lot번호별 출고내역 edit 모드로 전환
                var editing2 = {
                    allowUpdating: true,
                    mode:'batch'
                }

                $("#DespatchManage2DownMiddleGrid").dxDataGrid("option", "editing", editing);
                $("#DespatchManage2DownRightGrid").dxDataGrid("option", "editing", editing2);
            }

            //저장
            async function DespatchManage2Save() {
                var grid = $("#DespatchManage2DownRightGrid").dxDataGrid("instance");
                var gridL = $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance");
                var rowIndex = gridL.option("focusedRowIndex");

                if (!confirm("변경사항을 저장하시겠습니까?")) {
                    //_DespatchManage2List = new Array();
                    //_DM2_LotList = new Array();
                    return;
                }

                await $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance").saveEditData();
                await $("#DespatchManage2DownRightGrid").dxDataGrid("instance").saveEditData();

                //#region 출고전표상세Grid 출고수량 validation
                for (var i = 0; i < grid.totalCount(); i++) {
                    if (grid.cellValue(i, "ck") == "Y" || grid.cellValue(i, "ck") == true) {
                        if (grid.cellValue(i, "issue_qty") <= 0) {
                            alert("팔레트번호 [" + grid.cellValue(i, "box_barcode_no") + "]의 출고수량이 지정되지 않아 저장할 수 없습니다.");
                            return;
                        }
                        if (grid.cellValue(i, "issue_qty") > grid.cellValue(i, "stock_qty")) {
                            alert("팔레트번호 [" + grid.cellValue(i, "box_barcode_no") + "]의 재고 수량보다 출고수량이 커서 저장할 수 없습니다.");
                            return;
                        }
                    }
                }

                if (gridL.cellValue(rowIndex, "ISSUE_QTY2") < gridL.cellValue(rowIndex, "ISSUE_QTY")) {
                    alert("지시 수량보다 출고수량이 클 수 없습니다.");
                    return;
                }
                //#endregion

                DespatchManage2Excute(_DespatchManage2List);

            }

            //batch 수정사항 진행
            function DespatchManage2Excute(data) {
                var middle = $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance");
                var middleData = getGridRowByKey('DespatchManage2DownMiddleGrid', middle.option("focusedRowKey"));

                $.ajax({
                    type: 'POST',
                    url: '/PrdOut/DespatchManage2_batch',
                    data: {
                        despatchManage2: JSON.stringify(_DM2_LotList),
                        issue_detail_date: middleData.ISSUE_DETAIL_DATE,
                        despatch_no: middleData.despatch_order_no,
                        Issue_Price: middleData.Issue_Price,
                        item_issue_id: middleData.ITEM_ISSUE_ID,
                        gubun: DM2_despatchGubun
                    },
                    success: function (result) {

                        var jsonData = JSON.parse(result);

                        if (jsonData.hasOwnProperty("failMessege")) {
                            console.log(jsonData.messege.replace(/\\n/g, "\\n"));
                            alert(jsonData.messege.replace(/\\n/g, "\\n"));

                            return;
                        }

                        DespatchManage2_carNum(_DM2_LotList);

                    }
                });                

            }

            //차량번호 수정 작업
            function DespatchManage2_carNum(data) {

                DM2_despatchGubun = "U5";                
                
                $.ajax({
                    type: 'POST',
                    url: '/PrdOut/DespatchManage2_batch',
                    data: {
                        despatchManage2: JSON.stringify(_DM2_LotList),
                        gubun: DM2_despatchGubun
                    },
                    success: function (result) {
                        var jsonData = JSON.parse(result);

                        if (jsonData.hasOwnProperty("failMessege")) {
                            console.log(jsonData.messege.replace(/\\n/g, "\\n"));
                            alert(jsonData.messege.replace(/\\n/g, "\\n"));

                            return;
                        }

                        alert("저장되었습니다.");
                        _DespatchManage2List = new Array();
                        _DM2_LotList = new Array();
                        DM2_despatchGubun = "";

                        var editing = {
                            allowUpdating: false,
                        }
                        var editing2 = {
                            allowUpdating: false,
                        }

                        $("#DespatchManage2DownMiddleGrid").dxDataGrid("option", "editing", editing);
                        $("#DespatchManage2DownRightGrid").dxDataGrid("option", "editing", editing2);

                        DespatchManage2Search();


                    }
                });

            }

            //취소
            function DespatchManage2Undo() {
                DM2_despatchGubun = "";

                _DespatchManage2List = new Array();
                _DM2_LotList = new Array();                

                var editing = {
                    allowUpdating: false
                }
                var editing2 = {
                    allowUpdating: false
                }

                $("#DespatchManage2DownMiddleGrid").dxDataGrid("option", "editing", editing);
                $("#DespatchManage2DownRightGrid").dxDataGrid("option", "editing", editing2);
                DespatchManage2_EditCheck(false);
                DespatchManage2Search();
            }

        //#endregion

        //#region 그리드 editing 모드
            function DespatchManage2DownMiddle_Update(info) {
                DespatchManage2_EditCheck(true);
                var data = info.data;

                _DespatchManage2List.push(data);
            }

            function DespatchManage2DownRight_Update(info) {
                DespatchManage2_EditCheck(true);
                var data = info.data;
                var box_barcode_no = info.data.box_barcode_no;

                var grid = $("#DespatchManage2DownRightGrid").dxDataGrid("instance");
                var gridData;
                grid.getDataSource().store().load().done(function (data) {
                    gridData = data;
                });

                $.map(gridData, function (value, index) {
                    if (value.box_barcode_no == box_barcode_no) {
                        value.box_qty = data.box_qty;
                        value.car_number = data.car_number;
                    }
                });
                DespatchManage2LotDetailUpdate(gridData);

                //var grid = $("#DespatchManage2MainGrid").dxDataGrid("instance");
                //var gridData = getGridRowByKey('DespatchManage2MainGrid', grid.option("focusedRowKey"));                

                //$.ajax({
                //    type: 'POST',
                //    url: '/PrdOut/DespatchManage2_S5',
                //    async: false,
                //    data: {
                //        despatch_no: gridData.DESPATCH_ORDER_NO,
                //        item_cd: data.item_cd,
                //        lot_no: data.lot_no
                //    },
                //    success: function (result) {
                //        var comparison;     //box_barcode_no 값이 있는지 확인
                //        data.box_comparison = "N";

                //        if (result.length > 0) {
                //            var json = JSON.parse(result);

                //            for (var i = 0; i < json.length; i++) {         //box_barcode_no 값이 DB에 존재하는 지 확인.
                //                comparison = (data.box_barcode_no == json[i].box_barcode_no ? "Y" : "N");
                //                if (comparison == "Y") {
                //                    data.box_comparison = "Y";
                //                }
                //            }
                            
                //            if (data.box_comparison == "Y") {              //box_comparison값이 true면 data값이 DB에 이미 존재하는 것 -> 해당 내역 수정 or 삭제.
                //                if (data.ck == "Y" || data.ck == true) {              //수량이 바뀐 것만 수정.                                    
                //                    data.gubun = "U3";
                //                    _DM2_LotList.push(data);
                //                } else if (data.ck == "N" || data.ck == false) {      //ck값이 false이면 DB에는 있는데 Grid에는 없다 or 체크해제 된 것 -> 해당 내역을 삭제한다.
                //                    data.gubun = "D3";
                //                    _DM2_LotList.push(data);
                //                }
                //            } else if (data.box_comparison == "N") {       //box_comparison값이 false면 data값이 DB에 존재하지 않는 것 -> 해당 내역 추가.
                //                if (data.ck == "Y" || data.ck == true) {
                //                    data.gubun = "I2";
                //                    _DM2_LotList.push(data);
                //                }
                //            }
                //        }
                //        //품목에 해당하는 내용이 DB에 없다면 새로 추가
                //        else {
                //            if (data.ck == "Y" || data.ck == true) {                                
                //                data.gubun = "I2";
                //                _DM2_LotList.push(data);
                //            }
                //        }

                //    }
                //});
                
            }

            //Lot번호별 출고내역 팩별 insert, udpate, delete할 것인지 판단하여 업데이트할 그리드 데이터 만들어줌
            function DespatchManage2LotDetailUpdate(gridData) {
                _DM2_LotList = new Array();
                DespatchManage2_EditCheck(true);

                if (UtilView.isEmpty(gridData)) return;

                var grid = $("#DespatchManage2MainGrid").dxDataGrid("instance");
                var mainData = getGridRowByKey('DespatchManage2MainGrid', grid.option("focusedRowKey"));

                $.ajax({
                    type: 'POST',
                    url: '/PrdOut/DespatchManage2_S5',
                    async: false,
                    data: {
                        despatch_no: mainData.DESPATCH_ORDER_NO,
                        item_cd: gridData[0].item_cd,
                        lot_no: gridData[0].lot_no
                    },
                    success: function (result) {
                        var json;

                        if (result.length > 0) {
                            json = JSON.parse(result);
                        }

                        var comparison;     //box_barcode_no 값이 있는지 확인
                        for (var i = 0; i < gridData.length; i++) {
                            gridData[i].box_comparison = "N";

                            if (!UtilView.isEmpty(json) && json.length > 0) {

                                $.map(json, function (value, index) {
                                    comparison = (gridData[i].box_barcode_no == value.box_barcode_no ? "Y" : "N");
                                    if (comparison == "Y") {
                                        gridData[i].box_comparison = "Y";
                                        return;
                                    }
                                })

                                if (gridData[i].box_comparison == "Y") {              //box_comparison값이 true면 data값이 DB에 이미 존재하는 것 -> 해당 내역 수정 or 삭제.
                                    if (gridData[i].ck == "Y" || gridData[i].ck == true) {              //수량이 바뀐 것만 수정.
                                        gridData[i].gubun = "U3";
                                        _DM2_LotList.push(gridData[i]);
                                    } else if (gridData[i].ck == "N" || gridData[i].ck == false) {      //ck값이 false이면 DB에는 있는데 Grid에는 없다 or 체크해제 된 것 -> 해당 내역을 삭제한다.
                                        gridData[i].gubun = "D3";
                                        _DM2_LotList.push(gridData[i]);
                                    }
                                } else if (gridData[i].box_comparison == "N") {       //box_comparison값이 false면 data값이 DB에 존재하지 않는 것 -> 해당 내역 추가.
                                    if (gridData[i].ck == "Y" || gridData[i].ck == true) {
                                        gridData[i].gubun = "I2";
                                        _DM2_LotList.push(gridData[i]);
                                    }
                                }
                            } else {
                                if (gridData[i].ck == "Y" || gridData[i].ck == true) {
                                    gridData[i].gubun = "I2";
                                    _DM2_LotList.push(gridData[i]);
                                }
                            }

                        }

                    }
                });

            }
        //#endregion

        //#region 저장, 되돌리기 버튼 비활성화
            function DM2_ToolbarEdit(e) {
                var DM2_toolbarItems = e.toolbarOptions.items;

                $.each(DM2_toolbarItems, function (_, item) {
                    if (item.name == "saveButton") {
                        item.visible = false;
                    }
                });
            }
        //#endregion

        //#region Focus Row 변경 이벤트
        //상단 메인 그리드 -> 하단 그리드
            function DespatchManage2MainGrid_changed() {
                var grid = $("#DespatchManage2MainGrid").dxDataGrid("instance");
                var gridData = getGridRowByKey('DespatchManage2MainGrid', grid.option("focusedRowKey"));

                //#region 하단 좌측(출고전표등록) 데이터 채우기
                $("#DespatchManage2Detail input[name=DM2_despatch_order_no]").val(gridData.DESPATCH_ORDER_NO);
                $("#DespatchManage2Detail input[name=DM2_issue_date]").val(gridData.ISSUE_DATE);
                $("#DespatchManage2Detail input[name=DM2_request_no]").val(gridData.request_no);
                $("#DespatchManage2Detail select[name=DM2_issue_ck_cd]").val(gridData.issue_ck_cd);
                $("#DespatchManage2Detail input[name=DM2_cust_cd]").val(gridData.CUST_CD);
                $("#DespatchManage2Detail input[name=DM2_cust_nm]").val(gridData.CUST_NM);
                $("#DespatchManage2Detail input[name=DM2_cust_ad1]").val(gridData.CUST_AD1);
                $("#DespatchManage2Detail input[name=DM2_pass_cust_cd]").val(gridData.PASS_CUST_CD);
                $("#DespatchManage2Detail input[name=DM2_pass_cust_nm]").val(gridData.PASS_CUST_NM);
                $("#DespatchManage2Detail input[name=DM2_pass_cust_ad1]").val(gridData.PASS_CUST_AD1);

                if (gridData.ISSUE_TRANS_GB === "1") {
                    $("#DespatchManage2Detail input[name=DM2_issue_trans_gb][value='1']").prop("checked", true);
                    $("#DespatchManage2Detail input[name=DM2_issue_trans_cust_cd]").val(gridData.CUST_CD);
                    $("#DespatchManage2Detail input[name=DM2_issue_trans_cust_nm]").val(gridData.CUST_NM);
                    $("#DespatchManage2Detail input[name=DM2_issue_trans_cust_ad1]").val(gridData.CUST_AD1);
                } else if (gridData.ISSUE_TRANS_GB === "2") {
                    $("#DespatchManage2Detail input[name=DM2_issue_trans_gb][value='2']").prop("checked", true);
                    $("#DespatchManage2Detail input[name=DM2_issue_trans_cust_cd]").val(gridData.PASS_CUST_CD);
                    $("#DespatchManage2Detail input[name=DM2_issue_trans_cust_nm]").val(gridData.PASS_CUST_NM);
                    $("#DespatchManage2Detail input[name=DM2_issue_trans_cust_ad1]").val(gridData.PASS_CUST_AD1);
                }

                $("#DespatchManage2Detail input[name=DM2_TaxBillYn][value=" + gridData.TaxBillYn + "]").prop("checked", true);

                //#endregion

                $.ajax({
                    type: 'POST',
                    url: '/PrdOut/DespatchManage2_S4',
                    data: {
                        despatch_no: gridData.DESPATCH_ORDER_NO,
                        item_cd: gridData.ITEM_CD
                    },
                    success: function (result) {
                        if (result.length <= 0) {
                            $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance").option("dataSource", []);
                            return;
                        }

                        if (JSON.parse(result).sessionLoss) {
                            alert("세션이 만료되었습니다.");
                            sessionStorage.clear();
                            location.replace("/Comm/Login");
                        }

                        //하단 중앙 그리드
                        $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                        $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                        $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance").option("focusedRowIndex", 0);
                    }
                });

            }

        //하단 중앙 그리드 -> 하단 우측 그리드
            function DespatchManage2DownMiddleGrid_changed() {

                var grid = $("#DespatchManage2MainGrid").dxDataGrid("instance");
                var gridData = getGridRowByKey('DespatchManage2MainGrid', grid.option("focusedRowKey"));
                var middle = $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance");
                var middleData = getGridRowByKey('DespatchManage2DownMiddleGrid', middle.option("focusedRowKey"));

                if (gridData.issue_ck_cd == "0") {
                    var DM2_despatchGubun = "Edit";
                } else if (gridData.issue_ck_cd == "1" || gridData.issue_ck_cd == "2") {
                    var DM2_despatchGubun = "Finish";
                }

                $.ajax({
                    type: 'POST',
                    url: '/PrdOut/DespatchManage2_GetLotNo2',
                    data: {
                        item_cd: gridData.ITEM_CD,
                        check: DM2_despatchGubun,
                        despatch_no: gridData.DESPATCH_ORDER_NO,
                        lot_no: middleData.LOT_NO,
                        receipt_status: gridData.RECEIPT_STATUS
                    },
                    success: function (result) {
                        if (result.length <= 0) {
                            $("#DespatchManage2DownRightGrid").dxDataGrid("instance").option("dataSource", []);
                            return;
                        }

                        if (JSON.parse(result).sessionLoss) {
                            alert("세션이 만료되었습니다.");
                            sessionStorage.clear();
                            location.replace("/Comm/Login");
                        }

                        $("#DespatchManage2DownRightGrid").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                        $("#DespatchManage2DownRightGrid").dxDataGrid("instance").option("focusedRowIndex", 0);
                        $("#DespatchManage2DownRightGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                    }
                });


            }
        //#endregion

        //#region 상단 출고 지시/확정/완료 이벤트

            //#region 출고 지시
            function DM2_outLead() {
                var grid = $("#DespatchManage2MainGrid").dxDataGrid("instance");
                var DM2_dataArr = grid.getSelectedRowsData();

                //#region 출고 지시 실행조건
                if (DM2_dataArr.length == 0) {      //선택 항목이 없다면
                    alert("선택된 정보가 없습니다.");
                    return;
                }
                for (var x = 0; x < DM2_dataArr.length; x++) {
                    if (DM2_dataArr[x].issue_ck_cd != "1") {      //선택 항목이 출고 확정 상태가 아니라면
                        alert("선택된 정보가 출고확정 상태가 아닙니다.");
                        return;
                    }
                }
                //#endregion

                if (confirm("선택한 정보를 출고지시 시키시겠습니까?") === true) {

                    for (var i = 0; i < DM2_dataArr.length; i++) {

                        if (DM2_dataArr[i].issue_ck_cd == "2") {      //출고완료 상태라면
                            alert("출고 완료된 전표는 출고 지시로 변경 할 수 없습니다.");
                            return;
                        }

                        var data = DM2_dataArr[i];
                        data.despatch_no = DM2_dataArr.DESPATCH_ORDER_NO;
                        data.issue_work_date = DM2_dataArr.ISSUE_DATE;

                        $.ajax({
                            type: 'POST',
                            url: '/PrdOut/DespatchManage2_DespatchOrderOK',
                            data: data,
                            async: false,
                            success: function (result) {

                                //정상적으로 성공한다면
                                if (i+1 === DM2_dataArr.length) {
                                    alert(i+1 + "건 정상적으로 처리되었습니다.");
                                    DM2_dataArr = new Array();
                                    DespatchManage2Search();
                                    $("#DespatchManage2MainGrid").dxDataGrid("instance").deselectAll();
                                }
                            }
                        });

                    }

                } else {        //출고지시 작업을 취소한다면
                    alert("취소되었습니다.");
                    DM2_dataArr = new Array();
                    return;
                }
            }

            //#endregion

            //#region 출고 확정
            function DM2_outConfirm() {
                var grid = $("#DespatchManage2MainGrid").dxDataGrid("instance");
                var middle = $("#DespatchManage2DownMiddleGrid").dxDataGrid("instance");

                var DM2_dataArr = grid.getSelectedRowsData();

                //#region 출고 확정 실행조건
                if (DM2_dataArr.length == 0) {      //선택 항목이 없다면
                    alert("선택된 정보가 없습니다.");
                    return;
                }
                if (DM2_dataArr.length > 1) {       //출고 확정은 한 개씩 처리됨
                    alert("한 개씩 확정 가능합니다.");
                    return;
                }
                if (DM2_dataArr[0].issue_ck_cd != "0") {      //선택 항목이 출고 지시 상태가 아니라면
                    alert("선택된 정보가 출고지시 상태가 아닙니다.");
                    return;
                }

                //제조번호별 출고수량 지정되어야 함.
                for (var e = 0; e < middle.totalCount(); e++) {
                    if (middle.cellValue(e, "ISSUE_QTY") == 0) {
                        alert("제조번호 : " + middle.cellValue(e, "LOT_NO") + "\n출고수량을 지정하지 않은 품목이 있습니다.");
                        return;
                    }
                }
                //#endregion

                if (confirm("선택한 정보를 출고확정 시키시겠습니까?") === true) {

                    if ($("#DespatchManage2DownMiddleGrid").dxDataGrid("instance").totalCount() <= 0) {
                        alert("해당 전표에 품목정보가 설정되어 있지 않습니다.");
                        return;
                    }
                    if (DM2_dataArr[0].issue_ck_cd == "2") {      //출고완료 상태라면
                        alert("출고 완료된 전표는 출고 확정으로 변경 할 수 없습니다.");
                        return;
                    }

                    var data = DM2_dataArr[0];

                    //#region 선택된 제조번호가 있는지 확인
                    $.ajax({
                        type: 'POST',
                        url: '/PrdOut/DespatchManage2_SelectLotNoCheck',
                        data: data,
                        success: function (result) {

                            if (result <= 0) {
                                alert("제조번호/출고수량을 지정하지 않은 품목이 있습니다.");
                                return;
                            }

                            var json = JSON.parse(result);
                            DM2_CheckArr.push(json);

                            for (var i = 0; i < DM2_CheckArr[0].length; i++) {
                                if (DM2_CheckArr[0][i].lot_no == "") {
                                    alert("전표번호 : " + DM2_CheckArr[0][i].despatch_order_no + "\n제조번호/출고수량을 지정하지 않은 품목이 있습니다.");
                                    DM2_CheckArr = new Array();
                                    return;
                                }
                                if (DM2_CheckArr[0][i].issue_qty == 0) {
                                    alert("전표번호 : " + DM2_CheckArr[0][i].despatch_order_no + "\n출고수량을 지정하지 않은 품목이 있습니다.");
                                    DM2_CheckArr = new Array();
                                    return;
                                }
                            }

                            //재고수량과 출고수량 비교
                            StockQtyCheck(data);
                        }
                    });
                    //#endregion

                } else {        //출고확정 작업을 취소한다면
                    alert("취소되었습니다.");
                    DM2_dataArr = new Array();
                    return;
                }
            }

            //재고수량과 출고수량 비교 이벤트
            function StockQtyCheck(data) {

                //결과값 담는 Array 초기화
                DM2_CheckArr = new Array();

                $.ajax({
                    type: 'POST',
                    url: '/PrdOut/DespatchManage2_StockQtyCheck',
                    data: data,
                    success: function (result) {

                        if (result.length <= 0) {
                            alert("제조번호/출고수량을 지정하지 않은 품목이 있습니다.");
                            return;
                        }

                        var json = JSON.parse(result);
                        DM2_CheckArr.push(json);

                        for (var i = 0; i < DM2_CheckArr[0].length; i++) {
                            if (DM2_CheckArr[0][i].stock_qty < DM2_CheckArr[0][i].issue_qty) {
                                alert(DM2_CheckArr[0][i].item_nm + "\n재고수량보다 출고수량이 많습니다.");
                                return;
                            }
                        }

                        //출고확정 이벤트
                        DespatchOk(data);
                    }
                });
            }

            //출고확정 이벤트
            function DespatchOk(data) {

                //결과값 담는 Array 초기화
                DM2_CheckArr = new Array();

                data.despatch_no = data.DESPATCH_ORDER_NO;

                $.ajax({
                    type: 'POST',
                    url: '/PrdOut/DespatchManage2_DespatchOk',
                    data: data,
                    success: function (result) {

                        alert("정상적으로 처리되었습니다.");
                        DM2_dataArr = new Array();
                        DespatchManage2Search();
                        $("#DespatchManage2MainGrid").dxDataGrid("instance").deselectAll();
                    }
                });
            }
            //#endregion

            //#region 출고 완료
            function DM2_outComplete() {
                var grid = $("#DespatchManage2MainGrid").dxDataGrid("instance");
                var DM2_dataArr = grid.getSelectedRowsData();

                //#region 출고 완료 실행조건
                if (DM2_dataArr.length == 0) {      //선택 항목이 없다면
                    alert("선택된 정보가 없습니다.");
                    return;
                }
                for (var x = 0; x < DM2_dataArr.length; x++) {
                    if (DM2_dataArr[x].issue_ck_cd != "1") {      //선택 항목이 출고 확정 상태가 아니라면
                        alert("선택된 정보가 출고확정 상태가 아닙니다.");
                        return;
                    }
                }
                //#endregion

                if (confirm("선택한 정보를 출고 완료 시키시겠습니까?") === true) {

                    for (var i = 0; i < DM2_dataArr.length; i++) {

                        var data = DM2_dataArr[i];

                        //#region 재고수량과 출고수량 비교
                        $.ajax({
                            type: 'POST',
                            url: '/PrdOut/DespatchManage2_StockQtyCheck',
                            data: data,
                            async:false,
                            success: function (result) {

                                if (result.length <= 0) {
                                    alert("제조번호/출고수량을 지정하지 않은 품목이 있습니다.");
                                    return;
                                }

                                var json = JSON.parse(result);
                                DM2_CheckArr = new Array();
                                DM2_CheckArr.push(json);

                                for (var j = 0; j < DM2_CheckArr[0].length; j++) {
                                    if (DM2_CheckArr[0][j].stock_qty < DM2_CheckArr[0][j].issue_qty) {
                                        alert(DM2_CheckArr[0][j].item_nm + "\n재고수량보다 출고수량이 많습니다.");
                                        return;
                                    }
                                }

                            }
                        });
                        //#endregion

                        DespatchOrderSearch(data);

                        if (i+1 === DM2_dataArr.length) {                            
                            alert(i+1 + "건 정상적으로 처리되었습니다.");
                            DM2_dataArr = new Array();
                            DespatchManage2Search();
                            $("#DespatchManage2MainGrid").dxDataGrid("instance").deselectAll();
                        }

                    }

                } else {        //출고확정 작업을 취소한다면
                    alert("취소되었습니다.");
                    DM2_dataArr = new Array();
                    return;
                }
            }

            //필요 param 출력
            function DespatchOrderSearch(data) {
                data.despatch_no = data.DESPATCH_ORDER_NO;

                $.ajax({
                    type: 'POST',
                    url: '/PrdOut/DespatchManage2_DespatchOrderSearch',
                    data: data,
                    async: false,
                    success: function (result) {
                        if (result <= 0) {
                            return;
                        }
                        var json = JSON.parse(result);
                        DM2_EndArr = new Array();
                        DM2_EndArr.push(json);

                        for (var u = 0; u < DM2_EndArr[0].length; u++) {

                            DespatchOrderEnd2(DM2_EndArr[0][u]);
                        }

                    }
                })

            }

            //출고 완료 이벤트
            function DespatchOrderEnd2(data){

                data.despatch_no = data.despatch_order_no;
                data.issue_date = data.ISSUE_DATE;
                data.cust_cd = data.CUST_CD;

                $.ajax({
                    type: 'POST',
                    url: '/PrdOut/DespatchManage2_DespatchOrderEnd2',
                    data: data,
                    async: false,
                    success: function (result) {

                    }
                });
            }

            //#endregion

        //#endregion

        //#region Cell background color 설정
        function DM2_BackgroundColor(cellInfo) {
            if (cellInfo.rowType == "data" && cellInfo.column.dataField === 'issue_ck_cd') {
                if (cellInfo.data.issue_ck_cd === '0') {
                    cellInfo.cellElement.addClass('yellow');
                }
                if (cellInfo.data.issue_ck_cd === '1') {
                    cellInfo.cellElement.addClass('blue');
                }
                if (cellInfo.data.issue_ck_cd === '2') {
                    cellInfo.cellElement.addClass('green');
                }
            }
        }

        function DespatchManage2DownRight_Prepared(e) {
            if (e.rowType == "data") {
                var data = e.data;
                if (data.ck == "Y")
                    e.rowElement[0].style.backgroundColor = '#FFFCCC';
            }
        }
        //#endregion

        //#region Grid Validation 체크        
        //Lot번호별 출고내역 출고수량 validation
        function DM2_LotQtyChk(e) {
            var data = e.data;

            var Chk_stock_qty = data.stock_qty;     //재고량
            var Chk_issue_qty = data.issue_qty;     //출고수량

            var result = Chk_stock_qty >= Chk_issue_qty;

            return result;
        }

        function DM2_LotQtyZeroChk(e) {
            var data = e.data;

            var issue_qty = data.issue_qty;

            var result = issue_qty > 0;

            return result;
        }
        //#endregion

        //#region 프린트
        function DM2_Print1() {

            var grid = $("#DespatchManage2MainGrid").dxDataGrid("instance");
            var gridSelectedData = grid.getSelectedRowsData();

            if (gridSelectedData.length == 0) {
                alert("항목을 선택해주시오.");
                return;
            }

            for (var i = 0; i < gridSelectedData.length; i++)
            {
                var tmpData = gridSelectedData[i];

                if (tmpData.issue_ck_cd === "0")  //출고지시 상태라면
                {
                    alert("출고확정/출고완료 상태에서만 출력이 가능합니다");
                    return;
                }
            }

            for (var i = 0; i < gridSelectedData.length; i++) {

                var tmpData = gridSelectedData[i];

                var report = new ReportHelper();

                report.addParam({
                    objFile: { path: "PrdOut", RptFileName: "TransactionDetail2", RptSeq: i },
                    objSp: { SpName: "SP_DespatchManage2", gubun: "R2", reportParam: "despatch_order_no:" + tmpData.DESPATCH_ORDER_NO + ";pallet_print:" + 'Y' + ";end_date_print:" + 'Y' },
                    objEtcInfo: { subParam: "" },
                    objTblNm: { tblName: "detail,bill" }
                });

                report.preview();
            }
        }

        function DM2_Print2() {

            var grid = $("#DespatchManage2MainGrid").dxDataGrid("instance");
            var gridSelectedData = grid.getSelectedRowsData();

            if (gridSelectedData.length == 0) {
                alert("항목을 선택해주시오.");
                return;
            }

            for (var i = 0; i < gridSelectedData.length; i++) {
                var tmpData = gridSelectedData[i];

                if (tmpData.issue_ck_cd === "0")  //출고지시 상태라면
                {
                    alert("출고확정/출고완료 상태에서만 출력이 가능합니다");
                    return;
                }
            }

            for (var i = 0; i < gridSelectedData.length; i++) {

                var tmpData = gridSelectedData[i];

                var report = new ReportHelper();

                report.addParam({
                    objFile: { path: "PrdOut", RptFileName: "TransactionDetail3", RptSeq: i },
                    objSp: { SpName: "SP_DespatchManage2", gubun: "R2", reportParam: "despatch_order_no:" + tmpData.DESPATCH_ORDER_NO + ";pallet_print:" + 'Y' + ";end_date_print:" + 'Y' },
                    objEtcInfo: { subParam: "" },
                    objTblNm: { tblName: "detail,bill" }
                });

                report.preview();
            }
        }

        //#endregion
</script>

<!--셀 배경색상 설정-->
<style>
    #DespatchManage2 .yellow {
        background-color: yellow;
        color: black;
    }

    #DespatchManage2 .blue {
        background-color: deepskyblue;
        color: black;
    }

    #DespatchManage2 .green {
        background-color: greenyellow;
        color: black;
    }
</style>

<div id="DespatchManage2" autoresize="Y">

    @*<h4 class="divTitle">출고 전표 등록</h4>*@

    <!--#region 팝업div-->
    <div id="DM2_CustPopup"></div>
    <div id="DM2_ItemPopup"></div>
    <!--#endregion-->
    <!--#region 상단 Menu바-->
    <div class="mainTop row">
        <div class="col-8">
            <form id="DespatchManage2_form">
                <div class="input-wrapper">
                    <div class="col-4 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">출고일자</span>
                        </div>
                        <input type="text" class="form-control input-sm datepicker text-center" name="DM2_s_sdate" value="@DateTime.Today.AddMonths(-1).ToShortDateString()" />
                        <label class="p-1">~</label>
                        <input type="text" class="form-control input-sm datepicker text-center" name="DM2_s_edate" value="@DateTime.Today.ToShortDateString()" />
                    </div>
                    <div class="input-group input-group-sm col-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text">거래처</span>
                        </div>
                        <input type="text" class="form-control" name="DM2_s_cust_cd" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="DM2_searchCustPopup()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" name="DM2_s_cust_nm" readonly />
                    </div>

                    <div class="input-group input-group-sm col-3">
                        <button type="button" class="btn btn-secondary" onclick="DM2_Print1()">제품확인증</button>
                        <label class="p-1"></label>
                        <button type="button" class="btn btn-secondary" onclick="DM2_Print2()">제품출고증</button>
                    </div>

                </div>
                <div class="input-wrapper">
                    <div class="input-group input-group-sm col-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text">품목</span>
                        </div>
                        <input type="text" class="form-control" name="DM2_item_cd" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="DM2_searchItemPopup()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" name="DM2_item_nm" readonly />
                    </div>
                    <div class="input-group input-group-sm col-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">상태</span>
                        </div>
                        <select class="form-control" name="s_issue_status">
                            @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "S", "GD402")).Rows)
                            {
                                <option value="@row["keyfield"]">@row["displayfield"]</option>
                            }
                        </select>
                    </div>
                    <div class="input-group input-group-sm col-4">
                        <button type="button" class="btn btn-secondary" onclick="DM2_outLead()">확정 취소</button>
                        <label class="p-1"></label>
                        <button type="button" class="btn btn-secondary" onclick="DM2_outConfirm()">출고 확정</button>
                        <label class="p-1"></label>
                        <button type="button" class="btn btn-secondary" onclick="DM2_outComplete()">출고 완료</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="CRUD-btn col-4">
            @{ Html.SetToolbar(0, true, "Search;Edit;Save;Undo");}
        </div>

    </div>
    <!--#endregion-->
    <!--#region 상단 메인 그리드-->
    <div class="row">
        <div class="col-12 pb-1">
            <div id="DespatchManage2Main" class="box mb-0">
                @(Html.DevExtreme().DataGrid()
                    .ID("DespatchManage2MainGrid")
                    .ShowBorders(true)
                    .SearchPanel(searchPanel => searchPanel.Visible(true))
                    .ShowColumnLines(true)
                    .ShowRowLines(true)
                    .ColumnAutoWidth(true)
                    .AllowColumnResizing(true)
                    .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .HoverStateEnabled(true)
                    .KeyExpr(DM2_gridKey_Main)
                    .Height(500)
                    .OnCellPrepared("DM2_BackgroundColor")
                    .Columns(c =>
                    {
                        c.Add().DataField("ISSUE_DATE").Caption("출고일자").Format("yyyy-MM-dd").DataType(GridColumnDataType.Date);
                        c.Add().DataField("DESPATCH_ORDER_NO").Caption("출고번호");
                        c.Add().DataField("ISSUE_TRANS_CUST_CD").Caption("배송처코드");
                        c.Add().DataField("CUST_NM").Caption("거래처");
                        c.Add().DataField("PASS_CUST_NM").Caption("간납처");
                        c.Add().DataField("Issue_Price").Caption("단가").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("ISSUE_QTY").Caption("지시수량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("Issue_Amt").Caption("금액").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("ITEM_CD").Caption("제품코드");
                        c.Add().DataField("item_nm").Caption("제품명");
                        c.Add().DataField("RECEIPT_STATUS").Caption("출고가능여부").Width(100);
                        c.Add().DataField("release_type").Caption("출고타입");
                        c.Add().DataField("sign_status_nm").Caption("서명상태").Visible(false);
                        c.Add()
                                .Caption("상태")
                                .Lookup(lookup => lookup
                                    .DataSource(d => d.WebApi()
                                        .RouteName("Comm")
                                        .LoadAction("GetCommon")
                                        .LoadMethod("GET")
                                        .LoadParams(new
                                        {
                                            pGubun = "공통코드",
                                            pDiv = "N",
                                            pStrWhere = "GD402",
                                            pTableName = "unit"
                                        }
                                    ).Key("keyfield"))
                                    .ValueExpr("keyfield")
                                    .DisplayExpr("displayfield")
                                    ).DataField("issue_ck_cd")
                                    .DataType(GridColumnDataType.String);
                    })
                    .OnFocusedRowChanged("DespatchManage2MainGrid_changed")
                )
            </div>
        </div>
    </div>
    <!--#endregion-->
    <div class="row">
        <!--#region 하단 좌측(출고전표등록)-->
        <div class="col-3 pr-0">
            <div id="DespatchManage2Detail" class="box mb-0">
                <div class="divName">
                    <p>출고전표등록</p>
                </div>

                <form id="DespatchManage2DownLeft_form">

                    <div class="input-wrapper">
                        <label class="col-3">출고번호<star>*</star></label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control required" name="DM2_despatch_order_no" id="DM2_despatch_order_no" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">출고일자<star>*</star></label>
                        <div class="input-group col-3">
                            <input type="text" class="form-control input-sm datepicker required" name="DM2_issue_date" id="DM2_issue_date" value="@DateTime.Today.ToShortDateString()" />
                        </div>

                        <label class="col-2">상태</label>
                        <div class="input-group col-3">
                            <select class="form-control" name="DM2_issue_ck_cd">
                                @foreach (DataRow row in ((DataTable)Public_Function.GetMaster("공통코드", "N", "GD402")).Rows)
                                {
                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">생산의뢰번호</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="DM2_request_no">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="" onclick="">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">거래처</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="DM2_cust_cd">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="CustBtn" onclick="">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="DM2_cust_nm" readonly="readonly">
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label class="col-3"></label>
                        <div class="input-group col-8">
                            <input type="text" class="form-control" name="DM2_cust_ad1" readonly="readonly">
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">간납처</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="DM2_pass_cust_cd">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="PASS_CustBtn" onclick="">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="DM2_pass_cust_nm" readonly="readonly">
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label class="col-3"></label>
                        <div class="input-group col-8">
                            <input type="text" class="form-control" name="DM2_pass_cust_ad1" readonly="readonly">
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">배송처<star>*</star></label>
                        <div class="input-group col-4">
                            <div class="radioDiv form-control required">
                                <label><input type="radio" name="DM2_issue_trans_gb" value="1" />거래처</label>
                                <label class="p-1"></label>
                                <label><input type="radio" name="DM2_issue_trans_gb" value="2" />간납처</label>
                            </div>
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label class="col-3"></label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="DM2_issue_trans_cust_cd" readonly />
                        </div>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="DM2_issue_trans_cust_nm" readonly />
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label class="col-3"></label>
                        <div class="input-group col-8">
                            <input type="text" class="form-control" name="DM2_issue_trans_cust_ad1" readonly="readonly">
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">세금계산서</label>
                        <div class="input-group col-4" style="text-align:center;">
                            <div class="radioDiv form-control">
                                <label><input type="radio" name="DM2_TaxBillYn" value="Y" />발행</label>
                                <label class="p-1"></label>
                                <label><input type="radio" name="DM2_TaxBillYn" value="N" />미발행</label>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <!--#endregion-->
        <!--#region 하단 중앙(출고전표상세)-->
        <div class="col-5 pl-1 pr-0">
            <div id="DespatchManage2DownMiddle" class="box mb-0">
                <div class="divName">
                    <p>출고전표상세</p>
                </div>

                @(Html.DevExtreme().DataGrid()
                    .ID("DespatchManage2DownMiddleGrid")
                    .ShowBorders(true)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .HoverStateEnabled(true)
                    .ShowColumnLines(true)
                    .ColumnAutoWidth(true)
                    .AllowColumnResizing(true)
                    .KeyExpr("ITEM_ISSUE_ID")
                    .Height(900)
                        //.Editing(editing =>
                        //{
                        //    editing.Mode(GridEditMode.Batch);
                        //    editing.AllowUpdating(false);
                        //})
                    .OnRowUpdated("DespatchManage2DownMiddle_Update")
                    .OnEditorPreparing("DM2_EditableCell")
                    .OnToolbarPreparing("DM2_ToolbarEdit")
                    .Columns(c =>
                    {
                        c.Add().DataField("keeping_status").Caption("보관여부").Width(70).DataType(GridColumnDataType.Boolean)
                            .CalculateCellValue(@"function(rowData) { return (rowData.keeping_status == ""Y"" || rowData.keeping_status == true); }");
                        c.Add().DataField("ITEM_CD").Caption("제품코드");
                        c.Add().DataField("ITEM_NM").Caption("제품명");
                        c.Add().DataField("ITEM_PACK_SIZE").Caption("포장단위");
                        c.Add().DataField("LOT_NO").Caption("제조번호");
                        c.Add().DataField("ISSUE_QTY2").Caption("지시수량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("ISSUE_QTY").Caption("출고수량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("Issue_Price").Caption("단가").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("Issue_Amt").Caption("금액").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("item_s_nm").Caption("약식명");
                    })
                    .Summary(s => s.TotalItems(items =>
                    {
                        /* 출고수량 */
                        items.Add()
                        .Name("SelectedRowsSummary")
                        .Column("ISSUE_QTY")
                                .ShowInColumn("ISSUE_QTY")
                                .ValueFormat("#,##0")
                                .SummaryType(SummaryType.Sum)
                                .DisplayFormat("[{0}]");
                    }))
                    .OnFocusedRowChanged("DespatchManage2DownMiddleGrid_changed")
                    .OnEditingStart("DespatchManage2DownMiddleGrid_focusedEdit")
                )
            </div>
        </div>
        <!--#endregion-->
        <!--#region 하단 우측(Lot번호별 출고내역)-->
        <div class="col-4 pl-1">
            <div id="DespatchManage2DownRight" class="box mb-0">
                <div class="divName">
                    <p>Lot번호별 출고내역</p>
                </div>

                @(Html.DevExtreme().DataGrid()
                    .ID("DespatchManage2DownRightGrid")
                    .ShowBorders(true)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .HoverStateEnabled(true)
                    .ShowColumnLines(true)
                    .ColumnAutoWidth(true)
                    .AllowColumnResizing(true)
                    .KeyExpr("box_barcode_no")
                    .Height(900)
                    .Editing(editing =>
                    {
                        editing.Mode(GridEditMode.Batch);
                        editing.AllowUpdating(false);
                    })
                    .OnRowUpdated("DespatchManage2DownRight_Update")
                    .OnRowPrepared("DespatchManage2DownRight_Prepared")
                    .OnEditorPreparing("DM2_EditableCell_Right")
                    .OnToolbarPreparing("DM2_ToolbarEdit")
                    .Columns(c =>
                    {
                        c.Add().DataField("ck").Caption("선택")
                            .CalculateCellValue(@"function(rowData) { return (rowData.ck == ""Y"" || rowData.ck == true); }");
                        c.Add().DataField("box_barcode_no").Caption("팔레트번호");
                        c.Add().DataField("stock_qty").Caption("재고량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("issue_qty").Caption("출고수량").Format("#,##0").DataType(GridColumnDataType.Number)
                            .ValidationRules(vr =>
                            {
                                vr.AddRequired().Message("출고 수량 정보가 없습니다.\n수량을 입력해주세요.");
                                vr.AddCustom().ValidationCallback("DM2_LotQtyChk").Message("출고지시 수량은 재고량보다 클 수 없습니다.");
                                vr.AddCustom().ValidationCallback("DM2_LotQtyZeroChk").Message("출고수량은 0보다 작거나 같을 수 없습니다.");
                            });
                        c.Add().DataField("box_qty").Caption("지함적재량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add()
                                .Lookup(lookup => lookup
                                    .DataSource(d => d.WebApi()
                                        .RouteName("Comm")
                                        .LoadAction("GetCommon")
                                        .LoadMethod("GET")
                                        .LoadParams(new
                                        {
                                            pGubun = "공통코드",
                                            pDiv = "N",
                                            pStrWhere = "CN001",
                                            pTableName = "unit"
                                        }).Key("keyfield"))
                                        .ValueExpr("keyfield")
                                        .DisplayExpr("displayfield")
                                        )
                                .DataField("CAR_NUMBER").Caption("차량번호");
                        c.Add().DataField("keeping_status").Caption("보관여부").DataType(GridColumnDataType.Boolean)
                            .CalculateCellValue(@"function(rowData) { return (rowData.keeping_status == ""Y"" || rowData.keeping_status == true); }");
                    })
                        .Summary(s => s.TotalItems(items =>
                        {
                            /* 재고량 */
                            items.Add()
                            .Name("SelectedRowsSummary")
                            .Column("stock_qty")
                                    .ShowInColumn("stock_qty")
                                    .ValueFormat("#,##0")
                                    .SummaryType(SummaryType.Sum)
                                    .DisplayFormat("[{0}]");
                            /* 출고수량 */
                            items.Add()
                            .Name("SelectedRowsSummary")
                            .Column("issue_qty")
                                    .ShowInColumn("issue_qty")
                                    .ValueFormat("#,##0")
                                    .SummaryType(SummaryType.Sum)
                                    .DisplayFormat("[{0}]");
                            /* 지함적재량 */
                            items.Add()
                            .Name("SelectedRowsSummary")
                            .Column("box_qty")
                                    .ShowInColumn("box_qty")
                                    .ValueFormat("#,##0")
                                    .SummaryType(SummaryType.Sum)
                                    .DisplayFormat("[{0}]");
                        }))
                )
            </div>
        </div>
        <!--#endregion-->
    </div>
</div>
