@*일탈처리 승인*@
@using System.Data
@using HACCP.Libs
@using HACCP.Libs.Views

@{
    Layout = null;

    var ConfirmDeviationProcessData = @Html.Raw(Json.Encode(ViewBag.ConfirmDeviationProcessData.Data));
    var ConfirmDeviationProcessAuth = @Html.Raw(Json.Encode(ViewBag.ConfirmDeviationProcessAuth.Data));

    var empPopupJson = @Html.Raw(Json.Encode(ViewBag.empPopupData.Data));
}


    <script type="text/javascript" id="ConfirmDeviationProcessJs">
        // SP 구문, gubun 변수
        var toDay = new Date();
        var _CRUDGubun = "";
        var _signType = "";
        var sign_seq = "";


        $(document).ready(function () {
            ConfirmDeviationProcess_contentResize();
            ConfirmDeviationProcessCommonEditCheck(false);

            var sDate = new Date();
            sDate.setMonth(sDate.getMonth() - 1);

            $("#ConfirmDeviationProcessSearchForm #s_start_date").val(getFormatDate(sDate));
            $("#ConfirmDeviationProcessSearchForm #s_end_date").val(getFormatDate(toDay));


            if (@Html.Raw(Json.Encode(ViewBag.ConfirmDeviationProcessData.Data)) != "") {
                $("#ConfirmDeviationProcessGrid").dxDataGrid("instance").option("dataSource", JSON.parse(@ConfirmDeviationProcessData));
                $("#ConfirmDeviationProcessGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                $("#ConfirmDeviationProcessGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

                ConfirmDeviationProcessSelect(JSON.parse(@ConfirmDeviationProcessData)[0]);
            }


            var popupColumns = {
                "employee": [
                    { dataField: "emp_cd", caption: "사원코드" },
                    { dataField: "emp_nm", caption: "사원명" },
                    { dataField: "dept_cd", caption: "부서코드" },
                    { dataField: "dept_nm", caption: "부서명" }
                ]
            };

            createPopup("ConfirmDeviationProcessRequestEmpSearch", "의뢰자 조회", @empPopupJson, popupColumns.employee, "emp_cd");
            createPopup("ConfirmDeviationProcessDespatchChargeEmpSearch", "처리담당자 조회", @empPopupJson, popupColumns.employee, "emp_cd");


            // CRUD체크
            var ConfirmDeviationProcessAuth = JSON.parse(@ConfirmDeviationProcessAuth)[0];
            if (ConfirmDeviationProcessAuth.form_query != "Y") {
                $("#ConfirmDeviationProcessSearch").remove();
            }
            if (ConfirmDeviationProcessAuth.form_insert != "Y") {
                $("#ConfirmDeviationProcessInput").remove();
            }
            if (ConfirmDeviationProcessAuth.form_edit != "Y") {
                $("#ConfirmDeviationProcessEdit").remove();
            }
            if (ConfirmDeviationProcessAuth.form_delete != "Y") {
                $("#ConfirmDeviationProcessDelete").remove();
            }

            $("#ConfirmDeviationProcessExcel").dxButton().parent().parent().addClass("display-none");

            setDatePicker("#ConfirmDeviationProcess .datepicker");

        })

        // #region 버튼 관련
        // 수정, 입력 중인지 체크
        function ConfirmDeviationProcessCommonEditCheck(nowEdit) {

            var tap_no = $("#ConfirmDeviationProcessDownDiv > div").not('.display-none').attr("id").slice(-1);

            if (nowEdit) {
                $("#ConfirmDeviationProcessSave").dxButton().parent().parent().removeClass("display-none");
                $("#ConfirmDeviationProcessUndo").dxButton().parent().parent().removeClass("display-none");
                $("#ConfirmDeviationProcessSearch").dxButton().parent().parent().addClass("display-none");
                $("#ConfirmDeviationProcessInput").dxButton().parent().parent().addClass("display-none");
                $("#ConfirmDeviationProcessEdit").dxButton().parent().parent().addClass("display-none");
                $("#ConfirmDeviationProcessDelete").dxButton().parent().parent().addClass("display-none");
                $("#ConfirmDeviationProcessPrint").dxButton().parent().parent().addClass("display-none");
                $("#ConfirmDeviationProcessPreview").dxButton().parent().parent().addClass("display-none");

                $("#ConfirmDeviationProcessGrid").dxDataGrid("option", "disabled", true);
                $("#ConfirmDeviationProcessRequestGrid").dxDataGrid("option", "disabled", true);
                $("#ConfirmDeviationProcessResultGrid").dxDataGrid("option", "disabled", true);
                $("#ConfirmDeviationProcessRequest2Grid").dxDataGrid("option", "disabled", true);



                //_CRUDGubun = true;
            }
            if (!nowEdit) {
                $("#ConfirmDeviationProcessSave").dxButton().parent().parent().addClass("display-none");
                $("#ConfirmDeviationProcessUndo").dxButton().parent().parent().addClass("display-none");
                $("#ConfirmDeviationProcessPreview").dxButton().parent().parent().addClass("display-none");
                $("#ConfirmDeviationProcessSearch").dxButton().parent().parent().removeClass("display-none");
                $("#ConfirmDeviationProcessEdit").dxButton().parent().parent().removeClass("display-none");
                $("#ConfirmDeviationProcessDelete").dxButton().parent().parent().removeClass("display-none");
                $("#ConfirmDeviationProcessPrint").dxButton().parent().parent().removeClass("display-none");
                $("#ConfirmDeviationProcessPreview").dxButton().parent().parent().removeClass("display-none");

                $("#ConfirmDeviationProcessGrid").dxDataGrid("option", "disabled", false);
                $("#ConfirmDeviationProcessRequestGrid").dxDataGrid("option", "disabled", false);
                $("#ConfirmDeviationProcessResultGrid").dxDataGrid("option", "disabled", false);
                $("#ConfirmDeviationProcessRequest2Grid").dxDataGrid("option", "disabled", false);

                $("#ConfirmDeviationProcessDetailForm :enabled").attr('disabled', true);
                $("#ConfirmDeviationProcessRequest2Form :enabled").attr('disabled', true);

                if (tap_no != "4") {
                    $("#ConfirmDeviationProcessInput").dxButton().parent().parent().addClass("display-none");
                } else {
                    $("#ConfirmDeviationProcessInput").dxButton().parent().parent().removeClass("display-none");
                }

                _CRUDGubun = "";
            }
        }


        // 조회버튼 기능
        function ConfirmDeviationProcessSearch() {

            $("#ConfirmDeviationProcessRightUp #ConfirmDeviationProcessDetailForm")[0].reset();
            $("#ConfirmDeviationProcessDetailForm #deviation_end_date").val("");
            $("#ConfirmDeviationProcessDownDiv_1 #ConfirmDeviationProcessDeviationForm")[0].reset();
            $("#ConfirmDeviationProcessDownDiv_2_Right #ConfirmDeviationProcessRequestForm")[0].reset();
            $("#ConfirmDeviationProcessDownDiv_3_Right #ConfirmDeviationProcessResultForm")[0].reset();
            $("#ConfirmDeviationProcessDownDiv_4_Right #ConfirmDeviationProcessRequest2Form")[0].reset();
            $("#ConfirmDeviationProcessRequest2Form #request_date2").val("")//예방조치 정보 - 의뢰일자
            $("#ConfirmDeviationProcessRequest2Form #despatch_limit2").val("")//예방조치 정보 - 처리기한
            
            gridReset("ConfirmDeviationProcessGrid");
            gridReset("ConfirmDeviationProcessSignGrid");
            gridReset("ConfirmDeviationProcessRequestGrid");
            gridReset("ConfirmDeviationProcessResultGrid");
            gridReset("ConfirmDeviationProcessRequest2Grid");
            gridReset("ConfirmDeviationProcessFileGrid");

            $.ajax({
                type: 'POST',
                url: '/Dep/ConfirmDeviationProcessSearch',
                data: {
                    sDate: $("#ConfirmDeviationProcessSearchForm #s_start_date").val(),
                    eDate: $("#ConfirmDeviationProcessSearchForm #s_end_date").val(),
                    type: $("#ConfirmDeviationProcessSearchForm #s_deviation_type").val(),
                    level: $("#ConfirmDeviationProcessSearchForm #s_deviation_level").val(),
                    status: $("#ConfirmDeviationProcessSearchForm #s_deviation_status").val()
                },
                success: function (result) {
                    if (result <= 0) {
                        ConfirmDeviationProcessCommonEditCheck(false);

                        return;
                    }

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    $("#ConfirmDeviationProcessGrid").dxDataGrid("instance").option("dataSource", json);
                    $("#ConfirmDeviationProcessGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                    $("#ConfirmDeviationProcessGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

                    _CRUDGubun = "";
                    ConfirmDeviationProcessCommonEditCheck(false);
                    ConfirmDeviationProcessSelect(json[0]);
                }
            });
        }


        // 입력버튼 기능
        function ConfirmDeviationProcessInput() {
            ConfirmDeviationProcessCommonEditCheck(true);
            $("#ConfirmDeviationProcessRequest2Form :disabled").attr('disabled', false);
            _CRUDGubun = "I";


            $("#ConfirmDeviationProcessDownDiv_4_Right #ConfirmDeviationProcessRequest2Form")[0].reset();
        }


        // 수정버튼 기능
        function ConfirmDeviationProcessEdit() {
            var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");

            if (grid.totalCount() <= 0) {
                alert("수정할 항목이 없습니다");

                return;
            } else {
                ConfirmDeviationProcessCommonEditCheck(true);
                $("#ConfirmDeviationProcessDetailForm #deviation_end_date").val("@DateTime.Today.ToShortDateString()");
                $("#ConfirmDeviationProcessDetailForm #deviation_status_nm").val("처리완료");


                $("#ConfirmDeviationProcessDetailForm :disabled").attr('disabled', false);
                _CRUDGubun = "U";
            }
        }


        // 취소버튼 기능
        function ConfirmDeviationProcessUndo() {
            if (_CRUDGubun == "I") {
                $("#ConfirmDeviationProcessRequest2Form :enabled").attr('disabled', true);

                ConfirmDeviationProcessRequest2Select({ rowIndex: "0" });
            }
            else if (_CRUDGubun == "U") {
                ConfirmDeviationProcessCommonEditCheck(false);
                $("#ConfirmDeviationProcessDetailForm :enabled").attr('disabled', true);

                ConfirmDeviationProcessSelect({ rowIndex: "0" });
            }

            ConfirmDeviationProcessCommonEditCheck(false);

        }


        // 저장버튼 기능
        function ConfirmDeviationProcessSave() {

            if (_CRUDGubun == "I") {
                $.ajax({
                    type: 'POST',
                    url: '/Dep/ConfirmDeviationProcessResultSave',
                    data: {
                        deviation_no: $("#ConfirmDeviationProcessDetailForm #deviation_no").val(),
                        request_emp_cd: $("#ConfirmDeviationProcessRequest2Form #request_emp_cd2").val(),
                        request_date: $("#ConfirmDeviationProcessRequest2Form #request_date2").val(),
                        request_level: $("#ConfirmDeviationProcessRequest2Form #request_level2").val(),
                        despatch_limit: $("#ConfirmDeviationProcessRequest2Form #despatch_limit2").val(),
                        despatch_charge_emp: $("#ConfirmDeviationProcessRequest2Form #despatch_charge_emp2").val(),
                        request_contents: $("#ConfirmDeviationProcessRequest2Form #request_contents2").val()
                    },
                    success: function (result) {

                        if (result <= 0) {

                            return;
                        }

                        var json = JSON.parse(result)

                        if (json.hasOwnProperty('sessionLoss')) {
                            alert("세션이 만료되었습니다.");
                            sessionStorage.clear();
                            location.replace("/Comm/Login");
                        }

                        if (json.message != "") {
                            alert(json.message);

                            ConfirmDeviationProcessCommonEditCheck(false);
                            ConfirmDeviationProcessRequest2Search($("#ConfirmDeviationProcessDetailForm #deviation_no").val());
                        } else {
                            alert("실패하였습니다.");
                        }
                    }
                })

            }
            else if (_CRUDGubun == "U") {
                var input_arr = $("#ConfirmDeviationProcessDetailForm [required]");

                for (var i = 0; i < input_arr.length; i++) {

                    if (input_arr[i].value.length <= 0) {

                        alert("필수 입력 자료를 모두 입력하십시요!!");

                        return;
                    }
                }
                var data = new FormData($("#ConfirmDeviationProcessRightUp #ConfirmDeviationProcessDetailForm")[0]);

                $.ajax({
                    type: 'POST',
                    url: '/Dep/ConfirmDeviationProcessSave',
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (result) {

                        if (result <= 0) {

                            return;
                        }

                        var json = JSON.parse(result)

                        if (json.hasOwnProperty('sessionLoss')) {
                            alert("세션이 만료되었습니다.");
                            sessionStorage.clear();
                            location.replace("/Comm/Login");
                        }

                        if (json.message != "") {
                            alert(json.message);

                            ConfirmDeviationProcessCommonEditCheck(false);
                            $("#ConfirmDeviationProcessDetailForm :enabled").attr('disabled', true);

                            ConfirmDeviationProcessSearch();

                        } else {
                            alert("실패하였습니다.");
                        }
                    }
                })

            }

        }


        // 삭제버튼 기능
        function ConfirmDeviationProcessDelete() {
            var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");
            var request2Grid = $("#ConfirmDeviationProcessRequest2Grid").dxDataGrid("instance");


            if (grid.totalCount() <= 0 || ($("#ConfirmDeviationProcessDetailForm #deviation_result").val().length <= 0 && request2Grid.totalCount() <= 0)) {
                alert("삭제할 항목이 없습니다");

                return;
            } else {

                var signGrid = $("#ConfirmDeviationProcessSignGrid").dxDataGrid("instance");

                if (signGrid.getDataSource().items()[0].sign_yn == "1" || signGrid.getDataSource().items[1].sign_yn == "1") {
                    alert("서명 정보가 있어 삭제할 수 없습니다");

                    return;
                } else {

                    if (request2Grid.totalCount() > 0) {
                        if (!confirm("등록된 예방조치 사항도 모두 삭제됩니다. \n삭제하시겠습니까?")) {

                            return;
                        }
                    }


                    $.ajax({
                        type: 'POST',
                        url: '/Dep/ConfirmDeviationProcessDelete',
                        data: {
                            deviation_no: $("#ConfirmDeviationProcessDetailForm #deviation_no").val()
                        },
                        success: function (result) {

                            var json = JSON.parse(result)
                            if (json.hasOwnProperty('sessionLoss')) {
                                alert("세션이 만료되었습니다.");
                                sessionStorage.clear();
                                location.replace("/Comm/Login");
                            }

                            if (json.message != "") {
                                alert(json.message);

                                ConfirmDeviationProcessSearch();

                            } else {
                                alert("실패하였습니다.");
                            }
                        }
                    })
                }

            }

        }


        // 프린트버튼 기능
        function ConfirmDeviationProcessPrint() {
            var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");

            if (grid.totalCount() > 0) {
                var data = getGridRowByKey("ConfirmDeviationProcessGrid", grid.option("focusedRowKey"));

                var report = new ReportHelper($(event.target));
                //var report = new ReportHelper();

                report.addParam({
                    objFile: { path: "deviation", RptFileName: "DeviationCompletionReport" },
                    objSp: {
                        SpName: "SP_ConfirmDeviationProcess_Y", gubun: "RPT",
                        reportParam: "deviation_no:" + data.deviation_no
                            + ";table_id:deviation_master"
                    },
                    // objEtcInfo 속성정의
                    //  - viewerNanme => report뷰어명, 기본값: ReportViewer, 별도의 viewer사용시적용(DayOrderWork.cshtml 참조)
                    //  - nCopies     => 프린트할 수량,  기본값:1, 수량지정시 해당수량만큼 프린트함
                    objEtcInfo: { subParam: "", viewerName: "", nCopies: 1 }
                });

                report.run();
            }

        }


        // 엑셀버튼 기능
        function ConfirmDeviationProcessExcel() {

        }

        // #endregion


        // #region 그리드 선택 시
        // 메인 그리드 선택 시
        async function ConfirmDeviationProcessSelect() {
            $("#ConfirmDeviationProcessRightUp #ConfirmDeviationProcessDetailForm")[0].reset();
            ConfirmDeviationProcessUndo();

            var data;
            if (arguments[0].rowIndex == null) {

                data = arguments[0];

            } else {
                var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");

                if (grid.option("focusedRowIndex") >= 0) {

                    data = getGridRowByKey("ConfirmDeviationProcessGrid", grid.option("focusedRowKey"));

                } else {
                    return;
                }
            }


            $("#ConfirmDeviationProcessDetailForm #deviation_result_yn").val(data.deviation_result_yn);
            $("#ConfirmDeviationProcessDetailForm #deviation_result").val(data.deviation_result);
            $("#ConfirmDeviationProcessDetailForm #deviation_end_date").val(data.deviation_end_date);
            $("#ConfirmDeviationProcessDetailForm #deviation_status_nm").val(data.deviation_status_nm);
            $("#ConfirmDeviationProcessDetailForm #deviation_no").val(data.deviation_no);
            $("#ConfirmDeviationProcessDetailForm #deviation_inquiry_contents").val(data.deviation_inquiry_contents);
            $("#ConfirmDeviationProcessDetailForm #deviation_inquiry_cause").val(data.deviation_inquiry_cause);
            $("#ConfirmDeviationProcessDetailForm #deviation_result_remark").val(data.deviation_result_remark);


            // 서명정보 조회
            await ConfirmDeviationProcessSignSearch(data.deviation_no);
            // 예방조치 조회
            await ConfirmDeviationProcessRequest2Search(data.deviation_no);
            // 일탈내용 조회
            await ConfirmDeviationProcessDeviationSearch(data.deviation_no);
            // 중간조치 조회
            await ConfirmDeviationProcessRequestSearch(data.deviation_no);
            // 조사결과 조회
            await ConfirmDeviationProcessResultSearch(data.deviation_no);
            // 첨부파일 조회
            await ConfirmDeviationProcessFileSearch(data.deviation_no);
        }


        // 중간조치 그리드 선택 시
        function ConfirmDeviationProcessRequestSelect() {
            $("#ConfirmDeviationProcessDownDiv_2_Right #ConfirmDeviationProcessRequestForm")[0].reset();

            var data;
            if (arguments[0].rowIndex == null) {

                data = arguments[0];

            } else {
                var grid = $("#ConfirmDeviationProcessRequestGrid").dxDataGrid("instance");

                if (grid.option("focusedRowIndex") >= 0) {

                    data = getGridRowByKey("ConfirmDeviationProcessRequestGrid", grid.option("focusedRowKey"));

                } else {
                    return;
                }
            }


            $("#ConfirmDeviationProcessRequestForm #request_emp_cd").val(data.request_emp_cd);
            $("#ConfirmDeviationProcessRequestForm #request_emp_nm").val(data.request_emp_nm);
            $("#ConfirmDeviationProcessRequestForm #request_date").val(data.request_date);
            $("#ConfirmDeviationProcessRequestForm #request_level").val(data.request_level);
            $("#ConfirmDeviationProcessRequestForm #despatch_charge_emp").val(data.despatch_charge_emp);
            $("#ConfirmDeviationProcessRequestForm #despatch_charge_emp_nm").val(data.despatch_charge_emp_nm);
            $("#ConfirmDeviationProcessRequestForm #despatch_limit").val(data.despatch_limit);
            $("#ConfirmDeviationProcessRequestForm #request_contents").val(data.request_contents);
        }


        // 예방조치 그리드 선택 시
        function ConfirmDeviationProcessRequest2Select() {
            $("#ConfirmDeviationProcessDownDiv_4_Right #ConfirmDeviationProcessRequest2Form")[0].reset();

            var data;
            if (arguments[0].rowIndex == null) {

                data = arguments[0];

            } else {
                var grid = $("#ConfirmDeviationProcessRequest2Grid").dxDataGrid("instance");

                if (grid.option("focusedRowIndex") >= 0) {

                    data = getGridRowByKey("ConfirmDeviationProcessRequest2Grid", grid.option("focusedRowKey"));

                }
            }

            var grid = $("#ConfirmDeviationProcessRequest2Grid").dxDataGrid("instance");

            if (grid.totalCount() > 0) {
                var data = getGridRowByKey("ConfirmDeviationProcessRequest2Grid", grid.option("focusedRowKey"));

                $("#ConfirmDeviationProcessRequest2Form #request_emp_cd2").val(data.request_emp_cd);
                $("#ConfirmDeviationProcessRequest2Form #request_emp_nm2").val(data.request_emp_nm);
                $("#ConfirmDeviationProcessRequest2Form #request_date2").val(data.request_date);
                $("#ConfirmDeviationProcessRequest2Form #request_level2").val(data.request_level);
                $("#ConfirmDeviationProcessRequest2Form #despatch_charge_emp2").val(data.despatch_charge_emp);
                $("#ConfirmDeviationProcessRequest2Form #despatch_charge_emp_nm2").val(data.despatch_charge_emp_nm);
                $("#ConfirmDeviationProcessRequest2Form #despatch_limit2").val(data.despatch_limit);
                $("#ConfirmDeviationProcessRequest2Form #request_contents2").val(data.request_contents);
            }
        }


        // 조사결과 그리드 선택 시
        function ConfirmDeviationProcessResultSelect() {
            $("#ConfirmDeviationProcessDownDiv_3_Right #ConfirmDeviationProcessResultForm")[0].reset();

            var data;
            if (arguments[0].rowIndex == null) {

                data = arguments[0];

            } else {
                var grid = $("#ConfirmDeviationProcessResultGrid").dxDataGrid("instance");

                if (grid.option("focusedRowIndex") >= 0) {

                    data = getGridRowByKey("ConfirmDeviationProcessResultGrid", grid.option("focusedRowKey"));

                }
            }

            $("#ConfirmDeviationProcessResultForm #survey_result").val(data.survey_result);
            $("#ConfirmDeviationProcessResultForm #survey_result_type").val(data.survey_result_type);
            $("#ConfirmDeviationProcessResultForm #survey_cause").val(data.survey_cause);
            $("#ConfirmDeviationProcessResultForm #necessary_work").val(data.necessary_work);
        }

        // #endregion 그리드 선택 시 END


        // #region 예방조치 관련
        // 예방조치 그리드 조회
        function ConfirmDeviationProcessRequest2Search() {
            $("#ConfirmDeviationProcessDownDiv_4_Right #ConfirmDeviationProcessRequest2Form")[0].reset();
            gridReset("ConfirmDeviationProcessRequest2Grid");

            var data;
            if (arguments.length > 0) {

                data = arguments[0];

            } else {
                var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");

                if (grid.totalCount() > 0) {

                    data = getGridRowByKey("ConfirmDeviationProcessGrid", grid.option("focusedRowKey")).deviation_no;

                } else {
                    return;
                }
            }


            $.ajax({
                type: 'POST',
                url: '/Dep/ConfirmDeviationProcessRequest2Search',
                data: {
                    deviation_no: data
                },
                success: function (result) {
                    if (result <= 0) {

                        return;
                    }

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    $("#ConfirmDeviationProcessRequest2Grid").dxDataGrid("instance").option("dataSource", json);
                    $("#ConfirmDeviationProcessRequest2Grid").dxDataGrid("instance").option("focusedRowEnabled", true);
                    $("#ConfirmDeviationProcessRequest2Grid").dxDataGrid("instance").option("focusedRowIndex", 0);

                    ConfirmDeviationProcessRequest2Select(json[0]);
                }
            });
        }

        // #endregion 예방조치 관련 END


        //#region 서명 관련
        // 서명조회
        function ConfirmDeviationProcessSignSearch() {
            gridReset("ConfirmDeviationProcessSignGrid");

            var data;
            if (arguments.length > 0) {
                //console.log("Test");
                //console.log(arguments[0]);
                data = arguments[0];

            } else {
                var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");

                if (grid.option("focusedRowIndex") >= 0) {

                    //console.log("Test2");
                    data = getGridRowByKey("ConfirmDeviationProcessGrid", grid.option("focusedRowKey")).deviation_no;
                    //console.log(getGridRowByKey("ConfirmDeviationProcessGrid", grid.option("focusedRowKey")));
                    //console.log(data);
                } else {
                    return;
                }
            }


            $.ajax({
                type: 'POST',
                url: '/Dep/ConfirmDeviationProcessSignSearch',
                data: {
                    deviation_no: data,
                    sign_set_cd: "5004"
                },
                success: function (result) {

                    if (result <= 0) {

                        return;
                    }

                    var json = JSON.parse(result);
                    //console.log(json);
                    $("#ConfirmDeviationProcessSignGrid").dxDataGrid("option", "dataSource", json);

                }
            });

        }


        function ConfirmDeviationProcess_SignCheck(e) {
            if (e.data.sign_set_dt_seq == "1") {
                ConfirmDeviationProcessMSignCheck(e.data);
            } else if (e.data.sign_set_dt_seq == "2") {
                ConfirmDeviationProcessQSignCheck(e.data);
            }
        }


        // 서명 확인
        function ConfirmDeviationProcessMSignCheck(_data) {
            _signType = "M";
            sign_seq = "1";

            var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");

            if (grid.totalCount() <= 0) {
                alert("서명할 대상이 없습니다")

                return;
            }

            if (_data.sign_yn == "1") {
                alert("이미 서명이 되어있습니다");

                return;
            }

            if (_CRUDGubun == "I" || _CRUDGubun == "U") {
                alert("수정 중에는 서명을 할 수 없습니다");

                return;
            }

            var data = getGridRowByKey("ConfirmDeviationProcessGrid", grid.option("focusedRowKey"));
            if (data.deviation_status != "5") {
                alert("조사가 완료되지 않아 서명을 할 수 없습니다");

                return;
            }


            $.ajax({
                type: 'POST',
                url: '/Dep/RequestCheck',
                data: {
                    deviation_no: $("#ConfirmDeviationProcessDetailForm #deviation_no").val()
                },
                success: function (result) {

                    if (result <= 0) {

                        return;
                    }

                    var json = JSON.parse(result);

                    if (parseInt(json.message) > 0) {

                        alert("처리되지 않은 중간조치가 존재합니다");

                        return;

                    } else {

                        var popup = $("#ConfirmDeviationProcessSignPopup").dxPopup("instance");
                        popup.option("contentTemplate", $("#ConfirmDeviationProcessSignPopupTemplate"));
                        popup.show();
                    }
                }
            });


        }



        // 서명 확인
        function ConfirmDeviationProcessQSignCheck(_data) {
            _signType = "Q";
            sign_seq = "2";

            if (_data.prev_sign_yn == "0") {

                alert("담당자의 서명이 필요합니다");

                return;

            } else {
                if (_data.sign_yn == "1") {

                    alert("이미 서명이 되어있습니다");

                    return;

                }

                if (_CRUDGubun == "I" || _CRUDGubun == "U") {

                    alert("수정 중에는 서명을 할 수 없습니다");

                    return;

                }

                var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");
                var data = getGridRowByKey("ConfirmDeviationProcessGrid", grid.option("focusedRowKey"));

                if (data.deviation_result_yn == null || data.deviation_result == null || data.deviation_end_date == null) {

                    alert("필수 입력 자료를 모두 입력하십시요!!");

                    return;

                }

                var popup = $("#ConfirmDeviationProcessSignPopup").dxPopup("instance");
                popup.option("contentTemplate", $("#ConfirmDeviationProcessSignPopupTemplate"));
                popup.show();
            }

        }


        async function ConfirmDeviationProcessSignSubmit() {
            var data = new FormData($('#ConfirmDeviationProcessSignForm')[0]);
            data.set("gubun", "S");
            data.set("txt_ID", $("#ConfirmDeviationProcessSignForm input[name='txt_ID']").val());
            data.set("txt_Pass", $("#ConfirmDeviationProcessSignForm input[name='txt_Pass']").val());


            if (!await ConfirmDeviationProcessValidationCheck(data)) {
                alert("권한이 없는 사용자이거나 잘못된 ID,PW 입니다.");

                ConfirmDeviationProcessCommonEditCheck(false);

                var popup = $("#ConfirmDeviationProcessSignPopup").dxPopup("instance");
                popup.hide();

                return;
            }

            if (!await ConfirmDeviationProcessAuthorityCheck($("input[name='emp_cd']").val())) {
                alert("권한이 없는 사용자이거나 잘못된 ID,PW 입니다.");

                var popup = $("#ConfirmDeviationProcessSignPopup").dxPopup("instance");
                popup.hide();

                return;
            }

            await ConfirmDeviationProcessExecuteSign();

        }


        function ConfirmDeviationProcessValidationCheck(data) {
            var check = false;

            $.ajax({
                type: 'POST',
                url: '/Comm/IDValidation',
                data: data,
                contentType: false,
                processData: false,
                async: false,
                success: function (result) {

                    if (result) {
                        $("input[name='dept_nm']").val(JSON.parse(result)[0].dept_nm);
                        $("input[name='emp_nm']").val(JSON.parse(result)[0].emp_nm);
                        $("input[name='emp_cd']").val(JSON.parse(result)[0].emp_cd);

                        check = true;
                    }

                }
            });

            return check;
        }


        function ConfirmDeviationProcessAuthorityCheck(emp_cd) {
            var check = false;

            $.ajax({
                type: 'GET',
                url: '/Comm/AuthorityCheck',
                data: {
                    emp_cd: emp_cd,
                    sign_set_cd: "5004",
                    sign_set_seq: sign_seq
                },
                async: false,
                success: function (result) {

                    if (result) {
                        sign_set_seq = "";

                        check = true;
                    }
                }
            });

            return check;
        }


        function ConfirmDeviationProcessExecuteSign() {

            var signType = _signType;
            _signType = "";

            setTimeout(function () {

                $.ajax({
                    type: 'POST',
                    url: '/Dep/ConfirmDeviationProcessSignSave',
                    data: {
                        deviation_no: $("#ConfirmDeviationProcessDetailForm #deviation_no").val(),
                        emp_cd: $("input[name='emp_cd']").val(),
                        type: signType
                    },
                    success: function (result) {

                        var json = JSON.parse(result);

                        if (json.hasOwnProperty('sessionLoss')) {
                            alert("세션이 만료되었습니다.");
                            sessionStorage.clear();
                            location.replace("/Comm/Login");
                        }

                        if (json.message != "") {
                            alert(json.message);

                            if (signType == "M") {
                                ConfirmDeviationProcessSignSearch($("#ConfirmDeviationProcessDetailForm #deviation_no").val(), signType);
                            }
                            else {
                                ConfirmDeviationProcessSearch();
                            }



                        } else {
                            alert("실패하였습니다.");
                        }

                    }
                });

                var popup = $("#ConfirmDeviationProcessSignPopup").dxPopup("instance");
                popup.hide();
            }, 1000);
        }


        function clearSignInput() {
            $('#ConfirmDeviationProcessSignForm')[0].reset();
            $("input[name='dept_nm']").val("");
            $("input[name='emp_nm']").val("");
        }

        // #endregion


        // #region 팝업 관련
        // 입력용 의뢰자 팝업 띄우기
        function ConfirmDeviationProcessRequestEmpSearch() {
            $("#ConfirmDeviationProcess #ConfirmDeviationProcessRequestEmpSearchPopup").dxPopup("instance").show();
        }


        // 입력용 의뢰자 팝업 로우 더블클릭
        function ConfirmDeviationProcessRequestEmpSearchRowDblClick(selectedItems) {
            $("#ConfirmDeviationProcessRequest2Form #request_emp_cd2").val(selectedItems.data.emp_cd);
            $("#ConfirmDeviationProcessRequest2Form #request_emp_nm2").val(selectedItems.data.emp_nm);

            var popup = $("#ConfirmDeviationProcess #ConfirmDeviationProcessRequestEmpSearchPopup").dxPopup("instance");

            popup.hide();
        }


        // 입력용 의뢰자 팝업 띄우기
        function ConfirmDeviationProcessDespatchChargeEmpSearch() {
            $("#ConfirmDeviationProcess #ConfirmDeviationProcessDespatchChargeEmpSearchPopup").dxPopup("instance").show();
        }


        // 입력용 의뢰자 팝업 로우 더블클릭
        function ConfirmDeviationProcessDespatchChargeEmpSearchRowDblClick(selectedItems) {
            $("#ConfirmDeviationProcessRequest2Form #despatch_charge_emp2").val(selectedItems.data.emp_cd);
            $("#ConfirmDeviationProcessRequest2Form #despatch_charge_emp_nm2").val(selectedItems.data.emp_nm);

            var popup = $("#ConfirmDeviationProcess #ConfirmDeviationProcessDespatchChargeEmpSearchPopup").dxPopup("instance");

            popup.hide();
        }

        // #endregion


        // 일탈내용 조회
        function ConfirmDeviationProcessDeviationSearch() {
            $("#ConfirmDeviationProcessDownDiv_1 #ConfirmDeviationProcessDeviationForm")[0].reset();

            var data;
            if (arguments.length > 0) {

                data = arguments[0];

            } else {
                var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");

                if (grid.totalCount() > 0) {

                    data = getGridRowByKey("ConfirmDeviationProcessGrid", grid.option("focusedRowKey")).deviation_no;

                } else {
                    return;
                }
            }


            $.ajax({
                type: 'POST',
                url: '/Dep/ConfirmDeviationProcessDeviationSearch',
                data: {
                    deviation_no: data
                },
                success: function (result) {
                    if (result <= 0) {

                        return;
                    }

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    $("#ConfirmDeviationProcessDeviationForm #deviation_contents").val(json[0].deviation_contents);
                    $("#ConfirmDeviationProcessDeviationForm #detect_method").val(json[0].detect_method);
                    $("#ConfirmDeviationProcessDeviationForm #deviation_doc").val(json[0].deviation_doc);
                    $("#ConfirmDeviationProcessDeviationForm #deviation_ref_no").val(json[0].deviation_ref_no);
                    $("#ConfirmDeviationProcessDeviationForm #deviation_ref_item_nm").val(json[0].deviation_ref_item_nm);
                    $("#ConfirmDeviationProcessDeviationForm #deviation_ref_test_item_nm").val(json[0].deviation_ref_test_item_nm);
                    $("#ConfirmDeviationProcessDeviationForm #deviation_ref_equip_nm").val(json[0].deviation_ref_equip_nm);

                    if (json[0].deviation_type == "1") {
                        $("#ConfirmDeviationProcessDeviationForm #type_h").prop("checked", false);
                        $("#ConfirmDeviationProcessDeviationForm #type_l").prop("checked", true);
                    } else {
                        $("#ConfirmDeviationProcessDeviationForm #type_h").prop("checked", true);
                        $("#ConfirmDeviationProcessDeviationForm #type_l").prop("checked", false);
                    }
                }
            });
        }


        // 중간조치 조회
        function ConfirmDeviationProcessRequestSearch() {
            gridReset("ConfirmDeviationProcessRequestGrid");

            var data;
            if (arguments.length > 0) {

                data = arguments[0];

            } else {
                var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");

                if (grid.totalCount() > 0) {

                    data = getGridRowByKey("ConfirmDeviationProcessGrid", grid.option("focusedRowKey")).deviation_no;

                } else {
                    return;
                }
            }

            $.ajax({
                type: 'POST',
                url: '/Dep/ConfirmDeviationProcessRequestSearch',
                data: {
                    deviation_no: data
                },
                success: function (result) {
                    if (result <= 0) {

                        return;
                    }

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    $("#ConfirmDeviationProcessRequestGrid").dxDataGrid("instance").option("dataSource", json);
                    $("#ConfirmDeviationProcessRequestGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                    $("#ConfirmDeviationProcessRequestGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

                    ConfirmDeviationProcessRequestSelect(json[0]);
                }
            });
        }


        // 조사결과 조회
        function ConfirmDeviationProcessResultSearch() {
            gridReset("ConfirmDeviationProcessResultGrid");

            var data;
            if (arguments.length > 0) {

                data = arguments[0];

            } else {
                var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");

                if (grid.totalCount() > 0) {

                    data = getGridRowByKey("ConfirmDeviationProcessGrid", grid.option("focusedRowKey")).deviation_no;

                } else {
                    return;
                }

            }


            $.ajax({
                type: 'POST',
                url: '/Dep/ConfirmDeviationProcessResultSearch',
                data: {
                    deviation_no: data
                },
                success: function (result) {
                    if (result <= 0) {
                        return;
                    }



                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    $("#ConfirmDeviationProcessResultGrid").dxDataGrid("instance").option("dataSource", json);
                    $("#ConfirmDeviationProcessResultGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                    $("#ConfirmDeviationProcessResultGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

                    ConfirmDeviationProcessResultSelect(json[0]);
                }
            });
        }


        // 첨부파일 조회
        function ConfirmDeviationProcessFileSearch() {
            gridReset("ConfirmDeviationProcessFileGrid");

            var data;
            if (arguments.length > 0) {

                data = arguments[0];

            } else {
                var grid = $("#ConfirmDeviationProcessGrid").dxDataGrid("instance");

                if (grid.totalCount() > 0) {

                    data = getGridRowByKey("ConfirmDeviationProcessGrid", grid.option("focusedRowKey")).deviation_no;

                } else {
                    return;
                }
            }


            $.ajax({
                type: 'POST',
                url: '/Dep/ConfirmDeviationProcessFileSearch',
                data: {
                    deviation_no: data
                },
                success: function (result) {
                    if (result <= 0) {

                        return;
                    }

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    $("#ConfirmDeviationProcessFileGrid").dxDataGrid("instance").option("dataSource", json);
                    $("#ConfirmDeviationProcessFileGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
                    $("#ConfirmDeviationProcessFileGrid").dxDataGrid("instance").option("focusedRowIndex", 0);

                }
            })
        }


        function ConfirmDeviationProcessFileOpen() {
            var fileGrid = $("#ConfirmDeviationProcessFileGrid").dxDataGrid("instance");

            if (fileGrid.totalCount() <= 0) {
                alert("첨부된 문서가 없습니다.")

                return;
            }

            var fileData = getGridRowByKey("ConfirmDeviationProcessFileGrid", fileGrid.option("focusedRowKey"));

            if (fileData.doc_file_id != "") {
                document.location.assign('/Dep/ConfirmDeviationProcessFileOpen?doc_file_id=' + fileData.doc_file_id);
            }
        }

        /* 수정 history
        *
        * 순번 수정자  수정내용                                                                       수정일자
        * ------------------------------------------------------------------------------------------------------
        * 1.   박가희  focusedRowIndex를 0으로 주게되면,                                              2020.12.16
        *              데이터가 없을 경우에도 포커스 데이터가 남아있어서 해당 로직은 사용하지 않음으로 변경
        */
        function gridReset(gridName) {

            $("#" + gridName).dxDataGrid("instance").option("dataSource", []);
            //$("#" + gridName).dxDataGrid("instance").option("focusedRowIndex", 0);
            $("#" + gridName).dxDataGrid("instance").option("focusedRowEnabled", false);
            $("#" + gridName).dxDataGrid("instance").option("focusedRowKey", "");
        }


        function getFormatDate(date) {
            var year = date.getFullYear();              //yyyy
            var month = (1 + date.getMonth());          //M
            month = month >= 10 ? month : '0' + month;  //month 두자리로 저장
            var day = date.getDate();                   //d
            day = day >= 10 ? day : '0' + day;          //day 두자리로 저장
            return year + '-' + month + '-' + day;       //'-' 추가하여 yyyy-mm-dd 형태 생성 가능
        }


        function ConfirmDeviationProcess_contentResize() {
            var topPoint = document.getElementById("ConfirmDeviationProcess_Top").getBoundingClientRect().bottom;
            var content_max_height = window.innerHeight - (topPoint + 1) - 421

            document.getElementById("ConfirmDeviationProcessGrid").style.height = content_max_height + "px";
        }

    </script>

<style>

    ul.nav.nav-tabs.box {
        box-shadow: none;
    }

    div.col-12 > ul.nav.nav-tabs.box.mb-0 {
        height: 35px;
    }


    #ConfirmDeviationProcess div[id$="radio_div"] {
        border: 1px solid #ced4da;
        background-color: #e9ecef;
        border-radius: 0.15rem;
        opacity: 1;
        height: 23px;
        padding-top: 2px;
    }

        #ConfirmDeviationProcess div[id$="radio_div"] div {
            padding-top: 2px;
        }
</style>


<div id="ConfirmDeviationProcess">

    <div id="ConfirmDeviationProcessRequestEmpSearchPopup"></div>
    <div id="ConfirmDeviationProcessDespatchChargeEmpSearchPopup"></div>


    @* === 전자 서명 팝업 === *@
    @(Html.DevExtreme().Popup()
            .ID("ConfirmDeviationProcessSignPopup")
            .Width(500)
            .Height(420)
            .ShowTitle(true)
            .Title("작업자 인증")
            .OnHidden("clearSignInput")
            .Visible(false)
            .DragEnabled(true)
            .CloseOnOutsideClick(false)
        )

    @using (Html.DevExtreme().NamedTemplate("ConfirmDeviationProcessSignPopupTemplate"))
    {
        <h6>전자서명은 수기서명과 동일한 효력을 갖습니다.</h6>

        <form id="ConfirmDeviationProcessSignForm">

            <div class="input-wrapper">
                <label class="col-3">아이디</label>
                <input type="text" class="col-8 form-control" name="txt_ID">

                <label class="col-3">비밀번호</label>
                <input type="password" class="col-8 form-control" name="txt_Pass">
            </div>

        </form>
        <div class="align-content-end">
            <button class="btn btn-outline-secondary" onclick="ConfirmDeviationProcessSignSubmit()">확인</button>
        </div>

        <br />
        <hr />

        <label class="col-3">부서</label>
        <input type="text" class="col-8 form-control" name="dept_nm" readonly="readonly" />
        <label class="col-3">성명</label>
        <input type="text" class="col-8 form-control" name="emp_nm" readonly="readonly" />
        <input type="hidden" name="emp_cd" />
    }

    <div id="ConfirmDeviationProcess_Top" class="mainTop row">
        <div class="col-8">
            <form id="ConfirmDeviationProcessSearchForm">
                <div class="input-wrapper">
                    <div class="input-group input-group-sm col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">시행일자</span>
                        </div>
                        <input type="text" class="form-control col-5 datepicker" name="s_start_date" id="s_start_date" value="@DateTime.Today.AddMonths(-1).ToShortDateString()" />
                        <label class="p-1">~</label>
                        <input type="text" class="form-control col-5 datepicker" name="s_end_date" id="s_end_date" value="@DateTime.Today.ToShortDateString()" />
                    </div>

                    <div class="input-group input-group-sm col-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">일탈타입</span>
                        </div>
                        <select class="form-control col-10" name="s_deviation_type" id="s_deviation_type">
                            @foreach (DataRow row in ((DataTable)ViewBag.deviation_type_s).Rows)
                            {
                                <option value="@row["keyfield"]">@row["displayfield"]</option>
                            }
                        </select>
                    </div>

                    <div class="input-group input-group-sm col-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">심각도</span>
                        </div>
                        <select class="form-control col-10" name="s_deviation_level" id="s_deviation_level">
                            @foreach (DataRow row in ((DataTable)ViewBag.deviation_level_s).Rows)
                            {
                                <option value="@row["keyfield"]">@row["displayfield"]</option>
                            }
                        </select>
                    </div>

                    <div class="input-group input-group-sm col-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">진행상태</span>
                        </div>
                        <select class="form-control col-10" name="s_deviation_status" id="s_deviation_status">
                            @foreach (DataRow row in ((DataTable)ViewBag.deviation_status_s).Rows)
                            {
                                <option value="@row["keyfield"]">@row["displayfield"]</option>
                            }
                        </select>
                    </div>

                </div>
            </form>
        </div>

        <div class="CRUD-btn col-4">
            @* === CRUD 버튼 === *@
            @{Html.SetToolbar(0, true, "*"); }

        </div>

    </div>

    <div class="row">
        <!-- 왼쪽 위 Div -->
        <div id="ConfirmDeviationProcessLeftUp" class="col-8 pb-1 pr-0">
            <div class="box mb-0">
                @(Html.DevExtreme().DataGrid()
                        .ID("ConfirmDeviationProcessGrid")
                        .ShowBorders(true)
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                        .Height(450)
                        .ShowColumnLines(true)
                        .HoverStateEnabled(true)
                        .ColumnAutoWidth(true)
                        .SearchPanel(s => s.Visible(true))
                        .KeyExpr("row_num")
                        .Columns(c =>
                        {
                            c.Add().DataField("deviation_no").Caption("일탈번호");
                            c.Add().DataField("deviation_confirm_date").Caption("시행일자");
                            c.Add().DataField("deviation_contents").Caption("일탈내용").Width("50%");
                            c.Add().DataField("deviation_status_nm").Caption("진행상태");

                            c.Add().DataField("deviation_status").Visible(false);
                            c.Add().DataField("deviation_result_yn").Visible(false);
                            c.Add().DataField("deviation_result_yn_nm").Visible(false);
                            c.Add().DataField("deviation_result").Visible(false);
                            c.Add().DataField("deviation_end_date").Visible(false);
                        })
                        .OnFocusedRowChanged("ConfirmDeviationProcessSelect")
                    )
            </div>
        </div>


        <!-- 오른쪽 위 Div -->
        <div id="ConfirmDeviationProcessRightUp" class="col-4 pb-1">
            <div class="box mb-0">
                <form id="ConfirmDeviationProcessDetailForm" class="margin-bottom">
                    <div class="divName margin-bottom">
                        <p>일탈처리 정보</p>
                    </div>

                    <input type="hidden" id="deviation_no" name="deviation_no" />

                    <div class="input-wrapper">
                        <label class="col-3">처리 결과<star>*</star></label>
                        <div class="input-group col-4">
                            <select class="form-control required" name="deviation_result_yn" id="deviation_result_yn" disabled required>
                                @foreach (DataRow row in ((DataTable)ViewBag.deviation_result_yn_d).Rows)
                                {
                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">일탈 발생내용</label>
                        <div class="input-group col-8">
                            <textarea class="form-control" name="deviation_inquiry_contents" id="deviation_inquiry_contents" cols="100" rows="5" style="height: 49px; resize: vertical;" required />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">일탈 원인분석</label>
                        <div class="input-group col-8">
                            <textarea class="form-control" name="deviation_inquiry_cause" id="deviation_inquiry_cause" cols="100" rows="5" style="height: 49px; resize: vertical;" required />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">결론 및 의견<star>*</star></label>
                        <div class="input-group col-8">
                            <textarea class="form-control required" name="deviation_result" id="deviation_result" cols="100" rows="5" style="height: 49px; resize: vertical;" required />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">특이사항</label>
                        <div class="input-group col-8">
                            <textarea class="form-control" name="deviation_result_remark" id="deviation_result_remark" cols="100" rows="5" style="height: 48px; resize: vertical;" required />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">완료 일자<star>*</star></label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control datepicker required" name="deviation_end_date" id="deviation_end_date" value="@DateTime.Today.ToShortDateString()" disabled required />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">진행 상태</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="deviation_status_nm" id="deviation_status_nm" readonly>
                        </div>
                    </div>
                </form>

                <div class="divName mb-0">
                    <p>계획 승인</p>
                </div>
                <div id="ConfirmDeviationProcessSignDiv">
                    <div>
                        @(Html.DevExtreme().DataGrid()
                                .ID("ConfirmDeviationProcessSignGrid")
                                .ShowBorders(true)
                                .Selection(s => s.Mode(SelectionMode.Single))
                                .HoverStateEnabled(true)
                                .Scrolling( scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                                .FocusedRowEnabled(true)
                                .Height(85)
                                .OnCellClick("ConfirmDeviationProcess_SignCheck")
                                .KeyExpr("sign_set_dt_id")
                                .Columns(columns =>
                                {
                                    columns.Add().DataField("displayfield").Caption("구분");
                                    columns.Add().DataField("sign_emp_nm").Caption("서명자");
                                    columns.Add().DataField("sign_time").Width(185).Caption("서명일자");
                                    columns.Add().DataField("sign_image").Caption("서명")
                                    .AllowFiltering(false)
                                    .AllowSorting(false)
                                    .CellTemplate(@<text>
                                            <div>
                                                <img src="<%- value %>" alt="" style="width:80px; height:25px;"/>
                                            </div>
                                        </text>);
                                })
                            )
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div id="ConfirmDeviationProcessDown" class="col-12">
            <ul class="nav nav-tabs box mb-0" id="ConfirmDeviationProcessDownDiv">
                <li class="nav-item">
                    <a class="nav-link active" onclick="menutab('ConfirmDeviationProcessDownDiv', 'ConfirmDeviationProcessDownDiv', 1); ConfirmDeviationProcessUndo(); ConfirmDeviationProcessDeviationSearch();">일탈내용</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="menutab('ConfirmDeviationProcessDownDiv', 'ConfirmDeviationProcessDownDiv', 2); ConfirmDeviationProcessUndo(); ConfirmDeviationProcessRequestSearch();">중간조치</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="menutab('ConfirmDeviationProcessDownDiv', 'ConfirmDeviationProcessDownDiv', 3); ConfirmDeviationProcessUndo(); ConfirmDeviationProcessResultSearch();">조사결과</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="menutab('ConfirmDeviationProcessDownDiv', 'ConfirmDeviationProcessDownDiv', 4); ConfirmDeviationProcessUndo(); ConfirmDeviationProcessRequest2Search();">예방조치</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="menutab('ConfirmDeviationProcessDownDiv', 'ConfirmDeviationProcessDownDiv', 5); ConfirmDeviationProcessUndo(); ConfirmDeviationProcessFileSearch(); ">첨부파일</a>
                </li>
            </ul>

            <div id="ConfirmDeviationProcessDownDiv">
                <div id="ConfirmDeviationProcessDownDiv_1" class="box p-1 mb-0" style="min-height: 362px;">
                    <form id="ConfirmDeviationProcessDeviationForm">
                        <div class="input-wrapper">
                            <label class="col-1">일탈 내용</label>
                            <div class="input-group col-4">
                                <textarea class="form-control" name="deviation_contents" id="deviation_contents" cols="100" rows="5" style="height: 100px; resize: vertical;" readonly />
                            </div>

                            <label class="col-1">발견 방법</label>
                            <div class="input-group col-4">
                                <textarea class="form-control" name="detect_method" id="detect_method" cols="100" rows="5" style="height: 100px; resize: vertical;" readonly />
                            </div>
                        </div>

                        <div class="input-wrapper">
                            <label class="col-1">일탈 문서</label>
                            <div class="input-group col-4">
                                <input type="text" class="form-control" name="deviation_doc" id="deviation_doc" readonly />
                            </div>

                            <label class="col-1">일탈 타입</label>
                            <div id="deviation_radio_div" class="input-group col-4">
                                <div class="col-2">
                                    <input type="radio" name="deviation_type" id="type_h" disabled>
                                    <span for="deviation_type">복잡</span>
                                </div>

                                <div class="col-2">
                                    <input type="radio" name="deviation_type" id="type_l" disabled>
                                    <span for="deviation_type">단순</span>
                                </div>
                            </div>
                        </div>

                        <div class="input-wrapper">
                            <label class="col-1">관련 번호</label>
                            <div class="input-group col-4">
                                <input type="text" class="form-control" name="deviation_ref_no" id="deviation_ref_no" readonly />
                            </div>
                            <label class="col-1">관련 제품</label>
                            <div class="input-group col-4">
                                <input type="text" class="form-control" name="deviation_ref_item_nm" id="deviation_ref_item_nm" readonly />
                            </div>
                        </div>

                        <div class="input-wrapper">
                            <label class="col-1">관련 항목</label>
                            <div class="input-group col-4">
                                <input type="text" class="form-control" name="deviation_ref_test_item_nm" id="deviation_ref_test_item_nm" readonly />
                            </div>
                            <label class="col-1">관련 장치</label>
                            <div class="input-group col-4">
                                <input type="text" class="form-control" name="deviation_ref_equip_nm" id="deviation_ref_equip_nm" readonly />
                            </div>
                        </div>
                    </form>
                </div>


                <div class="display-none" id="ConfirmDeviationProcessDownDiv_2">
                    <div class="row">
                        <div id="ConfirmDeviationProcessDownDiv_2_Left" class="col-8 pr-0">
                            <div class="box mb-0">
                                @(Html.DevExtreme().DataGrid()
                                .ID("ConfirmDeviationProcessRequestGrid")
                                .ShowBorders(true)
                                .Selection(s => s.Mode(SelectionMode.Single))
                                .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                                .Height(360)
                                .ShowColumnLines(true)
                                .HoverStateEnabled(true)
                                .ColumnAutoWidth(true)
                                .KeyExpr("row_num")
                                .Columns(c =>
                                {
                                    c.Add().DataField("request_date").Caption("의뢰일자");
                                    c.Add().DataField("request_contents").Caption("필요작업");
                                    c.Add().DataField("request_level_nm").Caption("의뢰종류");
                                    c.Add().DataField("despatch_limit").Caption("처리기한");
                                    c.Add().DataField("despatch_charge_emp_nm").Caption("처리담당자");
                                    c.Add().DataField("deviation_capa_status").Caption("진행상태");

                                    c.Add().DataField("request_level").Visible(false);
                                    c.Add().DataField("despatch_charge_emp").Visible(false);
                                    c.Add().DataField("request_emp_cd").Visible(false);
                                    c.Add().DataField("request_emp_nm").Visible(false);
                                })
                                .OnFocusedRowChanged("ConfirmDeviationProcessRequestSelect")
                            )
                            </div>
                        </div>

                        <div id="ConfirmDeviationProcessDownDiv_2_Right" class="col-4">
                            <div class="box mb-0">
                                <form id="ConfirmDeviationProcessRequestForm">
                                    <div class="divName margin-bottom">
                                        <p>중간조치 정보</p>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">의뢰자</label>
                                        <div class="input-group col-4">
                                            <input type="text" class="form-control" name="request_emp_cd" id="request_emp_cd" readonly>
                                            @*<div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="request_emp_cd_search_btn" onclick="DetectEmpSearch()" disabled><i class="fa fa-search"></i></button>
                                    </div>*@
                                        </div>

                                        <div class="input-group col-4">
                                            <input type="text" class="form-control" name="request_emp_nm" id="request_emp_nm" readonly>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">의뢰일자 / 의뢰종류</label>
                                        <div class="input-group col-4">
                                            <input type="text" class="form-control" name="request_date" id="request_date" readonly>
                                        </div>

                                        <div class="input-group col-4">
                                            <select class="form-control" name="request_level" id="request_level" disabled>
                                                @foreach (DataRow row in ((DataTable)ViewBag.request_level_d).Rows)
                                                {
                                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">처리 담당자</label>
                                        <div class="input-group col-4">
                                            <input type="text" class="form-control" name="despatch_charge_emp" id="despatch_charge_emp" readonly>
                                            @*<div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="despatch_charge_emp_search_btn" onclick="DetectEmpSearch()" disabled><i class="fa fa-search"></i></button>
                                    </div>*@
                                        </div>

                                        <div class="input-group col-4">
                                            <input type="text" class="form-control" name="despatch_charge_emp_nm" id="despatch_charge_emp_nm" readonly>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">처리 기한</label>
                                        <div class="input-group col-4">
                                            <input type="text" class="form-control" name="despatch_limit" id="despatch_limit" readonly>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">필요 작업</label>
                                        <div class="input-group col-8">
                                            <textarea class="form-control" name="request_contents" id="request_contents" cols="100" rows="5" style="height: 70px; resize: vertical;" readonly />
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="display-none" id="ConfirmDeviationProcessDownDiv_3">
                    <div class="row">
                        <div id="ConfirmDeviationProcessDownDiv_3_Left" class="col-8 pr-0">
                            <div class="box mb-0">
                                @(Html.DevExtreme().DataGrid()
                                    .ID("ConfirmDeviationProcessResultGrid")
                                    .ShowBorders(true)
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                                    .Height(360)
                                    .ShowColumnLines(true)
                                    .HoverStateEnabled(true)
                                    .ColumnAutoWidth(true)
                                    .KeyExpr("row_num")
                                    .Columns(c =>
                                    {
                                        c.Add().DataField("deviation_no").Caption("일탈번호");
                                        c.Add().DataField("survey_order_emp_nm").Caption("조사지시자");
                                        c.Add().DataField("survey_order_date").Caption("지시일자");
                                        c.Add().DataField("survey_charge_emp_nm").Caption("담당자");
                                        c.Add().DataField("survey_limit").Caption("조사기한");
                                        c.Add().DataField("deviation_survey_status_nm").Caption("조사상태");

                                        c.Add().DataField("survey_order_emp").Visible(false);
                                        c.Add().DataField("survey_order_date").Visible(false);
                                        c.Add().DataField("survey_charge_emp").Visible(false);
                                        c.Add().DataField("deviation_survey_status").Visible(false);
                                        c.Add().DataField("survey_result").Visible(false);
                                        c.Add().DataField("survey_result_type").Visible(false);
                                        c.Add().DataField("survey_cause").Visible(false);
                                        c.Add().DataField("necessary_work").Visible(false);
                                    })
                                    .OnFocusedRowChanged("ConfirmDeviationProcessResultSelect")
                                )
                            </div>
                        </div>

                        <div id="ConfirmDeviationProcessDownDiv_3_Right" class="col-4">
                            <div class="box mb-0">
                                <form id="ConfirmDeviationProcessResultForm">
                                    <div class="divName margin-bottom">
                                        <p>조사결과 정보</p>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">조사 결과</label>
                                        <div class="input-group col-8">
                                            <textarea class="form-control" name="survey_result" id="survey_result" cols="100" rows="5" style="height: 70px; resize: vertical;" readonly />
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">원인파악수준</label>
                                        <div class="input-group col-4">
                                            <select class="form-control" name="survey_result_type" id="survey_result_type" disabled>
                                                @foreach (DataRow row in ((DataTable)ViewBag.survey_result_type_d).Rows)
                                                {
                                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">발생 원인</label>
                                        <div class="input-group col-8">
                                            <textarea class="form-control" name="survey_cause" id="survey_cause" cols="100" rows="5" style="height: 70px; resize: vertical;" readonly />
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">필요 조치</label>
                                        <div class="input-group col-8">
                                            <textarea class="form-control" name="necessary_work" id="necessary_work" cols="100" rows="5" style="height: 70px; resize: vertical;" readonly />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="display-none" id="ConfirmDeviationProcessDownDiv_4">
                    <div class="row">
                        <div id="ConfirmDeviationProcessDownDiv_4_Left" class="col-8 pr-0">
                            <div class="box mb-0">
                                @(Html.DevExtreme().DataGrid()
                                    .ID("ConfirmDeviationProcessRequest2Grid")
                                    .ShowBorders(true)
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                                    .Height(360)
                                    .ShowColumnLines(true)
                                    .HoverStateEnabled(true)
                                    .ColumnAutoWidth(true)
                                    .KeyExpr("row_num")
                                    .Columns(c =>
                                    {
                                        c.Add().DataField("request_date").Caption("의뢰일자");
                                        c.Add().DataField("request_contents").Caption("필요작업");
                                        c.Add().DataField("request_level_nm").Caption("의뢰종류");
                                        c.Add().DataField("despatch_limit").Caption("처리기한");
                                        c.Add().DataField("despatch_charge_emp_nm").Caption("처리담당자");
                                        c.Add().DataField("deviation_capa_status").Caption("처리상태");

                                        c.Add().DataField("request_level").Visible(false);
                                        c.Add().DataField("despatch_charge_emp").Visible(false);
                                        c.Add().DataField("request_emp_cd").Visible(false);
                                        c.Add().DataField("request_emp_nm").Visible(false);
                                    })
                                    .OnFocusedRowChanged("ConfirmDeviationProcessRequest2Select")
                                )
                            </div>
                        </div>

                        <div id="ConfirmDeviationProcessDownDiv_4_Right" class="col-4">
                            <div class="box mb-0">
                                <form id="ConfirmDeviationProcessRequest2Form">
                                    <div class="divName margin-bottom">
                                        <p>예방조치 정보</p>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">의뢰자</label>
                                        <div class="input-group col-4">
                                            <input type="text" class="form-control" name="request_emp_cd2" id="request_emp_cd2" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="request_emp_cd_search_btn2" onclick="ConfirmDeviationProcessRequestEmpSearch();"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>

                                        <div class="input-group col-4">
                                            <input type="text" class="form-control" name="request_emp_nm2" id="request_emp_nm2" readonly>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">의뢰일자 / 의뢰종류</label>
                                        <div class="input-group col-4">
                                            <input type="text" class="form-control datepicker" name="request_date2" id="request_date2" value="@DateTime.Today.ToShortDateString()" disabled />
                                        </div>

                                        <div class="input-group col-4">
                                            <select class="form-control" name="request_level2" id="request_level2" disabled>
                                                @foreach (DataRow row in ((DataTable)ViewBag.request_level_d).Rows)
                                                {
                                                    <option value="@row["keyfield"]">@row["displayfield"]</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">처리 담당자</label>
                                        <div class="input-group col-4">
                                            <input type="text" class="form-control" name="despatch_charge_emp2" id="despatch_charge_emp2" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="despatch_charge_emp_search_btn2" onclick="ConfirmDeviationProcessDespatchChargeEmpSearch();"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>

                                        <div class="input-group col-4">
                                            <input type="text" class="form-control" name="despatch_charge_emp_nm2" id="despatch_charge_emp_nm2" readonly>
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">처리 기한</label>
                                        <div class="input-group col-4">
                                            <input type="text" class="form-control datepicker" name="despatch_limit2" id="despatch_limit2" value="@DateTime.Today.ToShortDateString()" disabled />
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label class="col-3">필요 작업</label>
                                        <div class="input-group col-8">
                                            <textarea class="form-control" name="request_contents2" id="request_contents2" cols="100" rows="5" style="height: 60px; resize: vertical;" />
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="ConfirmDeviationProcessDownDiv_5" class="display-none box mb-0" style="min-height: 362px;">
                    <div id="fileInfo">
                        <div align="right" id="btnDiv" class="m-1">
                            @*<button class="btn btn-secondary" id="file_Insert" onclick="ConfirmDeviationProcessFileAdd()">첨부</button>*@
                            <button class="btn btn-secondary" id="file_Open" onclick="ConfirmDeviationProcessFileOpen()">다운로드</button>
                            @*<button class="btn btn-secondary" id="file_Delete" onclick="ConfirmDeviationProcessFileDelete()">삭제</button>*@
                            @*<input type="file" id="fileData" style="display: none;" />*@
                        </div>
                        <div>
                            @(Html.DevExtreme().DataGrid()
                                .ID("ConfirmDeviationProcessFileGrid")
                                .ShowBorders(true)
                                .Selection(s => s.Mode(SelectionMode.Single))
                                .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                                .Height(329)
                                .ShowColumnLines(true)
                                .HoverStateEnabled(true)
                                .ColumnAutoWidth(true)
                                .KeyExpr("doc_file_id")
                                .Columns(c =>
                                    {
                                        c.Add().DataField("doc_name").Caption("문서명").Width("30%");
                                        c.Add().DataField("survey_charge_emp_nm").Caption("조사담당자").Width("10%");
                                        c.Add().DataField("deviation_survey_data_remark").Caption("비고").Width("60%");

                                        c.Add().DataField("doc_file_id").Visible(false);
                                        c.Add().DataField("deviation_survey_data_id").Visible(false);
                                    })
                                //.OnFocusedRowChanged("DeviationInvestigationFileSelect")
                            )
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

